<head>
	<meta name="viewport" content="initial-scale=1.0, width=device-width ,user-scalable=no">
</head>
<style>
	
	@font-face {
		font-family: AppleSDGothicNeo;
		src: local(AppleSDGothicNeo-UltraLight);
		font-weight:200;
	}
	@font-face {
		font-family: AppleSDGothicNeo;
		src: local(AppleSDGothicNeo-Light);
		font-weight:300;
	}
	@font-face {
		font-family: AppleSDGothicNeo;
		src: local(AppleSDGothicNeo-Regular);
		font-weight:400;
	}
	@font-face {
		font-family: AppleSDGothicNeo;
		src: local(AppleSDGothicNeo-Medium);
		font-weight:500;
	}
	@font-face {
		font-family: AppleSDGothicNeo;
		src: local(AppleSDGothicNeo-SemiBold);
		font-weight:600;
	}
	@font-face {
		font-family: AppleSDGothicNeo;
		src: local(AppleSDGothicNeo-Bold);
		font-weight:700;
	}
	
	body { font-size:12px; font-family:AppleSDGothicNeo-Light,sans-serif; }
	
	/*글자굵기*/
	.u-thin { font-weight:100; }
	.u-light { font-weight:200; }
	.u-demilight { font-weight:300; }
	.u-regular { font-weight:400; }
	.u-medium { font-weight:500; }
	.u-semibold { font-weight:600; }
	.u-bold { font-weight:700; }
	.u-black { text-shadow:0.5px 0;}
	
	.AppleSDGothicNeo-UltraLight  { font-family:'AppleSDGothicNeo-UltraLight',sans-serif; }
	.AppleSDGothicNeo-Light { font-family:'AppleSDGothicNeo-Light',sans-serif; }
	.AppleSDGothicNeo-Regular { font-family:'AppleSDGothicNeo-Regular',sans-serif; }
	.AppleSDGothicNeo-Medium { font-family:'AppleSDGothicNeo-Medium',sans-serif; }
	.AppleSDGothicNeo-SemiBold { font-family:'AppleSDGothicNeo-SemiBold',sans-serif; }
	.AppleSDGothicNeo-Bold { font-family:'AppleSDGothicNeo-Bold',sans-serif; }
</style>
<div>
	<p class="u-thin">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-light">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-demilight">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-regular">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-medium">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-semibold">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-bold">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-black">1234567890 가나다라마바사아자차카파타하</p>
</div>
<br>
<div class="AppleSDGothicNeo-Light">
	<p class="u-thin">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-light">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-demilight">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-regular">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-medium">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-bold">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-black">1234567890 가나다라마바사아자차카파타하</p>
</div>
<br>
<div class="AppleSDGothicNeo-Regular">
	<p class="u-thin">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-light">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-demilight">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-regular">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-medium">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-bold">1234567890 가나다라마바사아자차카파타하</p>
	<p class="u-black">1234567890 가나다라마바사아자차카파타하</p>
</div>
<br>
<div>
	<p class="AppleSDGothicNeo-UltraLight">1234567890 가나다라마바사아자차카파타하</p>
	<p class="AppleSDGothicNeo-Light">1234567890 가나다라마바사아자차카파타하</p>
	<p class="AppleSDGothicNeo-Regular">1234567890 가나다라마바사아자차카파타하</p>
	<p class="AppleSDGothicNeo-Medium">1234567890 가나다라마바사아자차카파타하</p>
	<p class="AppleSDGothicNeo-SemiBold">1234567890 가나다라마바사아자차카파타하</p>
	<p class="AppleSDGothicNeo-Bold">1234567890 가나다라마바사아자차카파타하</p>
</div>