1.当社は情報主体の同意、法律上の特別の定めに該当する場合のみ、個人情報を第三者に提供します。<br>
2.当社は次のように個人情報を第三者に提供しています。<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				個人情報の<br>提供を受ける者
			</th>
			<th align="center">
				提供する<br>個人情報項目
			</th>
			<th align="center">
				提供を受ける者の<br>個人情報の利用目的
			</th>
			<th align="center">
				提供を受ける者の<br>保有利用期間
			</th>
		</tr>
		<tr>
			<td align="center">
				CHANEL Korea 有限会社
			</td>
			<td align="center">
				氏名/携帯番号/生年月日/性別/住所/メールアドレス/<br>
				商品を購入した日時/購入した商品/購入した数量/<br>
				合計注文金額/注文番号/<span class="white-space-nowrap">DONGHWA Duty Free ShopのID</span>
			</td>
			<td align="center">
				CHANELのコスメティック商品の広報および<br>
				マーケティング活動、プロモーションに利用
			</td>
			<td align="center">
				5年
			</td>
		</tr>
		<tr>
			<td align="center">
				㈱Amorepacific
			</td>
			<td align="center">
				氏名、 性別、生年月日、国籍、住所、<br>
				㈱Amorepacificの商品に関する購入情報<br>
				(DONGHWA免税店のID、購入日時、商品、数量、金額)
			</td>
			<td align="center">
				購入データの分析およびプロモーションの企画
			</td>
			<td align="center">
				5年
			</td>
		</tr>
	</tbody>
</table>
<br>
3.情報主体が同意しない場合、個人情報を提供しません。お客様は、個人情報提供に関する同意をいつでも撤回できます。<br>
<br>
※ 同意を拒否する権利および同意を拒否する場合<br>
- 上記に対して同意を拒否することはできます。同意しない場合、会員登録はできますが、サービス特典などのご利用が制限されることがあります。