인터넷 쇼핑몰 利用標準約款<br>
<br>
제1조(목적)<br />
이 약관은 (주)동화면세점이 운영하는 쇼핑몰 &quot;동화인터넷면세점&quot;(이하 &quot;동화면세점&quot;이라 한다)에서 제공하는 인터넷 관련 서비스(이하 &quot;서비스&quot;라 한다)를 이용함에 있어 쇼핑몰과 이용자의 권리&bull;의무 및 책임사항을 규정함을 목적으로 합니다.<br>
※ 「PC통신등을 이용하는 전자거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다」<br>
&nbsp;<br>
제2조(정의)<br />
① &quot;동화면세점&quot; 이란&nbsp; (주)동화면세점이 재화 또는 용역을 이용자에게 제공하기 위하여 컴퓨터등 정보통신설비를 이용하여 재화 또는 용역을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 쇼핑몰을 운영하는 사업자의 의미로도 사용합니다.<br>
② &quot;이용자&quot;란 &quot;동화면세점&quot;에 접속하여 이 약관에 따라 &quot;동화면세점&quot;이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.&nbsp;<br>
③ &#39;회원&#39;이라 함은 &quot;동화면세점&quot;에 개인정보를 제공하여 회원등록을 한 자로서, &quot;동화면세점&quot;의 정보를 지속적으로 제공받으며, &quot;동화면세점&quot;이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.<br>
④ &ldquo;SNS간편가입(준회원) 또는 SNS회원&rdquo;이라 함은 &ldquo;동화인터넷면세점&rdquo;에 개인정보를 일부 제공하고, 본인확인절차를 SNS업체에&nbsp;확인하여 준회원 회원등록을 한 자로서, 구매업무를 제외한 &ldquo;동화인터넷면세점&rdquo;이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.<br>
⑤ &#39;비회원&#39;이라 함은 회원에 가입하지 않고 &quot;동화면세점&quot;이 제공하는 서비스를 이용하는 자를 말합니다.<br>
&nbsp;<br>
제3조 (약관의 명시와 개정)<br />
① &quot;동화면세점&quot;은 이 약관의 내용과 상호, 영업소 소재지의 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 전자우편 주소 등) 등을 이용자가 알 수 있도록 &rdquo;동화면세점&rdquo;의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 합니다.<br>
② &quot;동화면세점&quot;은 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제에 관한 법률, 전자문서 및 전자거래기본법, 전자서명법, 정보통신망이용촉진등에 관한 법률, 방문판매등에 관한 법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br>
③ &quot;동화면세점&quot;이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 &ldquo;동화면세점&rdquo;의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관 내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 &ldquo;동화면세점&rdquo;은 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.<br>
④ &quot;동화면세점&quot;이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 &#39;동화면세점&quot;에 송신하여 &quot;동화면세점&quot;의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.<br>
⑤ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래등에서의 소비자보호에 관한 법률, 약관의 규제등에 관한 법률, 공정거래위원회가 정하는 전자상거래등에서의 소비자보호지침 및 관계법령 또는 상관례에 따릅니다.<br>
&nbsp;<br>
제4조(서비스의 제공 및 변경)<br />
① &quot;동화면세점&quot;은 다음과 같은 업무를 수행합니다.<br>
&nbsp;&nbsp; 1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결<br>
&nbsp;&nbsp; 2. 구매계약이 체결된 재화 또는 용역의 배송<br>
&nbsp;&nbsp; 3. 기타 &quot;동화면세점&quot;이 정하는 업무<br>
② &quot;동화면세점&quot;은 재화의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화&bull;용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화&bull;용역의 내용 및 제공일자를 명시하여 현재의 재화&bull;용역의 내용을 게시한 곳에 즉시 공지합니다.<br>
③ &quot;동화면세점&quot;이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화의 품절 또는 기술적 사양의 변경등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지하며, &quot;동화면세점&quot;은 이로 인하여 이용자가 입은 손해를 배상합니다. 단, &quot;동화면세점&quot;에 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.<br>
&nbsp;<br>
제5조(서비스의 중단)<br />
① &quot;동화면세점&quot;은 컴퓨터 등 정보통신설비의 보수점검&bull;교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.<br>
② 제1항에 의한 서비스 중단의 경우에는 &quot;동화면세점&quot;은 제8조에 정한 방법으로 이용자에게 통지합니다.<br>
③ &quot;동화면세점&quot;은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단 &quot;동화면세점&quot;에 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.<br>
④ 사업종목의 전환, 사업의 포기, 업체간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 &ldquo;동화면세점&rdquo;은 제8조에 정한 방법으로 이용자에게 통지하고 당초 &ldquo;동화면세점&rdquo;에서 제시한 조건에 따라 소비자에게 보상합니다. 다만, &ldquo;동화면세점&rdquo;이 보상기준 등을 고지하지 아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 &ldquo;동화면세점&rdquo;에서 통용되는 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.<br>
&nbsp;<br>
제6조(회원가입)<br />
① 이용자는 &quot;동화면세점&quot;이 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.<br>
② &quot;동화면세점&quot;은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각호에 해당하지 않는 한 회원으로 등록합니다.<br>
&nbsp;&nbsp; 1. 가입신청자가 이 약관 제7조제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 &quot;동화면세점&quot;의 회원재가입 승낙을 얻은 경우에는 예외로 한다.<br>
&nbsp;&nbsp; 2. 등록 내용에 허위, 기재누락, 오기가 있는 경우<br>
&nbsp;&nbsp; 3. 기타 회원으로 등록하는 것이 &quot;동화면세점&quot;의 기술상 현저히 지장이 있다고 판단되는 경우<br>
③ 회원가입계약의 성립시기는 &quot;동화면세점&quot;의 승낙이 회원에게 도달한 시점으로 합니다.<br>
④ 회원은 제15조제1항에 의한 등록사항에 변경이 있는 경우, 즉시 전자우편 기타 방법으로 &quot;동화면세점&quot;에 대하여 그 변경사항을 알려야 합니다.<br>
&nbsp;<br>
제7조(회원 탈퇴 및 자격 상실 등)&nbsp; <br />
① 회원은 &quot;동화면세점&quot;에 언제든지 탈퇴를 요청할 수 있으며 &quot;동화면세점&quot;은 즉시 회원탈퇴를 처리합니다.<br>
② 회원이 다음 각호의 사유에 해당하는 경우, &quot;동화면세점&quot;은 회원자격을 제한 및 정지시킬 수 있습니다.<br>
&nbsp;&nbsp; 1. 가입 신청시에 허위 내용을 등록한 경우<br>
&nbsp;&nbsp; 2. &quot;동화면세점&quot;을 이용하여 구입한 재화&bull;용역 등의 대금, 기타 &quot;동화면세점&quot;이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우<br>
&nbsp;&nbsp; 3. 다른 사람의 &quot;동화면세점&quot; 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우<br>
&nbsp;&nbsp; 4. &quot;동화면세점&quot;을 이용하여 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우<br>
③ &quot;동화면세점&quot;이 회원 자격을 제한&bull;정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 &quot;동화면세점&quot;은 회원자격을 상실시킬 수 있습니다.<br>
④ &quot;동화면세점&quot;이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.<br>
&nbsp;<br>
제8조(회원에 대한 통지)<br />
① &quot;동화면세점&quot;이 회원에 대한 통지를 하는 경우, 회원이 &quot;동화면세점&quot;에 제출한 전자우편 주소로 할 수 있습니다.<br>
② &quot;동화면세점&quot;은 불특정다수 회원에 대한 통지의 경우 1주일이상 &quot;동화면세점&quot; 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.<br>
&nbsp;<br>
제9조(구매신청)<br />
&ldquo;동화면세점&rdquo; 이용자 중 구매신청은 출국예정자에 한하여 가능하며, 외국인과 재외한국인은 구입한도가 없으나 내국인은 관계법령에 의하여 구입한도가 $3,000(술 1ℓ 이하 1병과 담배 200개비 등도 US$3,000에 포함됨)입니다. 이용자는 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, &ldquo;동화면세점&rdquo;은 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다. 단, 회원인 경우 제2, 4, 5호의 적용을 제외할 수 있습니다.<br>
&nbsp;&nbsp; 1. 재화 또는 용역의 검색 및 선택&nbsp;&nbsp;&nbsp;<br>
&nbsp;&nbsp; 2. 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력<br>
&nbsp;&nbsp; 3. 여권번호, 출국예정일자, 항공기 편명 또는 선박 편명, 출국 공항 또는 선박항의 입력<br>
&nbsp;&nbsp; 4. 약관내용, 청약철회권이 제한되는 서비스, 배송료&bull;설치비 등의 비용부담과 관련한 내용에 대한 확인<br>
&nbsp;&nbsp; 5. 이 약관에 동의하고 위 4호의 사항을 확인하거나 거부하는 표시(예, 마우스 클릭)<br>
&nbsp;&nbsp; 5. 재화 또는 용역의 구매신청 및 이에 관한 확인 또는 &ldquo;동화면세점&rdquo;의 확인에 대한 동의<br>
&nbsp;&nbsp; 7. 결제방법의 선택<br>
&nbsp;<br>
제10조 (계약의 성립)<br />
① &quot;동화면세점&quot;은 제9조와 같은 구매신청에 대하여 다음 각호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.<br>
&nbsp;&nbsp; 1. 신청 내용에 허위, 기재누락, 오기가 있는 경우<br>
&nbsp;&nbsp; 2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우<br>
&nbsp;&nbsp; 3. 기타 구매신청에 승낙하는 것이 &quot;동화면세점&quot; 기술상 현저히 지장이 있다고 판단하는 경우<br>
② &quot;동화면세점&quot;의 승낙이 제12조제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.<br>
③ &ldquo;동화면세점&rdquo;의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부, 구매신청의 정정 취소 등에 관한 정보 등을 포함하여야 합니다.<br>
&nbsp;<br>
제11조(지급방법)<br />
&quot;동화면세점&quot;에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각 호의 하나로 할 수 있습니다. 단, &ldquo;동화면세점&rdquo;은 이용자의 지급방법에 대하여 재화 등의 대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다.<br>
&nbsp;&nbsp;&nbsp; 1. 신용카드결제<br>
&nbsp;&nbsp;&nbsp; 2. 계좌이체<br>
&nbsp;&nbsp;&nbsp; 3. 마일리지 등 포인트 사용<br>
제12조(수신확인통지&bull;구매신청 변경 및 취소)<br>
① &quot;동화면세점&quot;은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.<br>
② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있습니다.<br>
③ &quot;동화면세점&quot;은 배송 전 이용자의 구매신청 변경 및 취소 요청이 있는 때에는 지체 없이 그 요청에 따라 처리합니다. 다만, 이미 대금을 지불한 경우에는 제15조의 청약철회 등에 관한 규정에 따릅니다.<br>
&nbsp;<br>
제13조(배송)<br />
① &quot;동화면세점&quot;은 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다.<br>
② 물품인도는 일정한 인도장소를 규정하여, 공항에서 세관, 법무부 심사를 마친 후 출국장 내 &ldquo;동화면세점&rdquo; 인도장 담당자에게 출국자 본인이 여권과 교환권번호, 비행기표를 제시하여 신분 확인 후 물품을 인수할 수 있습니다. 원칙적으로 수령장소는 본 약관에서 규정한 아래의 장소에 한합니다.<br>
&lt;인도장소&gt;<br>
- &ldquo;동화면세점&rdquo;의 면세품 인도데스크<br>
- 인천국제공항(출입국 심사대통과 후 여객터미널/ 탑승동 인도장)<br>
- 김포공항, 김해공항, 부산항<br>
- 기타 자세한 사항은 FAQ에 표시<br>
&nbsp;<br>
제14조(환급, 반품 및 교환)<br />
1.&nbsp; &quot;동화면세점&quot;은 이용자가 구매신청한 재화 또는 용역이 품절 등의 사유로 재화의 인도 또는 용역의 제공을 할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고, 사전에 재화 또는 용역의 대금을 받은 경우에는 대금을 받은 날부터 영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.<br>
&nbsp;<br>
2. 구매한 상품의 교환 또는 반품 방법은 다음 각 호와 같습니다.<br>
① 해외에서 국제우편을 통해 상품을 반품하고, 교환이나 환불 요청할 수 있습니다.<br>
② 교환,환불 대상 물품을 여행자가 직접 가지고 입국할 경우에는 세관에 자진신고 해야 합니다.(여행자 휴대품 면세범위 이하인 경우는 제외)<br>
③ 여행자가 면세점에서 구입한 면세물품을 직접 휴대 입국하여 환불을 요청하는 경우에는 입국 시 반드시 세관에 휴대품 신고 및 유치(환불하고자 하는 물품 가격 총액이 미화 600불 이하인 경우는 제외)해야 하며 면세법상 신고 및 유치하지 않은 경우에는 환불이 불가능합니다.<br>
④교환된 면세물품은 출국시 출국장 내 인도장에서 인도 받을 수 있습니다.<br>
&nbsp;<br>
3. 출국시 내국인의 구매한도는 1인당 미화 3,000불 이하이며, 입국시에는 면세점 구입 물품을 포함하여 해외에서 구입하여 가져오는 물품 총액이 1인당 미화 600불을 초과하는 경우에는 세관에 신고 후 세금을 납부하셔야 합니다. 만약 신고를 하지 않은 경우에는 미신고물품에 대하여 세금 외에 추가로 가산세까지 부가되며, 고의로 신고하지 아니하거나 허위로 신고하는 경우에는 관세법에 따라 처벌받을 수도 있음을 양지하시기 바랍니다.<br>
&nbsp;<br>
제15조(청약철회 등)<br />
① &ldquo;동화면세점&rdquo;과 재화 등의 구매에 관한 계약을 체결한 이용자는 상품수령일로부터 15일 이내에는 청약의 철회를 할 수 있습니다.<br>
② 이용자는 재화 등을 배송받은 경우 다음 각호에 해당하는 경우에는 반품 및 교환을 할 수 없습니다.<br>
&nbsp;&nbsp; 1. 이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)<br>
&nbsp;&nbsp; 2. 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우<br>
&nbsp;&nbsp; 3. 시간의 경과에 의하여 재판매가 곤란할 정도로 재화 등의 가치가 현저히 감소한 경우<br>
&nbsp;&nbsp; 4. 같은 성능을 지닌 재화 등으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우<br>
&nbsp;&nbsp; 5. 관계법령에 의하여 내국인이 구매한도 $3000와 면세한도 $600 이상으로 구매하여 입국시 세관에서 압류당하거나 상품인도를 받지 못한 경우<br>
③ 제2항 제2호 내지 제4호의 경우에 &ldquo;동화면세점&rdquo;이 사전에 청약철회 등이 제한되는 사실을 소비자가 쉽게 알 수 있는 곳에 명기하거나 시용상품을 제공하는 등의 조치를 하지 않았다면 이용자의 청약철회 등이 제한되지 않습니다.<br>
④ 이용자는 제1항 및 제2항의 규정에 불구하고 재화 등의 내용이 표시&bull;광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 그 재화 등을 공급받은 날부터 3개월 이내(그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내)에 청약철회 등을 할 수 있습니다.<br>
&nbsp;<br>
제16조 (청약철회 등의 효과)<br />
① &ldquo;동화면세점&rdquo;은 이용자로부터 재화 등을 반환 받은 경우 3영업일 이내에 이미 지급받은 재화 등의 대금을 환급합니다. 이 경우 &ldquo;동화면세점&rdquo;이 이용자에게 재화 등의 환급을 지연한 때에는 그 지연기간에 대하여 「전자상거래등에서의 소비자보호에 관한 법률 시행령」 제21조의2에서 정하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.<br>
② &ldquo;동화면세점&rdquo;은 위 대금을 환급함에 있어서 이용자가 신용카드 또는 전자화폐 등의 결제수단으로 재화 등의 대금을 지급한 때에는 지체 없이 당해 결제수단을 제공한 사업자로 하여금 재화 등의 대금의 청구를 정지 또는 취소하도록 요청합니다.<br>
③ 청약철회 등의 경우 공급받은 재화 등의 반환에 필요한 비용은 이용자가 부담합니다. &ldquo;동화면세점&rdquo;은 이용자에게 청약철회 등을 이유로 위약금 또는 손해배상을 청구하지 않습니다. 다만 재화 등의 내용이 표시&bull;광고 내용과 다르거나 계약내용과 다르게 이행되어 청약철회 등을 하는 경우 재화 등의 반환에 필요한 비용은 &ldquo;동화면세점&rdquo;이 부담합니다.<br>
④ 이용자가 재화 등을 제공받을 때 발송비를 부담한 경우에 &ldquo;동화면세점&rdquo;은 청약철회시 그 비용을 누가 부담하는지를 이용자가 알기 쉽도록 명확하게 표시합니다.<br>
&nbsp;<br>
제17조(개인정보보호 및 이용)<br />
동화면세점은 『정보통신망 이용촉진 및 정보보호에 관한 법률』, 『개인정보 보호법』 등 관계법령이 정하는 바에 따라 이용자의 개인정보를 보호하기 위하여 노력합니다. 개인정보의 보호에 관한 사항은 관계법령 및 개인정보처리방침을 준용 합니다.&nbsp;<br>
☞ <a href="http://www.lotte.com/main/common/forward.custPrivacy.lotte?tracking=FOOTER_MENU_04" target="_blank">개인정보처리방침 바로가기</a><br>
&nbsp;<br>
제18조(&quot;동화면세점&quot;의 의무)<br />
① &quot;동화면세점은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화&bull;용역을 제공하는 데 최선을 다하여야 합니다.<br>
② &quot;동화면세점&quot;은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.<br>
③ &quot;동화면세점&quot;이 상품이나 용역에 대하여 「표시&bull;광고의 공정화에 관한 법률」 제3조 소정의 부당한 표시&bull;광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.<br>
④ &quot;동화면세점&quot;은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.<br>
&nbsp;<br>
제19조( 회원의 ID 및 비밀번호에 대한 의무)<br />
① 제17조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.<br>
② 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.<br>
③ 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 &quot;동화면세점&quot;에 통보하고 &quot;동화면세점&quot;의 안내가 있는 경우에는 그에 따라야 합니다.<br>
&nbsp;<br>
제20조(이용자의 의무)<br />
이용자는 다음 행위를 하여서는 안됩니다.<br>
&nbsp;&nbsp; 1. 신청 또는 변경시 허위내용의 등록<br>
&nbsp;&nbsp; 2. 타인의 정보 도용<br>
&nbsp;&nbsp; 3. &quot;동화면세점&quot;에 게시된 정보의 변경<br>
&nbsp;&nbsp; 4. &quot;동화면세점&quot;이 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시<br>
&nbsp;&nbsp; 5. &quot;동화면세점&quot; 기타 제3자의 저작권 등 지적재산권에 대한 침해<br>
&nbsp;&nbsp; 6. &quot;동화면세점&quot; 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위<br>
&nbsp;&nbsp; 7. 외설 또는 폭력적인 메시지&bull;화상&bull;음성 기타 공서양속에 반하는 정보를 동화면세점에 공개 또는 게시하는 행위<br>
&nbsp;<br>
제21조(연결 몰과 피연결 몰 간의 관계)<br />
① 상위 몰과 하위 몰이 하이퍼 링크(예: 하이퍼 링크의 대상에는 문자, 그림 및 동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 몰(웹 사이트)이라고 하고 후자를 피연결 몰(웹사이트)이라고 합니다.<br>
② 연결 몰은 피연결 몰이 독자적으로 제공하는 재화&bull;용역에 의하여 이용자와 행하는 거래에 대해서 보증책임을지지 않는다는 뜻을 연결 몰의 초기화면 또는 연결되는 시점의 팝업화면으로 명시한 경우에는 그 거래에 대한 보증책임을 지지 않습니다.<br>
&nbsp;<br>
제22조(저작권의 귀속 및 이용제한)<br />
① &quot;동화면세점&quot;이 작성한 저작물에 대한 저작권 기타 지적재산권은 &quot;동화면세점&quot;에 귀속합니다.<br>
② 이용자는 &quot;동화면세점&quot;을 이용함으로써 얻은 정보 중 &ldquo;동화면세점&rdquo;에게 지적재산권이 귀속된 정보를 &quot;동화면세점&quot;의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.<br>
③ &ldquo;동화면세점&rdquo;은 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.<br>
&nbsp;<br>
제23조(분쟁해결)<br />
① &quot;동화면세점&quot;은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치&bull;운영합니다.<br>
② &quot;동화면세점&quot;은 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리 일정을 즉시 통보해 드립니다.<br>
③ &quot;동화면세점&quot;과 이용자간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.<br>
&nbsp;<br>
&nbsp;<br>
제24조(재판권 및 준거법)<br />
① &quot;동화면세점&quot;과 이용자간에 발생한 전자거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.<br>
② &quot;동화면세점&quot;과 이용자간에 제기된 전자상거래 소송에는 한국법을 적용합니다.<br>
&nbsp;<br>
[부칙]<br>
이 약관은 20xx년 xx 월 xx일부터(오픈일자) 시행되며 종전의 약관은 이 약관으로 대체합니다.<br>