个人信息受供方：<span class="inline-block">香奈儿韩国 有限公司</span><br>
提供的个人信息项目：<span class="inline-block">姓名/手机号码/出生日期/性别/地址/邮箱/产品购买时日/购买产品/购买数量/总订货金额/订单号/东和免税店ID</span><br>
受供方的个人信息使用目的：<span class="inline-block">用于香奈儿化妆品的宣传推销及市场营销</span><br>
受供方的持有使用期限：<span class="inline-block">5年</span>
