为了提供更好的服务以及方便消费者，公司如今在取得同意的个人信息使用目的范围内委托其他企业收集、保管、使用个人信息。为向消费者履行服务合约，公司在个人信息使用委托企业之外，通过合作营销委托使用个人信息的，将事先通过网站，在相应的服务页面告知消费者关于受托方、委托使用个人信息的业务内容等事项，并取得消费者同意。<br>
<br>公司 委托使用消费者个人信息的现况如下：<br>
<br>
<table border="" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<th align="center">
				受托企业
			</th>
			<th align="center">
				委托业务内容
			</th>
		</tr>
		<tr>
			<td align="center">
				韩国免税店协会
			</td>
			<td align="center">
				商品配送,提货处管理
			</td>
		</tr>
		<tr>
			<td align="center">
				KICC、KSNET、FDSK、支付宝、<br>
				Alliex、Danal、LG CNS
			</td>
			<td align="center">
				结算(LG CNS:Kakao 提醒)
			</td>
		</tr>
		<tr>
			<td align="center">
				（株）Staff Solution、（株）S-TEC System，<br>
				（株）Job &amp; People Korea、<br>
				（株）Human Leader，（株）Interbiz system、<br>
				（株）Kistemp，（株）Manpower Group Korea
			</td>
			<td align="center">
				物流、停车、销售、事务
			</td>
		</tr>
		<tr>
			<td align="center">
				（株）Duty free 24
			</td>
			<td align="center">
				在线相关业务及市场营销、宣传
			</td>
		</tr>
		<tr>
			<td align="center">
				（株）MPC
			</td>
			<td align="center">
				呼叫中心业务（再委托）
			</td>
		</tr>
		<tr>
			<td align="center">
				（株）Cheom Soft
			</td>
			<td align="center">
				顾客邮箱服务
			</td>
		</tr>
		<tr>
			<td align="center">
				（株）Beeds&amp;Block、（株）Rovermoot、<br>
				（株）Highone Systems、（株）Astom Tec
			</td>
			<td align="center">
				信息系统维护保修
			</td>
		</tr>
		<tr>
			<td align="center">
				（株）SUREM
			</td>
			<td align="center">
				发送移动赠品
			</td>
		</tr>
		<tr>
			<td align="center">
				（株）MCOM，（株）SK planet
			</td>
			<td align="center">
				提供会员制服务
			</td>
		</tr>
		<tr>
			<td align="center">
				urspace
			</td>
			<td align="center">
				在线活动服务
			</td>
		</tr>
		<tr>
			<td align="center">
				（株）LG U+
			</td>
			<td align="center">
				IDC 租赁及短信服务
			</td>
		</tr>
	</tbody>
</table>
<br>根据签署委托合同时的相关法令，公司禁止将个人信息用于委托业务之外的其他目的，并管理监督受托方是否安全使用个人信息。<br>
<br>※ 拒绝同意的权利并拒绝同意时
<br>- 有权拒绝同意上述事项，但同意委托使用必要信息是履行服务的必需条件，只有同意上述事项才可提供本公司的会员服务。