1. The Company shall provide personal information to a third party only if the subject's consent is obtained and it falls under the special provisions of the act.<br>
2. The Company provides the following personal information to a third party:<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center">
				Provided to
			</th>
			<th align="center">
				Items of Provided Information
			</th>
			<th align="center">
				Purpose of Provision
			</th>
			<th align="center">
				Period of<br>
				Information Retention and Use
			</th>
		</tr>
		<tr>
			<td align="center">
				Chanel Korea, Limited
			</td>
			<td align="center">
				Name/mobile phone number/birth date/gender/home address/email/<br>
				date and time of purchase/purchased product/<br>
				purchase quantity/total purchase amount/order number/Dongwha Duty Free ID
			</td>
			<td align="center">
				PR, marketing and<br>
				promotion of Chanel cosmetics
			</td>
			<td align="center">
				5 years
			</td>
		</tr>
		<tr>
			<td align="center">
				AmorePacific Co., Ltd
			</td>
			<td align="center">
				Name, gender, birth date, nationality, residential district (up to city/town),<br>
				purchase information of AmorePacific products<br>
				(Dongwha Duty Free ID, date and time of purchase,<br>
				product, quantity, and price)
			</td>
			<td align="center">
				Purchase data analysis and<br>promotion planning
			</td>
			<td align="center">
				5 years
			</td>
		</tr>
	</tbody>
</table>
<br>
3.  If the Customer’s consent is not obtained, their personal information is not provided. The Customer can withdraw their consent to provide the applicable information at any time after the consent.<br>
<br>
※ Rights to refuse consent and in the case of refusing consent<br> 
- The Customer can refuse to consent to the above items and apply for membership. However, access to some services, such as service benefits may be restricted.