 Within the purpose of using the information the Company entrusts the collection, storage and processing of the users’ personal information to third parties shown in the table, in order to provide convenience and better services to users. In the case of entrusting the task of processing personal information through an affiliate marketing company, in addition to entrusting the task of processing personal information in order to meet service commitments, the Company shall notify the user of such details on the homepage in advance and obtain consent from users.<br>
<br> 
The Company is entrusted with the following personal information of the user:<br>
<br>
<table border="" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<th align="center">
				Entrustment company
			</th>
			<th align="center">
				Details of entrustment
			</th>
		</tr>
		<tr>
			<td align="center">
				Korea Duty Free Shops Association
			</td>
			<td align="center">
				Product delivery, pickup point management 
			</td>
		</tr>
		<tr>
			<td align="center">
				KICC, KSNET, FDSK, Alipay,<br>
				Alliex, Danal, LG CNS
			</td>
			<td align="center">
				Payment processing (LG CNS: Kakao Notification Talk)
			</td>
		</tr>
		<tr>
			<td align="center">
				Staff Solution, S-Tec System, Job &amp; People Korea,<br> 
				Human Leader, Interbiz System, KISTEMP, ManpowerGroup Korea
			</td>
			<td align="center">
				Distribution, parking, sales, administration 
			</td>
		</tr>
		<tr>
			<td align="center">
				Duty Free 24
			</td>
			<td align="center">
				Online-related tasks, marketing and promotion
			</td>
		</tr>
		<tr>
			<td align="center">
				MPC
			</td>
			<td align="center">
				Call-center (re-entrustment)
			</td>
		</tr>
		<tr>
			<td align="center">
				Cheomservice
			</td>
			<td align="center">
				Customer mail service
			</td>
		</tr>
		<tr>
			<td align="center">
				Biz &amp; Block, Rovermoot,<br>
				Hione Systems, Astom Technology
			</td>
			<td align="center">
				Maintenance of information system
			</td>
		</tr>
		<tr>
			<td align="center">
				Mobile E&amp;M Ad
			</td>
			<td align="center">
				Delivery of mobile gifts
			</td>
		</tr>
		<tr>
			<td align="center">
				MCOM, SK Planet
			</td>
			<td align="center">
				Provision of membership services
			</td>
		</tr>
		<tr>
			<td align="center">
				UR Space
			</td>
			<td align="center">
				Online event services
			</td>
		</tr>
		<tr>
			<td align="center">
				LG U+
			</td>
			<td align="center">
				IDC lease and text messaging services
			</td>
		</tr>
	</tbody>
</table>
<br>
The Company, upon the signing of the entrustment contract, shall prohibit the entrust company from processing personal information for the purposes other than what is agreed to in accordance with relevant laws and regulations, and manage and supervise the entrust company to check if it handles personal information in a safe manner.<br>
<br>
※ Rights to refuse consent and in the case of refusing consent<br>
- 위 사항에 대한 동의를 거부할 수 있으나 필수정보의 취급위탁에 대한 동의는 서비스 이행을 위하며 필수적이므로, 위 사항에 동의하셔야만 당사의 회원 서비스 제공이 가능합니다.