个人信息收集项目<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center" colspan="3">
				内容
			</th>
			<th align="center" rowspan="2">
				收集项目
			</th>
			<th align="center" rowspan="2">
				收集目的
			</th>
		</tr>
		<tr>
			<th align="center">
				阶段
			</th>
			<th align="center">
				会员/非会员
			</th>
			<th align="center">
				必需/选择
			</th>
		</tr>
		<tr>
			<td align="center" rowspan="4">
				会员加入
			</td>
			<td align="center">
				正式会员
			</td>
			<td align="center">
				必需
			</td>
			<td>
				Id、密码、姓名（韩文和英文）、国籍、个人识别号（I-PIN）、<br>
				出生日期、性别、护照号码、护照到期日、<br>
				邮政编码、地址、手机号码、邮箱、CI/DI(本国人)
			</td>
			<td align="center">
				会员加入及会员管理
			</td>
		</tr>
		<tr>
			<td align="center">
				准会员
			</td>
			<td align="center">
				必需
			</td>
			<td>
				SNS认证号(SNS认证时)、邮箱(邮件认证时)、<br>
				姓名、出生日期、手机号码、电话号码
			</td>
			<td align="center">
				会员加入及会员管理
			</td>
		</tr>
		<tr>
			<td align="center">
				普通<br>（会员）
			</td>
			<td align="center">
				选择
			</td>
			<td>
				Vip卡号、合作公司代码、推荐人ID、<br>
				地址、手机号码、E-mail
			</td>
			<td align="center">
				用于市场营销及广告<br>（奖品/物品配送）
			</td>
		</tr>
		<tr>
			<td align="center">
				非会员
			</td>
			<td align="center">
				必需
			</td>
			<td>
				姓名（韩文/英文）、国籍、邮箱、护照号码、<br>
				护照到期日、手机号码、性别、出生日期、密码
			</td>
			<td align="center">
				会员加入及会员管理
			</td>
		</tr>
		<tr>
			<td align="center">
				购买商品
			</td>
			<td align="center">
				普通<br>（所有会员）
			</td>
			<td align="center">
				必需
			</td>
			<td>
				出国日期、出发地、目的地、直飞/中转与否、<br>
				航班号、信用卡信息、银行账户信息
			</td>
			<td align="center">
				提供产品或服务
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="3">
				1:1咨询<br>(顾客咨询)
			</td>
			<td align="center">
				会员
			</td>
			<td align="center">
				必需
			</td>
			<td>
				姓名、邮箱、手机号码、标题、内容
			</td>
			<td align="center">
				处理咨询事项（邮件）
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="2">
				非会员
			</td>
			<td align="center">
				必需
			</td>
			<td>
				姓名、邮箱、提问类型、标题、内容
			</td>
			<td align="center">
				处理咨询事项（邮件）
			</td>
		</tr>
		<tr>
			<td align="center">
				选择
			</td>
			<td>
				电话号码、手机号码
			</td>
			<td align="center">
				处理咨询事项<br>（电话/手机号码）
			</td>
		</tr>
	</tbody>
</table>
<br>
但是，可能在使用服务过程中生成并收集连接IP信息、插件、服务使用记录、登录日志、移动设备信息（OS信息、型号）等。<br>
<br>
※拒绝同意的权利并拒绝同意时<br>
 - 有权拒绝同意上述事项，但同意收集并使用个人信息是提供服务的必需条件，只有同意上述事项才可提供本公司的会员服务。