個人情報の取得項目<br>
<br>
<table>
	<tbody>
		<tr>
			<th align="center" colspan="3">
				区分
			</th>
			<th align="center" rowspan="2">
				取得項目
			</th>
			<th align="center" rowspan="2">
				取得目的
			</th>
		</tr>
		<tr>
			<th align="center">
				段階
			</th>
			<th align="center">
				会員/<br>
				非会員
			</th>
			<th align="center">
				必須/<br>
				選択
			</th>
		</tr>
		<tr>
			<td align="center" rowspan="4">
				会員登録
			</td>
			<td align="center">
				正会員
			</td>
			<td align="center">
				必須
			</td>
			<td>
				ID、パスワード、氏名(漢字、ローマ字)、国籍、I-PIN番号、生年月日、性別、<br>
				パスポート番号、パスポート満了日、郵便番号、<br>
				住所、携帯番号、メールアドレス、CI/DI(韓国人の場合)
			</td>
			<td align="center">
				会員登録および会員管理
			</td>
		</tr>
		<tr>
			<td align="center">
				準会員
			</td>
			<td align="center">
				必須
			</td>
			<td>
				SNS認証キー(SNS認証時)、メールアドレス(メール認証時)、<br>
				氏名、生年月日、携帯番号、電話番号
			</td>
			<td align="center">
				会員登録および会員管理	
			</td>
		</tr>
		<tr>
			<td align="center">
				共通<br>(会員)
			</td>
			<td align="center">
				選択
			</td>
			<td>
				VIPカード番号、提携会社コード、推薦者のID、<br>
				住所、携帯番号、メールアドレス
			</td>
			<td align="center">
				マーケティング活動および広告に利用<br>(景品/商品発送)
			</td>
		</tr>
		<tr>
			<td align="center">
				非会員
			</td>
			<td align="center">
				必須
			</td>
			<td>
				氏名(漢字・ローマ字)、国籍、メールアドレス、パスポート番号、<br>
				パスポート満了日、携帯番号、性別、生年月日、パスワード
			</td>
			<td align="center">
				会員登録および会員管理
			</td>
		</tr>
		<tr>
			<td align="center">
				商品の購入
			</td>
			<td align="center">
				共通<br>(すべての会員)
			</td>
			<td align="center">
				必須
			</td>
			<td>
				出国日、出発地、到着地、直行/経由、便名、クレジットカード、銀行口座
			</td>
			<td align="center">
				財貨またはサービスの提供
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="3">
				1:1のお問い合わせ<br>(お客様お問い合わせ)
			</td>
			<td align="center">
				会員
			</td>
			<td align="center">
				必須
			</td>
			<td>
				氏名、メールアドレス、携帯番号、タイトル、内容
			</td>
			<td align="center">
				お問い合わせの処理<br>(メール)
			</td>
		</tr>
		<tr>
			<td align="center" rowspan="2">
				非会員
			</td>
			<td align="center">
				必須
			</td>
			<td>
				氏名、メールアドレス、お問い合わせカテゴリー、タイトル、内容
			</td>
			<td align="center">
				お問い合わせの処理<br>(メール)
			</td>
		</tr>
		<tr>
			<td align="center">
				選択
			</td>
			<td>
				電話番号、携帯番号
			</td>
			<td align="center">
				お問い合わせの処理<br>(電話/携帯番号)
			</td>
		</tr>
	</tbody>
</table>
<br>
ただし、サービスをご利用いただく際、接続IP、クッキー(cookie)、サービスの利用記録、接続ログ、モバイル端末情報(OS、モデル名)などが取得されることがあります。<br>
<br>
※ 同意を拒否する権利および同意を拒否する場合<br>
-上記に対して同意を拒否することはできますが、サービスを提供させていただく際、個人情報の取得および利用の同意は必須となります。サービスをご利用いただくためには、上記にご同意くださいますようお願いいたします。