Article 1 (Purpose)<br>
The purpose of these terms and conditions is to stipulate the rights, obligations, and other responsibilities between by Dongwha Duty Free Shop Co., Ltd  and users in relation to the use of the internet services (hereinafter, referred to as "services") provided through the "Dongwha Online Duty Free Shop" (hereinafter, referred to as Dongwha Duty Free) website operated by the company.<br>
※ 「Unless e-commerce transaction properties contradict its properties, the following terms and conditions apply to e-commerce transactions using PC Communication, etc.」<br>
<br>
Article 2 (Definitions)<br>
① The "Dongwha Duty Free" refers to a virtual place of business that the Dongwha Duty Free Shop Co., Ltd. has set up to enable trade of goods using information and communications equipment, such as computers, to provide goods or services to users. It can also refer to the company operating the shopping mall.<br>
② “User” refers to a member or non-member who accesses “Dongwha Duty Free” website and receives the services provided by “Dongwha Duty Free” in accordance with these terms and conditions.<br>
③ “Member” refers to a person who is registered as a member of “Dongwha Duty Free” by providing personal information and is entitled to constantly receive the information and services provided by "Dongwha Duty Free".<br>
④ "Simple Subscription via SNS (associate member) or SNS Member" means a person who is registered as an associate member by partially providing personal information to “Dongwha Duty Free” and verifying identification via a SNS provider and is entitled to constantly use the services provided by “Dongwha Duty Free", except for purchase.<br>
⑤ “Non-member” refers to a person who has not subscribed as a member but uses the services provided by “Dongwha Duty Free".<br>
<br>
Article 3 (Stipulation and Amendments of Terms and Conditions)<br>
① "Dongwha Duty Free” shall notify  the contents of these terms and conditions, company name, address of the business premises (including the address for customer complaint registration), name of company representative , business registration number, contact number, such as telephone, fax, email, and etc. on the first page (entire page) of the “Dongwha Duty Free” service website, so it is easily accessible by the users. However, the detailed contents of the terms and conditions shall be available via a link.<br>
② "Dongwha Duty Free" can amend these terms and conditions if it does not violate related laws, such as the Act on Consumer Protection in Electronic Commerce, etc., the Act on the Regulation of Terms and Conditions, Framework Act on Electronic Document and Commerce, the Digital Signature Act, Act on the Promotion of Information and Communications Network Utilization, etc., the Act on Door-to-Door Sales, etc., and the Consumer Protection Act.<br>
③ When "Dongwha Duty Free” amends the terms and conditions, it shall specify the effective date and the reason for amendment, along with the existing terms and conditions, and post it on the  first page of the “Dongwha Duty Free” website from seven (7) days prior to the effective date to the one (1) day prior to the effective date. However, if the amendment can be disadvantageous to the user, the notice will be given with at least thirty (30) days of a grace period. In this case, “Dongwha Duty Free” shall provide a clear comparison of contents before and after the amendment to enhance the understanding of the user.<br>
④ When "Dongwha Duty Free" amends these terms and conditions, the amendment shall be binding only to contracts entered into after the effective date and prior-amendment provisions shall still be applicable to the contracts entered into before the amendment. However, if the user who already entered into a contract before the amendment wishes to have the amended terms and conditions applied, they can be do so by contacting “Dongwha Duty Free” within the notice period of the amendments pursuant to Paragraphs 3 and obtain consent from "Dongwha Duty Free".<br>
⑤ Any issues not defined in the terms and conditions and the interpretation of these terms and conditions shall follow the Act on Consumer Protection in the Electronic Commerce, etc., the Act on the Regulation of Terms and Conditions, and the relevant laws and regulations or commercial practices defined on the Guidelines for the Consumer Protection in the Electronic Commerce, etc., established by the Fair Trade Commission of Korea.<br>
<br>
Article 4 (Service Provision and Change)<br>
① "Dongwha Duty Free” shall perform the following tasks:<br>
&nbsp;&nbsp; 1. Provision of goods or service information and signing of purchase contracts.<br>
&nbsp;&nbsp; 2. Delivery of goods or services with which a purchase contract is signed.<br>
&nbsp;&nbsp; 3. Any other tasks determined by “Dongwha Duty Free”.<br>
② When a product is sold out or technical specification changes, "Dongwha Duty Free” may change the contents of the product and service to be provided, pursuant to the contract to be signed. In this case, the contents and provision date of the changed product and service shall be specified and notified immediately on the current product or services page.<br>
③ When "Dongwha Duty Free" changes the contents of the services agreed to be provided, pursuant to the contract entered into with the user due to out-of-stock products or changes in technical specification, etc., the cause shall be immediately notified to the user via a valid address. "Dongwha Duty Free" shall be liable for any damages caused to the user. However, "Dongwha Duty Free" will have no liability if absence of intention or fault is proven.<br>
<br>
Article 5 (Suspension of Service)<br>
① "Dongwha Duty Free" may temporarily suspend the provision of services in the event of a repair, inspection, change or malfunction or communication breakdown of information and communication equipment, such as a computer.<br>
② For suspension of services pursuant to Paragraph 1, "Dongwha Duty Free" shall notify the user in the manner specified in Article 8.<br>
③ "Dongwha Duty Free" shall be liable for any damage caused to a user or a third party when the provision of services is temporarily suspended for the reasons specified in Paragraph 1. However, “Dongwha Duty Free” will have no liability if absent of intention or fault if proven.<br>
④ When services cannot be offered due to the change of business item, the abandonment of business, the mergers between companies, etc., "Dongwha Duty Free" shall notify the users in the manner specified in Article 8 and shall provide compensation in accordance with the conditions presented by "Dongwha Duty Free". However, if "Dongwha Duty Free" does not notify the users of the compensation standards, the mileage or accumulated money will be paid in cash or in an item of value equivalent to the currency value used in "Dongwha Duty Free".<br>
<br>
Article 6 (Member Subscription)<br>
① To subscribe, the user must enter the personal information into the subscription form provided by “Dongwha Duty Free” and agree to these terms and conditions.<br>
② "Dongwha Duty Free" shall register the user who has applied for the membership subscription pursuant to Paragraph 1 and is not related to each subparagraph specified as follows:<br>
&nbsp;&nbsp; 1. In case of loss of membership in accordance with Article 7, Paragraph 3, with an exception of a person who has obtained the consent of membership re-subscription from "Dongwha Duty Free" because it has been at least three (3) years since the loss of membership.<br>
&nbsp;&nbsp; 2. In case the application includes false, omitted or incorrect information.<br>
&nbsp;&nbsp; 3. In case the application it is decided that the membership registration may noticeably disrupt the technical operation of “Dongwha Duty Free”.<br>
③ The subscription contract shall be valid from the moment the “Dongwha Duty Free” consent is delivered to the member.<br>
④ If there are any changes to the member information pursuant to Article 15, Paragraph 1, the member must immediately notify “Dongwha Duty Free” of the changes via email or other means.<br>
<br>
Article 7 (Membership Withdrawal, Disqualification, etc.)<br>
① The member may request membership withdrawal from “Dongwha Duty Free” at any time and “Dongwha Duty Free” shall immediately cancel the membership.<br>
② If any one of the following subparagraphs applies to the member, “Dongwha Duty Free” may restrict or suspend the qualifications of membership:<br>
1. In case the membership application includes false information.<br>
2. In case the member has outstanding payments for goods or services purchased via “Dongwha Duty Free” or has any other financial liabilities regarding use of “Dongwha Duty Free”;<br>
3. In case the member threatens the order of ecommerce regulations, such as disrupting the use of “Dongwha Duty Free” by other members or stealing personal information.<br>
4. In case the member engages in any act which is prohibited pursuant to relevant laws and regulations and this terms and conditions, or which is in violation of the public order and good morals while using “Dongwha Duty Free”.<br>
③ If the member engages in the same act again after “Dongwha Duty Free” restricts or suspends the membership, or the act continues after thirty (30) days, “Dongwha Duty Free” may cancel the membership.<br>
④ When “Dongwha Duty Free” cancels the membership, the membership information is destroyed. In this case, “Dongwha Duty Free” shall notify the relevant member and provide the member with a chance to provide a justifiable explanation at least thirty (30) days prior to the membership cancellation.<br>
<br>
Article 8 (Notification to Member)<br>
① When “Dongwha Duty Free” provides a notice to the member, it may be sent to the email address provided by the member to “Dongwha Duty Free”.<br>
②When “Dongwha Duty Free” provides a notice to unspecified individuals; it may be posted on the “Dongwha Duty Free” bulletin board for at least one (1) week instead of sending individual notices. However, an individual notice shall be sent issues that have a significant effect on the relevant member's transaction.<br>
<br>
Article 9 (Request of Purchase) The request of purchase is only applicable to users of “Dongwha Duty Free” that are expecting to depart the country. There is no purchase limit for foreigners or overseas, but as for Koreans, the purchase limit is USD $3,000 (which includes one bottle of less than one liter of alcohol, 200 cigarettes, etc.,) in accordance with relevant laws and regulations. The user shall request purchase through the following or similar method, and “Dongwha Duty Free” shall provide the explanation in a reader-friendly manner for each one of the following methods for the User’s purchase application: However, Subparagraph 2, 4, and 5 may not apply to members.<br>
1. Search and selection of products or services.<br>
2. Enter recipient’s name, address, phone number, email address (or mobile phone number), etc.<br>
3. Enter passport number, due departure date, flight number or vessel name, and airport or port for departure.<br>
4. Confirmation of the contents of the terms and conditions, the services to which the subscription cancellation right is restricted, and the cost-related contents, such as delivery fee and installation fee.<br>
5. Indication of agreeing to these terms and conditions and checking or refusing the matter under Subparagraph 4 (e.g. a mouse click).<br>
5. Request for purchase of goods or services, confirmation or an agreement to the confirmation by “Dongwha Duty Free”.<br>
7. Selection of a payment method.<br>
<br>
Article 10 (Signing a Contract)<br>
①  “Dongwha Duty Free” may reject the request for purchase pursuant to Article 9, if any one of the following subparagraphs applies: However, if a contract is entered into with a minor, “Dongwha Duty Free” shall notify the minor that the contract may be cancelled by oneself or one’s legal guardian if the consent by legal guardian is not obtained.<br>
1. In case the application includes false, omitted or incorrect information.<br>
2. In case a minor purchases the goods or services prohibited pursuant to the Juvenile Protection Act, such as, cigarettes, alcoholic beverages.<br>
3. In case it is decided that accepting the request of purchase application approval noticeably may disrupt the technical operation of “Dongwha Duty Free”.<br>
② A contract shall be valid at the moment “Dongwha Duty Free” approval is delivered to a user via any form of a receipt confirmation in accordance with Article 12, Paragraph 1.<br>
③ The approval by “Dongwha Duty Free” shall include information, such as the confirmation of the user’s purchase request, whether a product is sellable, and any modification or cancellation of the purchase request.<br>
<br>
Article 11 (Payment Method) The payment for the goods or services purchased via “Dongwha Duty Free” shall be made through any one of the methods under the following subparagraphs: However, “Dongwha Duty Free” cannot  impose any commission for the payment method other than the payment for the goods or services.<br>
&nbsp;&nbsp; 1. Credit card payment.<br>
&nbsp;&nbsp; 2. Account transfer. <br>
&nbsp;&nbsp; 3. Payment through the points, such as mileage.<br>
Article 12 (Receipt Confirmation Notice, Purchase Application Change and Cancellation)<br>
① If a user requests a purchase, “Dongwha Duty Free” shall provide a receipt confirmation notice to the user.<br>
② The user who receives the receipt confirmation notice may immediately request the purchase requisition modification or cancelation if there is any misunderstanding on their intention.<br>
③ “Dongwha Duty Free” shall handle the request of purchase application change or cancelation without delay if such request is made prior to the delivery. However, if a payment has already been made, it shall follow the stipulation of Subscription Cancelation under Article 15. <br>
<br>
Article 13 (Delivery)<br>
① "Dongwha Duty Free" shall specify the delivery means, such as the person responsible for delivery expenses, delivery period regarding the products the users purchased.<br>
② The product pickup shall be made at a prescribed place. After clearing customs and monitoring by the Ministry of Justice at the airport, the departing user can receive the product upon verifying their identity with their passport, the number of the exchange number and the flight ticket to the person in charge of “Dongwha Duty Free” product pickup area within the departure lounge. The primary pickup place is limited to the places below as prescribed in these terms and conditions:<br>
< Pickup Place ><br>
- Duty-free pickup desk of “Dongwha Duty Free” <br>
- Incheon International Airport (at the passenger terminal after clearing immigration/pickup at the boarding building) <br>
- Gimpo International Airport, Gimhae International Airport, Busan Port<br>
- Further details are specified in FAQ.<br>
<br>
 Article 14 (Refund, Return and Exchange)<br>
1. When the product or service, after a user’s purchase request, cannot be provided for reasons, such as sold out stock, “Dongwha Duty Free” shall notify the user of the reason without delay, and if the payment for the product or service has already been made, it shall be refunded within the business day of the receipt or other necessary action for the refund shall take place.<br>
<br>
2. Purchased products can be exchanged or returned as specified in each subparagraph below:<br>
① Products can be returned via international mail from overseas countries, and requests for an exchange or refund can be made.<br>
② If a user enters Korea with the product to be exchanged or refunded, they shall voluntarily report to the customs, except for the case where the product is below the range of tax exemption.<br>
③ If a user requests to return the duty-free product purchased at the duty-free shop by entering Korea with the product, they shall report to the customs and allow it to be retained at the time of entry, except for the case when the total price to be refunded is less than USD $600. The refund is not possible for products is not reported or retained.<br>
④ A user can receive the exchanged tax-free product at the pickup location within the departure lounge.<br>
<br>
3. The purchase limit for Koreans residing in Korea at departure is less than USD $3,000 per person. At arrivals, a user must report to customs and pay the tax if the total amount of products purchased from overseas exceed USD $600 per person. If a user does not report the products, an additional tax on top of the original tax is imposed on the undeclared products. If a user intentionally omits to report or makes a false report, the punishment under the Customs Act may be imposed.<br>
<br>
Article 15 (Cancellation of Agreement)<br>
① The user who has signed a contract with “Dongwha Duty Free” for the purchase of goods may cancel the subscription within 15 days from the date of receipt of the products.<br>
② For goods that are delivered, a user cannot return or exchange it if any of the following subparagraphs applies:<br>
1. In case the good is destroyed or damaged for the reason related to the responsibility of the user. (However, if the packaging is damaged in order to confirm the contents of the goods, the agreement for the goods can be canceled.)<br>
2. In case the value of goods has significantly decreased due to the user’s use or some consumption.<br>
3. In case the value of goods has significantly decreased due to the passing of time, limiting its ability to be resold.<br>
4. In case it is possible to copy the good of same performance and the packing of the original goods is damaged.<br>
5. In case the goods purchased by a Korean residing in Korea is confiscated at customs or failed to be picked up at arrivals due to exceeding the purchase limit of USD $3000 and tax exemption limit of USD, following to the relevant laws and regulations.<br>
③ For the case of Paragraph 2, Subparagraph 2 to 4, if “Dongwha Duty Free” does not specify in advance on an easily accessible page regarding the limits of an agreement cancelation, or does not take any action, such as providing a trial product, the cancelation is not restricted.<br>
④ If the contents of the goods are different from the packaging or advertised contents, or the contents of the contract are not properly executed, despite Paragraph 1 and 2, the user is liable for an agreement cancelation within three (3) months from the date of receipt of the goods (within thirty (30) days from the date on which the user knows the fact or could know the fact.)<br>
<br>
Article 16 (Effect of the Agreement Cancelation)<br>
① “Dongwha Duty Free”, in the case the user returns the product, shall make a refund of the payment already made within three (3) business days. If “Dongwha Duty Free” delays the refund of the product, the delay charge calculated by multiplying the delay period by delay interest rate as specified in Article 21 (2) of the Enforcement Decree of the Act on the Consumer Protection in the Electronic Commerce, etc. will be paid to the user.<br>
② If a user has used a relevant payment method, such as credit card or electronic money, to pay for the goods “Dongwha Duty Free” shall, without delay, request the payment service operator to suspend or cancel the relevant payment.<br>
③ For cancelation of an agreement, the expense necessary for the return of the product delivered to the user shall be borne by the user. “Dongwha Duty Free” shall not impose the cancellation charge or damages on the user for the agreement cancelation. However, if the agreement is canceled due to the contents of the goods being different with packaging or advertisements, or the contents of the contract was not properly executed; the expense necessary for the product return, shall be borne by “Dongwha Duty Free”.<br>
④ If the delivery fee has been borne by the user when the goods were delivered, “Dongwha Duty Free” shall clearly specify who should bear the cost in the case of an agreement cancelation for the understanding of users. <br>
<br>
Article 17 (Personal Information Protection and Utilization)<br>
“Dongwha Duty Free” shall make efforts to protect the user's personal information in accordance with relevant laws and regulations including the Act on the Promotion of Information and Communications Network Utilization, Information Protection, etc., and the Personal Information Protection Act. Any matter regarding personal information protection shall be followed by relevant laws and regulations and the Guidelines for Personal Information Processing. <br>
☞  Go to the Guidelines for Personal Information Processing.<br>
<br>
Article 18 ("Dongwha Duty Free" Obligations)<br>
① “Dongwha Duty Free” shall not engage in any act prohibited by these terms and conditions, the relevant laws and regulations or in violation of public order and good morals. It shall make every effort to provide goods and services constantly and stably in accordance with the terms and conditions.<br>
② “Dongwha Duty Free” shall establish a security system to protect the user’s personal information (including credit information) so that the user can use the Internet service in a safe manner.<br>
③ “Dongwha Duty Free” shall be liable for the damages caused to the user due to the unfair indication or advertising pursuant to Article 3 of the Act on Fair Labeling and Advertising with regard to products or services.<br>
④ “Dongwha Duty Free” shall not send any advertising emails for profit pursuit without user’s consent.<br>
<br>
Article 19 (Member Obligations Regarding ID and Password)<br>
① A member is responsible for the management of their ID and password, except for the issues stated in Article 17.<br>
② A member shall not allow a third party to use their ID and password.<br>
③ A member shall immediately notify “Dongwha Duty Free” if their ID and password is stolen or becomes aware that a third party is using them, and if there is any direction from “Dongwha Duty Free” regarding this, the member shall follow it.<br>
<br>
Article 20 (User Obligations)<br>
A user shall not be allowed to engaging in the following acts:<br>
&nbsp;&nbsp; 1. Input of false information in the case of registration or change.<br>
&nbsp;&nbsp; 2. Theft of personal information.<br>
&nbsp;&nbsp; 3. Change of the information uploaded on “Dongwha Duty Free”.<br>
&nbsp;&nbsp; 4. Transmission or posting of the information (computer program, etc.) other than the one designated by “Dongwha Duty Free”.<br>
&nbsp;&nbsp; 5. Violation of the intellectual property right, such as copyright, of “Dongwha Duty Free” or a third party.<br>
&nbsp;&nbsp; 6. An act which damages the reputation of or interferes with the work of “Dongwha Duty Free” or a third party.<br>
&nbsp;&nbsp; 7. An act that discloses or posts obscene or violent message, videos or audio recordings, or any other information which is in violation of the public order and good morals.<br>
<br>
Article 21 (Relationship Between the Connecting Malls and the Connected Moles)<br>
①  In case the upper mall and the lower mall are connected by hyperlinks (e.g.: the subject of the hyperlink includes characters, pictures and moving images), the former is referred to as a connection mall (website) and the latter is referred to as a connected mall (website).<br>
② If the connecting mall specifies the intention that it does not bear any surety liability regarding the transaction with the user who purchases the product or service independently provided by the connected mall, on the initial page of the connecting mall or through the pop-up screen at the time point of connection, it does not bear any surety liability incurred after the transaction.<br>
<br>
Article 22 (Copyright Ownership and Use Restriction)<br>
①  Copyright or any other intellectual property rights regarding the copyrighted work by “Dongwha Duty Free” shall belong to the "Dongwha Duty Free.”<br>
② With regard to intellectual property rights vested in “Dongwha Duty Free” among the information obtained by using “Dongwha Duty Free”, the user shall not utilize for any profit through copying, transmitting, publishing, distributing, broadcasting, or through any other manner, or allow a third party to utilize without the prior consent of the “Dongwha Duty Free.”<br>
③ In case of utilizing the copyright belonging to the user, “Dongwha Duty Free” shall notify the relevant user in accordance with stipulation of the contract.<br>
<br>
Article 23 (Dispute Resolution)<br>
①  “Dongwha Duty Free” shall establish and operate the damage compensation processing department in order to reflect a reasonable opinion or complaint raised by the user and provide compensation for the loss or damage.<br>
② “Dongwha Duty Free” shall put a priority on the handling of a complaint or an opinion submitted by the user. However, if a quick handling of the situation is not possible, the user shall be notified of the relevant ground and the processing schedule without delay.<br>
③ If there is the user's request for a damage relief regarding an electronic commerce dispute between “Dongwha Duty Free” and the user, the two entities may follow the mediation by the Fair Trade Commission or the dispute mediation organization commissioned by a mayor or a governor. <br>
<br>
<br>
Article 24 (jurisdiction and Governing Law)<br>
① For lawsuits regarding an electronic commerce dispute between “Dongwha Duty Free” and the user, the governing jurisdiction shall be the court related to the user’s address at the time of the dispute, and if there is no such address, the exclusive jurisdiction shall be the local court within the user’s residence. However, if the address or residence of the user is unclear or if the user resides abroad, a lawsuit shall be filed to a competent court pursuant to the Civil Proceedings Act.<br>
② The laws of Republic of Korea shall be applicable to any electronic commerce lawsuit filed between “Dongwha Duty Free” and the user.<br>
<br>
[Supplementary Provision]<br>
These terms and conditions shall be valid from 20xx/xx/xx (opening date), and replaces the existing terms and conditions.<br>