第1条（目的）<br>
本条款旨在规定使用（株）东和免税店运营的商城“东和网上免税店”（以下简称“东和免税店”）所提供的相关网上服务（以下简称“服务”）时，商城和消费者的权利和义务以及责任事项。<br>
※使用PC通信等进行的电子交易，不违背其特性时，也适用本条款。<br>
<br>
<br>
第2条（定义）<br>
①“东和免税店”是指（株）东和免税店为向顾客提供商品或服务而设置的可通过电脑等信息通信设备进行商品或服务交易的虚拟营业场所，同时也用于指称商城的运营者。<br>
②“消费者”是指访问“东和免税店”，根据此条款接受“东和免税店”所提供之服务的会员和非会员。  <br>
③“会员”是指向“东和免税店”提供个人信息注册会员，从而可持续获得“东和免税店”的信息，持续使用“东和免税店”提供的服务者。<br>
④“SNS快捷注册（准会员）或者 SNS会员”是指向“东和网上免税店”提供部分个人信息，通过SNS企业进行本人确认程序注册准会员，可持续使用“东和网上免税店”提供的除购买业务之外的其他服务者。<br>
⑤“非会员”是指未注册会员而使用“东和免税店”所提供服务者。<br>
<br>
<br>
第3条 （条款的明示和修改）<br>
①“东和免税店”在网站首页服务页面（整版）公布本条款的内容和商户、营业场所地址（包括处理消费者投诉的地址）、法人代表姓名、营业执照编号、联系方式（电话、传真、电子邮箱等）等内容，以便消费者知悉。条款的内容需要消费者点击链接查看。 <br>
②“东和免税店”可在不违反电子交易中的消费者保护相关法律、条款规制相关法律、电子文书及电子交易基本法、电子署名法、关于信息通信网使用促进等的法律、关于访问销售等的法律、消费者保护法等相关法律的范围内修改本条款。<br>
③“东和免税店”修改本条款时，将于新条款施行前7日起至施行前一日止，在“东和免税店”首页公告现行条款和新条款施行日期及修改事项。但若变更后的条款内容不利于消费者，则将至少预留30日以上的过渡期进行公示。此时，“东和免税店”将明确比较修改前后的内容，以便消费者容易理解。 <br>
④“东和免税店”修改本条款时，修改后条款只适用于其施行起始日之后签订的合同，对于之前已签订的合同仍适用修改前的条款内容。但若已签订合同的消费者希望适用修改后条款，可在第3项的修改条款公示期间内向“东和免税店”申请，取得同意后适用修改后条款。<br>
⑤本条款未规定的事项以及对于本条款的解释遵循电子交易中的消费者保护相关法律、条款规制相关法律、公正交易委员会制定的电子交易中的消费者保护指南和相关法令或惯例。<br>
<br>
<br>
第4条（服务的提供及变更）<br>
①“东和免税店”应履行以下业务：<br>
&nbsp;&nbsp; 1.提供商品或服务的信息以及签订购买合同<br>
&nbsp;&nbsp; 2.负责已签订购买合同的商品或服务的配送<br>
&nbsp;&nbsp; 3.其他“东和免税店”规定的业务<br>
②“东和免税店”商品售罄或变更技术样式时，可根据后续签订的合同变更将提供的商品和服务的内容。即刻在公告栏商品和服务处明示变更的商品和服务的内容和起供日期。 <br>
③“东和免税店”因商品售罄或变更技术式样等原因需变更已与消费者签订合同的服务内容时，将通过可联络地址告知消费者相应事由，并赔偿消费者因此所受的损失。但若可证明消费者的损失非“东和免税店”故意或过失造成，则不赔偿相应损失。<br>
<br>
<br>
第5条（服务中断）<br>
① 因信息通信设备的维修检查与交换以及发生故障、通信中断等情况时，“东和免税店”可能临时中断提供服务。<br>
② 因第1项所列原因中断服务时，“东和免税店”将按第8条规定的方法告知消费者。<br>
③ 因第1项原因临时中断服务而给消费者或第3方造成损失的，“东和免税店”将赔偿相应损失。但若可证明该损失非“东和免税店”故意或过失造成，则不赔偿相应损失。<br>
④ 因业务种类的转换、取消业务、企业间整合等原因导致无法提供服务时，“东和免税店”将根据第8条的规定告知消费者，并按照当初“东和免税店”提出的条件对消费者给予赔偿。但“东和免税店”未明示赔偿标准的，则向消费者支付与持有现金积分价值相应的实物或与在“东和免税店”通用的货币价值相应的现金。 <br>
<br>
<br>
第6条（注册会员）<br>
① 消费者按“东和免税店”规定的注册方式输入会员信息后，做出同意本条款的意思表示，则申请注册会员。<br>
② 按第1项步骤申请注册会员的消费者中，未出现下列各项情形者 ，“东和免税店”将通过其会员注册申请。<br>
&nbsp;&nbsp; 1.申请人曾因本条款第7条第3项规定被取消过会员资格，但不包括按第7条第3项规定取消会员资格3年后重新获得“东和免税店”会员注册承认者。<br>
&nbsp;&nbsp; 2.注册内容存在虚假、漏记、误记<br>
&nbsp;&nbsp; 3.其他被认定为“东和免税店”在注册会员时存在明显技术障碍的情形<br>
③ 会员注册合约的成立时间自“东和免税店”的认可传达至会员时起。<br>
④ 会员根据第15条第1项规定变更注册事项时，应即时通过电子邮件或其他方式将变更事项告知“东和免税店”。<br>
<br>
<br>
第7条(退出会员及取消资格等)  <br>
① 会员可随时向“东和免税店”要求退出会员，“东和免税店”将立即处理会员退出。<br>
② 会员有下列各项情形时，“东和免税店”可限制以及停止其会员资格。<br>
&nbsp;&nbsp; 1.申请注册时提供虚假信息<br>
&nbsp;&nbsp; 2.未在规定期限内支付在“东和免税店”所购商品和服务的货款或其他使用“东和免税店”时应由会员承担的费用<br>
&nbsp;&nbsp; 3.妨碍他人使用“东和免税店”或盗用他人信息等威胁电子交易秩序的情形<br>
&nbsp;&nbsp; 4.利用“东和免税店”进行法令和本条款禁止的行为或违背社会公德的行为<br>
③“东和免税店”限制与停止会员资格后，同一行为反复出现2次以上或未在30日内改正其行为者，“东和免税店”可取消其会员资格<br>
④“东和免税店”取消会员资格时将注销会员。此时将告知会员，并在注销会员前至少预留30日以上以供会员申辩。<br>
<br>
<br>
第8条(会员通知)<br>
①“东和免税店”可向会员提交的电子邮箱发送会员通知。<br>
②“东和免税店”向不特定多数会员进行通知时，可在“东和免税店”公告栏公告一周以上，而不再另行个人通知。但对会员个人交易产生重大影响的事项将进行个别通知。 <br>
<br>
<br>
第9条(购买申请)<br>
“东和免税店”顾客中将出境者可提交购买申请，外国人和外籍韩国人无购买限额，本国人依相关法令规定购买限额为3,000美元(3,000美元包含酒1ℓ以下1瓶和烟200支等)。消费者可按下列或类似方法提交购买申请，“东和免税店”应帮助消费者更加便捷地了解以下各项内容。会员可省略下列2、4、5项内容。 <br>
1.商品或服务的搜索和选择    <br>
2.姓名、地址、电话号码、电子邮箱（或手机号码）等的输入<br>
3.护照号码、预定出境日期、航班号或游轮号、出境机场或港口的输入<br>
4.条款内容、限制撤销购买的服务、配送费和安装费等费用负担相关内容的确认<br>
5.同意本条款并做出确认或拒绝以上4项内容的表现（例：点击鼠标）<br>
6.商品或服务的购买申请以及对此的相关确认，或同意“东和免税店”的确认<br>
7.选择结算方式<br>
<br>
<br>
第10条（合同的成立）<br>
① 对于第9条的购买申请，若存在下列各项情形，“东和免税店”可拒绝接受。与未成年人签订合同的，应告知其若未获取法定监护人的同意，则未成年人本人或法定监护人可取消合同。 <br>
&nbsp;&nbsp; 1.申请内容存在虚假、漏记、误记<br>
&nbsp;&nbsp; 2.未成年人购买烟、酒类等青少年保护法禁止的商品及服务<br>
&nbsp;&nbsp; 3.其他被认定为“东和免税店”在接受购买申请时存在明显技术障碍的情形<br>
②“东和免税店”的购买接受以第12条第1项的收信确认通知发送至消费者时起，视为合同成立。<br>
③“东和免税店”做出的接受购买的表现应包含确认消费者的购买申请以及是否可销售、取消购买申请的修改等相关信息。 <br>
<br>
<br>
第11条（支付方式）<br>
在“东和免税店”购买的商品或服务可使用以下任一方式进行支付。“东和免税店”不得以任何明目对消费者的支付方式收取商品金额之外的手续费。 <br>
&nbsp;&nbsp; 1.信用卡结算<br>
&nbsp;&nbsp; 2.转账汇款 <br>
&nbsp;&nbsp; 3.使用积分 <br>
第12条(确认收信通知与购买申请变更及取消)<br>
①消费者提交购买申请后，“东和免税店”将向消费者发送确认收信通知。<br>
②已收到确认收信通知的消费者发现信息不一致时，可在收到确认收信通知后即刻申请变更或取消购买申请。<br>
③消费者在发货前变更及取消购买申请的，“东和免税店”将即时处理。若货款已支付，则根据第15条的撤销购买相关规定处理。 <br>
<br>
<br>
第13条(配送)<br>
①“东和免税店”对消费者所购商品的配送方式、费用承担者以及配送时间等进行明示。<br>
② 物品领取在指定领取场所，经机场海关、法务部审查后，向出境处的“东和免税店”取货处工作人员出示出境者本人的护照、取货号码、机票，确认身份后可领取物品。原则上取货场所为本条款中指定的下列场所。 <br>
<取货场所><br>
- “东和免税店”的免税商品领取柜台 <br>
- 仁川国际机场(出入境审查台通过后的旅客航站楼/ 登机楼取货处) <br>
- 金浦机场、金海机场、釜山港<br>
- 其他详细事项请参阅 FAQ <br>
<br>
<br>
第14条(退款,退换货)<br>
1.“东和免税店”因消费者购买的商品或服务售罄等原因无法提供商品或服务时，应即时通知消费者；已事先收取商品或服务货款的，应自收取货款之日起于营业日内予以退款或采取退款所需措施。<br>
<br>
2.已购买商品的退换货方法如下： <br>
①可在境外通过国际邮件退回商品，要求换货或退款。 <br>
②游客直接携带欲退换货的商品入境时，应自行向海关进行申报。（未超出游客携带品免税范围的无需申报） <br>
③游客将在免税店购买的免税品直接携带入境要求退款的，入境时必须向海关申报并存放携带品（欲退款物品价格总额不超过600美元时无需申报并存放），免税法规定未申报并存放的物品不予退款。<br>
④换货后的免税品可于出境时在出境楼内的领取处领取。 <br>
<br>
3.出境时本国人的购买限额为每人3,000美元以下，入境时每人在免税店购买的物品和在海外购买携带入境的物品总额超过600美元时，需向海关申报后缴纳税款。若不进行申报，将对未申报物品除征收税金外追加征收罚金，故意不申报或虚假申报的，可按关税法进行处罚，敬请谅解。<br>
<br>
<br>
第15条(撤销购买等)<br>
① 与“东和免税店”签订商品等的购买合同的消费者可在商品收领日起15日内撤销购买。<br>
② 消费者已收到商品的，若存在下列各项情形，则不可退换货。 <br>
&nbsp;&nbsp; 1.因人为因素造成商品毁损的（但为确认商品的内容而破坏包装的，可撤销购买）<br>
&nbsp;&nbsp; 2.消费者的使用或部分消费导致商品的价值显著降低的<br>
&nbsp;&nbsp; 3.商品的价值随时间流逝显著降低以至于无法再次销售的<br>
&nbsp;&nbsp; 4.可用具有同样性能的物品进行仿造的，原商品的包装已破损<br>
&nbsp;&nbsp; 5.按相关法令规定本国人超过购买限额3000美元和免税额600美元购买商品，在入境时被海关扣押或未能领取商品的<br>
③有第2项第2条至第4条情形的，若“东和免税店”未事先在消费者容易知悉处明示此类情形可导致撤销购买受限，或未采取提供试用品等措施，则消费者的撤销购买可不受限制。<br>
④若商品的内容与标识及广告不符或未按合同内容履行，消费者可不受第1项和第2项规定的限制，于收到商品之日起3个月内（知晓其事实之日或可知晓之日起30日内）进行撤销购买。<br>
<br>
<br>
第16条 (撤销购买等的效果)<br>
①“东和免税店”收到消费者退回的商品后，于3个工作日内对已收款商品予以退款。若 “东和免税店”延迟向消费者退款，将按「电子交易中的消费者保护相关法律执行令」第21条2中规定的延期利率核算延期利息支付给消费者。<br>
② 消费者以信用卡或电子货币等结算方式支付商品货款的，“东和免税店”退款时应即时要求提供相应结算方式的企业停止或取消商品货款的支付申请。<br>
③ 取消购买时，退还商品所需费用由消费者承担。“东和免税店”不会以取消购买等理由向消费者收取违约金或赔偿金。若因商品的内容与标识及广告不符或未按合同内容履行而撤销购买的，退还商品所需费用由“东和免税店”承担。 <br>
④购买商品时由消费者承担运费的，“东和免税店”会明确告知消费者撤销购买时该费用由哪方承担。<br>
<br>
<br>
第17条(个人信息保护及使用)<br>
东和免税店按《关于信息通信网使用促进及信息保护的法律》,《个人信息保护法》等相关法令的规定保护消费者的个人信息。个人信息保护的相关事项遵循相关法令以及个人信息使用方针。 <br>
☞ 阅览个人信息使用方针 <br>
<br>
<br>
第18条(“东和免税店”的义务)<br>
①“东和免税店”不得做出法令和本条款禁止的或违反社会公德的行为，应遵循本条款的规定，持续稳定地提供商品和服务。<br>
②“东和免税店”应建立可保护消费者个人信息（包括信用信息）的保安系统以确保消费者可安全使用互联网服务。<br>
③“东和免税店”对于商品或服务若有《关于标识与广告的公正化的法律》第3条中规定的不当标识与广告行为，给消费者造成损失的，“东和免税店”承担相应赔偿责任。 <br>
④“东和免税店”不得违背消费者意愿向消费者发送具有营利性目的的广告电子邮件。<br>
<br>
<br>
第19条(会员对ID和密码的义务)<br>
① 除第17条内容之外，会员有管理ID和密码的责任。<br>
② 会员不得让他人使用自己的ID和密码。<br>
③ 会员发现自己的ID和密码失窃或正被他人使用时应立即告知“东和免税店”，“东和免税店”将根据通报指南操作处理。<br>
<br>
<br>
第20条(消费者的义务)<br>
消费者不得有以下行为：<br>
&nbsp;&nbsp; 1.申请或变更时提交虚假信息<br>
&nbsp;&nbsp; 2.盗用他人信息<br>
&nbsp;&nbsp; 3.变更向“东和免税店”公布的信息<br>
&nbsp;&nbsp; 4.发送或公布“东和免税店”规定信息之外的信息（电脑程序等）<br>
&nbsp;&nbsp; 5.侵害“东和免税店”其他第三方著作权等知识产权<br>
&nbsp;&nbsp; 6.损害“东和免税店”其他第三方名誉或妨碍业务的行为<br>
&nbsp;&nbsp; 7.向东和免税店公开或发布色情或暴力信息、视频、语音等其他违反社会公德的信息的行为<br>
<br>
<br>
第21条(连接商城与被连接商城的关系)<br>
① 上级商城和下级商城的超级链接(例: 超级链接的对象包括文字、图片及视频等)等方式进行连接时，前者称为连接商城(网站)后者称为被连接商城(网站)。<br>
② 连接商城在首页或连接时的弹出页面明确表示对于被连接商城以自主提供的商品和服务与消费者进行的交易不承担担保责任时，则不对该交易承担担保责任。<br>
<br>
<br>
第22条(著作权的归属及使用限制)<br>
①“东和免税店”编写的著作物，其著作权及其他知识产权归“东和免税店”所有。<br>
② 消费者在使用“东和免税店”时，获取的信息中知识产权归“东和免税店”所有的信息，未事先取得“东和免税店”的同意不得复制、发送、出版、发布、播放或以其他方式用于营利性目的，亦不得让第3方使用该信息。<br>
③“东和免税店”按约定使用归属消费者的著作权时，应告知相应消费者。<br>
<br>
<br>
第23条(解决纠纷)<br>
①“东和免税店”设立与运营受害补偿处理机构以反映消费者提出的合理意见或投诉，处理受害补偿相应事宜。<br>
②“东和免税店”优先处理消费者提出的投诉事项或意见。若无法立即处理，将告知消费者理由和处理日程。<br>
③消费者对于和“东和免税店”之间产生的电子交易纠纷提出受害赔偿申请的，可根据公正交易委员会或市道知事委托的纠纷调解机构的调解处理。 <br>
<br>
<br>
第24条(裁判权和准据法)<br>
①“东和免税店”和消费者间产生的电子交易纠纷相关诉讼由起诉时消费者的地址，无地址时为居所所属管辖的地方法院全权管辖。若起诉时消费者的地址或住所不明确，或是海外居住者，则向民事诉讼法规定的管辖法院提起诉讼。<br>
②“东和免税店”和消费者间提起的电子交易诉讼适用韩国法律。<br>
<br>
[附件]<br>
本条款自20xx年 xx 月 xx日起(开业日期)施行，之前的条款以本条款代替。<br>
<br>