<div class="dialog" id="datepicker">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">기간선택</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body">
			<div class="datepicker-view"></div>
		</div>
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->