<!--bottom-->
<div class="main_bottom">
	<div class="main_bottom__line">
		<dl>
			<dt>공지</dt>
			<dd>[적립금] Y니 브랜드 관련 적립금 변경 안내Y니 브랜드 관련 적립금 변경 안내</dd>
		</dl>
	</div>
	<!--div class="main_bottom__line version">버전안내 :현재 1.0./ 최신 2.0 <a href="" class="update">최신버전 업데이트</a></div-->
	<div class="main_bottom__line link_area">
		<ul>
			<li><a href="">로그인</a></li>
			<li><a href="">중國</a></li>
			<li><a href="" class="ex">환율 ￦1,117.5</a></li>
			<li><a href="">APP다운</a></li>
			<li><a href="">통역관광안내사</a></li>
		</ul>
	</div>
	<div class="main_bottom__info">
		<div class="main_bottom__info_company">
			㈜동화면세점 | 대표이사 신정희<br>
			서울특별시 종로구 세종대로 149<br>
			사업자등록번호 : 102-81-06181<br>
			통신판매신고번호 : 01-1816
		</div>
		<div class="cs_time"><span>고객센터 상담시간</span> : 09:30~23:30</div>
		<div class="main_bottom__info_link">
			<a href="tel:1688-6680" class="tel">1688-6680</a>
			<a href="mailto:webmaster@ondutyfree.com" class="email">webmaster@ondutyfree.com</a>
		</div>
	</div>
	<div class="main_bottom__info_terms">
		<ul>
			<li><a href="">동화면세점소개</a></li>
			<li><a href="">광고제휴</a></li>
			<li><a href="">이용약관</a></li>
			<li><a href="">개인정보취급(처리) 방침</a></li>
		</ul>	
		<p>COPYRIGHT ⓒ DONGWHA DUTYFREE. ALL RIGHT RESERVED.</p>
	</div>
</div>
<!--//bottom-->

<div class="fix-footer">
	<ul class="fix-footer__menu">
		<li><a href="">홈</a></li>
		<li><a href="">이전</a></li>
		<li><a href="" class="js-footer-more-btn">더보기</a></li>
		<li><span class="card-count">0</span><a href="">장바구니</a></li>
		<li><a href="">마이페이지</a></li>
	</ul>
	<div class="fix-footer__more js-footer-more-list">
		<div class="fix-footer__more__list">
			<div class="close js-footer-more-btn">닫기</div>
			<ul>
				<li class="item1"><a href="">카테고리</a></li>
				<li class="item2"><a href="">오늘 본 상품</a></li>
				<li class="item3"><a href="">주문가능시간</a></li>
				<li class="item4"><a href="">면세점 가이드</a></li>
				<li class="item6"><a href="">1:1상담</a></li>
				<li class="item7"><a href="">고객센터</a></li>
			</ul>
		</div>
	</div>
</div>