<div class="header-wrap">
	<div class="header">
		<div class="header__menu"><a href="#n" class="testBtn">메뉴보기</a></div>
		<div class="header__logo"><a href="#n"><img src="../../images/header/header-logo.png" alt="DONGWHA dutyfree"></a></div>
		<div class="header__right">
			<a href="#n" class="search js-search">검색</a>
			<a href="#n" class="qrscan">qr코드 스캔</a>
		</div>
		<!--검색창-->
		<div class="header__right__search_wrap" style="display:none;">
			<input type="text" placeholder="설화">
			<button>검색</button>
			<div class="close"><a href="">닫기</a></div>
		</div>
		<!--//검색창-->
	</div>
	<div class="side-menu" id="content_top">
		<div class="side-login__header-info u-inner2">
			<!-- 로그인 전 -->
			<div class="side-login__header side-login__login-before">
				<div class="side-login__login-info">
					<div class="side-login__login-area">
						<a href="#n" class="side-login__login-button" 로그인>로그인</a>
						<span class="side-login__login-description">로그인을 하시면11<br>더 많은 혜택이 보입니다.</span>
					</div>
				</div>
				<div class="side-login__config">
					<a href="#n" class="side-login__app-config">앱설정</a>
				</div>
			</div>
			<!-- //로그인 전 -->
			<!-- 로그인 후 -->
			<div class="side-login__header side-login__login-after" style="display:none;">
				<div class="side-login__login-info">
					<div class="side-login__member-info">
						<div class="side-login__member-ico"></div>
						<div class="side-login__member-name">홍길동님<span>임직원</span></div>
					</div>
				</div>
				<div class="side-login__config">
					<a href="#n" class="side-login__logout-button" 로그아웃>로그아웃</a>
					<a href="#n" class="side-login__app-config">앱설정</a>
				</div>
			</div>
			<!-- //로그인 후 -->
			<script>
				$(function(){
					$("[로그인]").on("click",function(e){
						e.preventDefault();
						$(".side-login__login-before").hide();
						$(".side-login__login-after").show();
					})
				})
				$(function(){
					$("[로그아웃]").on("click",function(e){
						e.preventDefault();
						$(".side-login__login-after").hide();
						$(".side-login__login-before").show();
					})
				})
			</script>
		</div>
		<!--div class="side-menu__close">close</div-->
		<ul class="side-tab" data-ui-tab="true" data-ui-hash="false">
			<li class="is-on"><a href="#gnb-type1" class="js-sidebar-menu">전체메뉴</a></li>
			<li><a href="#gnb-type2" class="js-sidebar-menu">카테고리</a></li>
			<li><a href="#gnb-type3" class="js-sidebar-menu">브랜드</a></li>
		</ul>
		<!-- //side-tab -->
		<div id="gnb-type1" class="is-show">
			<div class="side-category">
				<ul class="side-category__wrap">
					<li><a href="#n"><span class="side-category__best-shop"><p>베스트샵</p></span></a></li>
					<li><a href="#n"><span class="side-category__3hour-shop"><p>3시간전샵</p></span></a></li>
					<li><a href="#n"><span class="side-category__wedding-shop"><p>웨딩샵</p></span></a></li>
					<li><a href="#n"><span class="side-category__plan"><p>기획전</p></span></a></li>
					<li><a href="#n"><span class="side-category__event"><p>이벤트</p></span></a></li>
					<li><a href="#n"><span class="side-category__coupon"><p>쿠폰</p></span></a></li>
					<li><a href="#n"><span class="side-category__special-order"><p>스페셜오더</p></span></a></li>
					<li><a href="#n"><span class="side-category__sale"><p>SALE</p></span></a></li>
					<li><a href="#n"><span class="side-category__search"><p>검색</p></span></a></li>
					<li class="is-brand"><a href="#n"><img src="../../images/common/logo-amorepacific.png" alt="" width="130"> #아모레퍼시픽</a></li>
				</ul>
			</div>
			<div class="side-footer u-inner1">
				<ul class="side-footer__wrap">
					<li><a href="#n">마이페이지</a></li>
					<li><a href="#n">장바구니</a></li>
					<li><a href="#n">즐겨찾기</a></li>
				</ul>
			</div>
		</div>
		<!-- //gnb-type1 -->
		
		<div id="gnb-type2">
			
			<div class="side-fixed side-fixed--category">
				<div class="side-fixed__col side-fixed__col--category1">
					<ul class="side-list side-list--category js-side-category1">
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="스킨케어"></i>스킨케어</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="메이크업"></i>메이크업</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="향수/헤어/바디"></i>향수/헤어/바디</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="패션/잡화"></i>패션/잡화</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="시계/쥬얼리"></i>시계/쥬얼리</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="전자/리빙"></i>전자/리빙</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="식품"></i>식품</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="국내브랜드"></i>국내브랜드</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="남성관"></i>남성관</a></li>
						<li class="side-list__item"><a class="side-list__link js-link" href=""><i class="ico-category ico-category--margin-bottom" data-ico="유아동"></i>유아동</a></li>
					</ul>
					<!-- //side-list -->
				</div>
				<div class="side-fixed__col side-fixed__col--category2">
					<div class="side-category-sub js-go-to-top-body">
						<ul class="side-list2 js-side-category2"></ul>
						<ul class="side-list2 js-side-category2"></ul>
						<ul class="side-list2 js-side-category2"></ul>
						<ul class="side-list2 js-side-category2"></ul>
						<ul class="side-list2 js-side-category2"></ul>
						<ul class="side-list2 js-side-category2"></ul>
						<ul class="side-list2 js-side-category2"></ul>
					</div>
					<script type="text/javascript">
						$('.side-list2').each(function(idx){
							$('<li class="side-list2__item is-boutique"><a href="" class="side-list2__link"><img src="../../images/common/mobile_chanel2.jpg" alt="CHANEL"></a></li>').appendTo($(this));
							for (var i = 0; i < Math.floor(Math.random()*10)+1; i++) { 
								var d1 = $('<li class="side-list2__item"><button type="button" class="side-list2__button js-button">중분류 '+(idx+1)+'-'+(i+1)+'</button> <a href="" class="side-list2__link">바로가기</a></li>').appendTo($(this));
								d1 = $( '<ul class="side-list3 js-list"></ul>' ).appendTo(d1);
								for (var j = 0; j < Math.floor(Math.random()*10)+1; j++) { 
									var d2 = $('<li class="side-list3__item"><span class="side-list3__check"><label class="book-checkbox2"><input type="checkbox" name="" id=""><i></i></label></span><a href="#" class="side-list3__link">소분류 '+(idx+1)+'-'+(i+1)+'-'+(j+1)+'</a></li>').appendTo(d1);
								}
							}
						})
					</script>
					<div class="side-fixed__go-to-top js-go-to-top-button">
						<a href="#" class="go-to-top" title="항목 맨 위로">Top</a>
					</div>
				</div>
			</div>
			<!-- //side-fixed -->
		</div>
		<!-- //gnb-type2 -->
		
		<div id="gnb-type3">
			<ul class="side-brand-tab" data-ui-tab="true" data-ui-hash="false">
				<li class="is-on"><a href="#gnb-type3_1">가나다순</a></li>
				<li><a href="#gnb-type3_2">알파벳순</a></li>
			</ul>
			<!-- //side-brand-tab -->
			<div id="gnb-type3_1">
				<div class="side-fixed side-fixed--brand">
					<div class="side-fixed__col side-fixed__col--brand1">
						<ul class="side-list side-list--brand js-side-brand-ko-set">
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㄱ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㄴ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㄷ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㄹ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅁ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅂ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅅ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅇ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅈ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅊ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅋ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅌ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅍ</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">ㅎ</a></li>
						</ul>
						<!-- //side-list -->
					</div>
					<div class="side-fixed__col side-fixed__col--brand2">
						<div class="side-brand-sub js-side-brand-ko-body js-go-to-top-body">
							<h3 class="side-brand-sub__head js-head">ㄱ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㄴ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㄷ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㄹ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅁ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅂ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅅ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅇ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅈ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅊ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅋ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅌ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅍ</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">ㅎ</h3>
							<ul class="side-brand-sub__list"></ul>
						</div>
						<!-- //side-brand -->
						<script type="text/javascript">
							$('.js-side-brand-ko-body').find('.side-brand-sub__list').each(function(idx){
								for (var i = 0; i < Math.floor(Math.random()*20)+1; i++) {
									$('<li class="side-brand-sub__item"><a href="#" class="side-brand-sub__link js-link"> '+(idx+1)+'--'+(i+1)+'</a>').appendTo($(this));
								}
							})
						</script>
						<div class="side-fixed__go-to-top js-go-to-top-button">
							<a href="#" class="go-to-top" title="항목 맨 위로">Top</a>
						</div>
					</div>
				</div>
				<!-- //side-fixed -->
			</div>
			<!-- //gnb-type3_1 -->
			
			<div id="gnb-type3_2">
				<div class="side-fixed side-fixed--brand">
					<div class="side-fixed__col side-fixed__col--brand1">
						<ul class="side-list side-list--brand js-side-brand-en-set">
							<li class="side-list__item"><a class="side-list__link js-link" href="">A</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">B</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">C</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">D</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">E</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">F</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">G</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">H</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">I</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">J</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">K</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">L</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">M</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">N</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">O</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">P</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">Q</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">R</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">S</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">T</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">U</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">V</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">W</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">X</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">Y</a></li>
							<li class="side-list__item"><a class="side-list__link js-link" href="">Z</a></li>
						</ul>
						<!-- //side-list -->
					</div>
					<div class="side-fixed__col side-fixed__col--brand2">
						<div class="side-brand-sub js-side-brand-en-body js-go-to-top-body">
							<h3 class="side-brand-sub__head js-head">A</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">B</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">C</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">D</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">E</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">F</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">G</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">H</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">I</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">J</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">K</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">L</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">M</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">N</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">O</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">P</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">Q</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">R</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">S</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">T</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">U</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">V</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">W</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">X</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">Y</h3>
							<ul class="side-brand-sub__list"></ul>
							<h3 class="side-brand-sub__head js-head">Z</h3>
							<ul class="side-brand-sub__list"></ul>
						</div>
						<!-- //side-brand -->
						<script type="text/javascript">
							$('.js-side-brand-en-body').find('.side-brand-sub__list').each(function(idx){
								for (var i = 0; i < Math.floor(Math.random()*20)+1; i++) {
									$('<li class="side-brand-sub__item"><a href="#" class="side-brand-sub__link js-link"> '+(idx+1)+'--'+(i+1)+'</a>').appendTo($(this));
								}
							})
						</script>
						<div class="side-fixed__go-to-top js-go-to-top-button">
							<a href="#" class="go-to-top" title="항목 맨 위로">Top</a>
						</div>
					</div>
				</div>
				<!-- //side-fixed -->
			</div>
			<!-- //gnb-type3_2 -->
			
		</div>
		<!-- //gnb-type3 -->
		
	</div>
	<!-- //side-menu -->
</div>
<!-- //header-wrap -->