<div class="pagination">
	<span class="present">1</span>
	<!--input class="pagination__page" type="tel" value="1"-->
	<span class="pagination__total">14</span>
	<a href="#n" class="pagination__link pagination__link--prev">이전페이지</a>
	<a href="#n" class="pagination__link pagination__link--next">다음페이지</a>
</div>
<!-- //pagination -->