<div class="product-item">
	<div class="product-item__wrap">
		<div class="product-item__label1">
			<span class="label1 label-option label-color1">핫세일1111</span>
			<span class="label1 label-option label-color2">신상품</span>
			<span class="label1 label-option label-color3">사은품</span>
			<span class="label1 label-option label-color4">3시간샵</span>
			<span class="label1 label-option label-color5">쿠폰</span>
		</div>
		<div class="product-item__img"><img src="http://image.dutyfree24.com/FileStroage/GD/300/2110904100201_300_1.jpg" alt=""></div>
		<div class="product-item__brand1">ReFa CARAT</div>
		<div class="product-item__tit1 productDot">ReFa SKIN ReRa Crystal CARAT FACE (WHITE) 피부 탄력 개선 안면 리프팅 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱 및 부기 완화 에스테틱</div>
		<div class="product-item__price1">
			<span class="price-dollar">
				<del class="before">
					$32.11
				</del>
				$31.<span class="cent">22</span>
			</span>
			<span class="price-won">37,500원</span>
		</div>
	</div>
	<div class="product-item__over">
		<a href="#nn" class="product-item__link"></a>
		<div class="product-item__brand2">ReFa CARAT</div>
		<div class="product-item__tit2 productDot">ReFa SKIN ReRa Crystal CARAT FACE (WHITE) 피부 탄력 개선 안면 리프팅 및 부기 완화 에스테틱 및 부기 완화 및 부기 완화 및 부기 완화 및 부기 완화 및 부기 완화 및 부기 완화 및 부기 완화 및 부기 완화 및 부기 완화</div>
		<div class="product-item__sale"><div class="product-item__sale-inner">10%<br>할인</div></div>
		<div class="product-item__price2">
			<span class="price-dollar">
				<del class="before">
					$32.11
				</del>
				$31.22
			</span>
			<span class="price-won">37,500원</span>
		</div>
		<div class="product-item__btn">
			<a href="">장바구니</a>
			<a href="" class="buy">바로구매</a>
		</div>
	</div>
</div><!-- //product-item -->
