<div class="product-item">
	<div class="product-item__wrap">
		<div class="product-item__img"><img src="http://image.dutyfree24.com/FileStroage/GD/300/2110904100201_300_1.jpg" alt=""></div>
		<div class="product-item__info">
			<div class="product-item__brand1">ReFa CARAT</div>
			<div class="product-item__tit1 productDot">LA PRAIRIE WRM IVORY IVORY IVORY IVORY IVORY IVORY IVORY IVORY IVORY IVORY IVORY IVORY IVORY IVORY</div>
			<div class="product-item__price1">
				<span class="price-dollar">
					<del class="before">$32.11</del>$31.22
				</span>
				<span class="price-won">37,500원</span>
			</div>
			<div class="product-item__label1">
				<span class="u-tag utag--color1">핫세일</span>
				<span class="u-tag utag--color2">신상품</span>
				<span class="u-tag utag--color3">사은품</span>
			</div>
		</div>
	</div>
	<a href="" class="detail_view">상품상세 바로 가기</a>
</div>