<div class="search-popup">
	<div class="search-popup__search-area u-inner1">
		<div class="search-popup__back"><a href="#n" class="js-search"></a></div>
		<div class="search-popup__input">
			<div class="search-popup__input-box"><input type="text" value="설화" placeholder="검색어를 입력해 주세요." /></div>
			<div class="search-popup__input-btn"><a href="#n">검색</a></div>
		</div>
	</div>
	<div class="search-preview">
		<ul class="search-tab" data-ui-tab="true" data-ui-hash="false">
			<li class="is-on"><a href="#searchTab1">자동검색</a></li>
			<li><a href="#searchTab2">인기검색어</a></li>
		</ul>
		<div class="search-content">
			<div id="searchTab1">
				<ul class="search-list">
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link"><span class="search-list__keyword">설화</span>수</a></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title search-list__title--depts2"><a href="#n" class="search-list__link">가방/지갑 > 가방</a></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title search-list__title--depts2"><a href="#n" class="search-list__link">가방/지갑 > 가방</a></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title search-list__title--depts2"><a href="#n" class="search-list__link">패션/악세서리 > 스카프/머플러 > 스카프/머플러 > 스카프/머플러 > 스카프/머플러</a></div>
						</div>
					</li>
				</ul>
				<div class="search-bar"></div>
				<ul class="search-list">
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link"><span class="search-list__keyword">설화</span></a></div>
							<div class="search-list__content"><a href="#n" class="search-list__btn">브랜드몰</a></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link"><span class="search-list__keyword">설화</span>수 탄력크림 탄력크림 탄력크림  탄력크림 탄력크림 탄력크림</a></div>
							<div class="search-list__content"><a href="#n" class="search-list__btn">브랜드몰</a></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link"><span class="search-list__keyword">설화</span>수 세트</a></div>
							<div class="search-list__content"><a href="#n" class="search-list__btn">브랜드몰</a></div>
						</div>
					</li>
				</ul>
				<div class="search-bar"></div>
				<ul class="search-list">
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">뉴라이프 체험단 이벤트</a></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">[ESTEE LAUDER] 일부 상품 50% 할인행사</a></div>
						</div>
					</li>
				</ul>
			</div>
			<div id="searchTab2">
				<ul class="search-list search-list--numb">
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">지방시</a></div>
							<div class="search-list__content"><span class="search-list__cnt">4,847회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">샤오미</a></div>
							<div class="search-list__content"><span class="search-list__cnt">546회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">슈에무라</a></div>
							<div class="search-list__content"><span class="search-list__cnt">634회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">CHANEL</a></div>
							<div class="search-list__content"><span class="search-list__cnt">34회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">ADIDAS ORIGINALS ADIDAS ORIGINALS ADIDAS ORIGINALS(EYE)</a></div>
							<div class="search-list__content"><span class="search-list__cnt">775회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">AGATHAAGATHAAGATHAAGATHAAGATHAAGATHAAGATHAAGATHAAGATHA</a></div>
							<div class="search-list__content"><span class="search-list__cnt">2,563회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">AIGNER</a></div>
							<div class="search-list__content"><span class="search-list__cnt">45회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">AIGNER(WATCH)</a></div>
							<div class="search-list__content"><span class="search-list__cnt">3회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">ALBA</a></div>
							<div class="search-list__content"><span class="search-list__cnt">982회</span></div>
						</div>
					</li>
					<li>
						<div class="search-list__row">
							<div class="search-list__title"><a href="#n" class="search-list__link">AMERICAN TOURISTER</a></div>
							<div class="search-list__content"><span class="search-list__cnt">25회</span></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="option-area u-inner1 u-border-top1 u-border-bottom2">
			<div class="option-area__right">
				<a href="#n" class="option-area__close js-search">닫기</a>
			</div>
		</div>
	</div>
	<!-- //search-preview -->
</div>
<!-- //search-popup -->