<div class="tab-list-content__item">
	<div class="tab-list-content__head" tabindex="0">
		<div class="tab-list-content__img-wrap">
			<img src="../../images/temp/brand-ci.jpg" alt="Clinique">
		</div>
	</div>
	<div class="tab-list-content__body">
		<div class="special-brand2">
			<div class="special-brand2__list">
				<p class="special-brand2__list-dep">화장품 &gt; 메이크업 </p>
				<ul>
					<li class="blt1">전화 : 02-759-6752</li>
					<li class="blt1">운영시간 : 09:30 ~ 20:00</li>
				</ul>
			</div>
			<div class="special-brand2__list">
				<p class="special-brand2__list-dep">화장품 &gt; 메이크업 </p>
				<ul>
					<li class="blt1">전화 : 02-759-6752</li>
					<li class="blt1">운영시간 : 09:30 ~ 20:00</li>
				</ul>
			</div>
			<div class="special-brand2__list">
				<p class="special-brand2__list-dep">화장품 &gt; 메이크업 </p>
				<ul>
					<li class="blt1">전화 : 02-759-6752</li>
					<li class="blt1">운영시간 : 09:30 ~ 20:00</li>
				</ul>
			</div>
		</div>
	</div>
</div>