<div class="dialog" id="dialogDeparture">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">나의 출국정보 조회</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body u-inner2">
			<div class="dialog-para2">
				<span class="inline-block">아래 출국정보를 선택하시면,</span> 
				<span class="inline-block">해당 정보로 자동입력 됩니다.</span><br>
				<span class="inline-block">출국정보는 마이페이지/출국정보관리에서 </span>
				<span class="inline-block">등록·수정이 가능합니다.</span>
			</div>
			<table class="table3">
				<thead>
					<tr>
						<th colspan="2">
							<a href="#n" class="table3__btn btn2 btn2--revert3">선택</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table3__title">출국장소</th>
						<td class="align-right">미국</td>
					</tr>
					<tr>
						<td class="table3__title">출국일시</th>
						<td class="align-right">2016.10.10 23:00</td>
					</tr>
					<tr>
						<td class="table3__title">직항/경유</th>
						<td class="align-right">직항</td>
					</tr>
					<tr>
						<td class="table3__title">편명</th>
						<td class="align-right">7c3404</td>
					</tr>
				</tbody>
			</table>
			<div class="break-15"></div>
			<table class="table3">
				<thead>
					<tr>
						<th colspan="2">
							<a href="#n" class="table3__btn btn2 btn2--revert3">선택</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table3__title">출국장소</th>
						<td class="align-right">중국</td>
					</tr>
					<tr>
						<td class="table3__title">출국일시</th>
						<td class="align-right">2016.10.10 23:00</td>
					</tr>
					<tr>
						<td class="table3__title">직항/경유</th>
						<td class="align-right">직항</td>
					</tr>
					<tr>
						<td class="table3__title">편명</th>
						<td class="align-right">7c3404</td>
					</tr>
				</tbody>
			</table>
			<div class="break-15"></div>
			<table class="table3">
				<thead>
					<tr>
						<th colspan="2">
							<a href="#n" class="table3__btn btn2 btn2--revert3">선택</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="table3__title">출국장소</th>
						<td class="align-right">중국</td>
					</tr>
					<tr>
						<td class="table3__title">출국일시</th>
						<td class="align-right">2016.10.10 23:00</td>
					</tr>
					<tr>
						<td class="table3__title">직항/경유</th>
						<td class="align-right">직항</td>
					</tr>
					<tr>
						<td class="table3__title">편명</th>
						<td class="align-right">7c3404</td>
					</tr>
				</tbody>
			</table>
			<div class="u-outer1 u-fixed">
				<div class="button-group4 button-group4--next">
					<span class="button-group4__item"><a href="#n" class="btn1 btn1--revert width-170">닫기</a></span>
				</div>
				<!-- //button-group4 -->
			</div>
			<!-- //u-fixed -->
		</div>
		
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->