<div class="dialog" id="imageviewDialog">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">상품크게보기</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body u-inner2">
			
			<div class="image-scale">
				<img src="../../images/temp/@item-225x225-2.jpg" alt="">
			</div>

			<div class="u-outer1 u-fixed">
				<div class="button-group4 button-group4--next">
					<span class="button-group4__item"><a href="#n" class="btn1 width-100p btn1--revert" data-ui-dialog="close">닫기</a></span>
				</div>
				<!-- //button-group4 -->
			</div>
			<!-- //u-fixed -->
		
		</div>
		<div class="break-30"></div>
	</div>
	<!-- //dialog-layout -->
</div>