<div class="dialog" id="dialogPassportDate">
	<div class="dialog-layout">
		<div class="dialog-layout__body u-inner2">
			<p class="dialog-para1">
				<span class="inline-block">여권 만료일이 <span class="color9">40일</span> 남았습니다.</span>
				<span class="inline-block">여권정보가 갱신 된 경우,</span>
				<span class="inline-block">마이 페이지에서 여권 정보를</span>
				<span class="inline-block">변경해 주시기 바랍니다.</span><br>
			</p>
			<div class="button-group4 button-group4--next">
				<span class="button-group4__item"><a href="#n" class="btn1 btn1--sm width-100p" data-ui-dialog="close">취소</a></span>
				<span class="button-group4__item"><a href="#n" class="btn1 btn1--revert btn1--sm width-100p">여권정보 변경</a></span>
			</div>
			<!-- //button-group4 -->
		</div>
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->