<div class="dialog" id="dialogRank">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">예상등급안내</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body u-inner2">
			<p class="dialog-para1">
				<span class="inline-block">현재 회원님의</span>
				<span class="inline-block">동화인터넷 면세점 회원 등급은 <span class="color1">브론즈</span>입니다.</span><br>
				(2016년 10월 기준 구매금액은 $0입니다)<br>
				<br>
				등급이 상향되려면?<br>
				<span class="inline-block">현재기준으로 $1 추가 구매 시</span>
				<span class="inline-block"><span class="color1">실버</span>회원이 되실 수 있습니다.</span>
			</p>
			<div class="button-group4 button-group4--next">
				<span class="button-group4__item"><a href="#n" class="btn1 btn1--revert btn1--sm width-100" data-ui-dialog="close">닫기</a></span>
			</div>
			<!-- //button-group4 -->
		</div>
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->