<div class="event-more layer-popup-content">
	<div class="event-more__header">
		<div>전체보기</div>
		<a href="#n" class="layer-popup-close js-event-all">닫기</a>
	</div>
	<div class="event-more__content">
		<a href="#n"><img src="../../images/temp/@more-event01.png"/></a>
		<a href="#n"><img src="../../images/temp/@more-event02.png"/></a>
		<a href="#n"><img src="../../images/temp/@more-event03.png"/></a>
		<a href="#n"><img src="../../images/temp/@more-event04.png"/></a>
	</div>
	<div class="event-more__footer">
		<a href="#n">이벤트 더보기</a>
		<a href="#n">기획전 더보기</a>
	</div>
</div>