<div class="dialog" id="dialogDelivery">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">인도장 정보</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body u-inner2">
			<div class="dialog-para2">여권번호 정보수정시 꼭 확인하세요.</div>
			<div class="u-border-horizontal1 u-border-bottom1">
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">인천국제공항 탑승동 인도장</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!--<div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">인천국제공항</span> 탑승동 인도장</div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-incheon.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<a href="" class="js-slidelink">
							<div class="info-head__title">인천국제공항 서편 인도장</div>
							<div class="info-head__editbtn"><span class="btn2--arrow-down"></span></div>
						</a>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">인천국제공항</span> 서편 인도장</div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-incheon-west.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">인천국제공항 동편 인도장</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">인천국제공항</span> 동편 인도장</div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-incheon-east.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">김포국제공항</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">김포국제공항</span></div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-gimpo.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">김해국제공항</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">김해국제공항</span></div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-gimhae.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">청주공항</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">청주공항</span></div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-cheongju.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">제주공항</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">제주공항</span></div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-jeju.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">부산항</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">부상항</span></div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-busan.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">인천항 제1여객부두</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">인천항</span> 제1여객부두</div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-incheon-wharf1.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
				<div class="js-sliderow">
					<div class="info-head u-inner2">
						<div class="info-head__title">인천항 제2여객부두</div>
						<div class="info-head__editbtn"><a href="#n" class="btn2--arrow-down js-slidelink"></a></div>
					</div>
					<div class="js-slidecontent slide-list__content-hide">
						<div class="maparea">
							<!-- <div class="maparea__title maparea__title--border-top maparea__title--border-bottom u-outer2-vertical"><span class="color1">인천항</span> 제2여객부두</div> -->
							<div class="maparea__content">
								<img src="../../images/common/map-incheon-wharf2.jpg" />
								<div class="maparea__summary u-inner2">
									<p class="blt1">아시아나 및 국내항공 출국 시 (에어서울, 티웨이)29번 GATE 맞은 편 4층 아시아나 라운지 맞은편</p>
									<p class="blt1">문의전화 : 032-743-2704&nbsp;&nbsp;&nbsp;&nbsp;<a href="#n" class="btn2 btn2--size-sm">전화걸기</a></p>
								</div>
							</div>
						</div>
						<div class="break-15"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->