<div class="dialog" id="dialogSearchBrand">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">전체브랜드</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body">
			<div class="terms-area">
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea input-form__textarea--full-width input-form__textarea--padding-right u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 3CE</label>
					</div>
				</div>
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 게리쏭</label>
					</div>
				</div>
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 궁중비책</label>
					</div>
				</div>
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 그린핑거</label>
					</div>
				</div>
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 글램폭스</label>
					</div>
				</div>
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 까이유</label>
					</div>
				</div>
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 네오플램</label>
					</div>
				</div>
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 네이처리퍼블릭</label>
					</div>
				</div>
				<div class="form-wrap2 form-wrap2--border-none-left form-wrap2--border-none-right">
					<div class="input-form__textarea u-inner1">
						<label class="checkbox2 checkbox1--type1"><input type="checkbox" name="" id=""><i></i> 노스페이스</label>
					</div>
				</div>
			</div>
			<div class="u-outer1 u-fixed">
				<div class="button-group4 button-group4--next">
					<span class="button-group4__item"><a href="#n" class="btn1 width-100p" data-ui-dialog="close">닫기</a></span>
					<span class="button-group4__item"><a href="#n" class="btn1 btn1--revert width-100p">확인</a></span>
				</div>
				<!-- //button-group4 -->
			</div>
			<!-- //u-fixed -->
		</div>
		<div class="break-30"></div>
	</div>
	<!-- //dialog-layout -->
</div>