<div class="dialog" id="dialogPassportSignUp">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">예상등급안내</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body u-inner2">
			<p class="dialog-para1">
				<span class="inline-block">여권정보를 등록하시려면</span>
				<span class="inline-block">정회원으로 전환 하셔야 합니다.</span><br>
				<br>
				<span class="inline-block">정회원으로 전환 하시겠습니까?</span>
			</p>
			<div class="button-group4 button-group4--next">
				<span class="button-group4__item"><a href="#n" class="btn1 btn1--sm width-100p" data-ui-dialog="close">취소</a></span>
				<span class="button-group4__item"><a href="#n" class="btn1 btn1--revert btn1--sm width-100p">정회원 전환 하기</a></span>
			</div>
			<!-- //button-group4 -->
		</div>
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->