<div class="dialog" id="flightNumber">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">편명검색</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body u-inner2">
			
			<div class="dialog-para2">
				<span class="inline-block">아래의 편명을 선택 하신 후</span>
				<span class="inline-block">상세번호까지 입력하여 주시기 바랍니다.</span><br>
				<span class="inline-block">(아래의 편명에 해당사항이 없을 경우는</span>
				<span class="inline-block">고객센터<span class="color1">(1688-6680)문의</span>해 주세요.)</span>
			</div>
			<!-- //dialog-para2 -->
			
			<table class="table8 table8--next">
				<tbody>
					<tr>
						<th class="table8__th">
							<span class="white-space-nowrap">항공사 코드</span>
						</th>
						<td class="table8__td">
							<div class="form-wrap4">
								<span class="form-wrap4__cell">
									<span class="checked-wrap3">
										<span class="checked-wrap3__item">
											<span class="radio-set3 width-100p"><input type="radio" name="ccc" value="1"><i>국내</i></span>
										</span>
										<span class="checked-wrap3__item">
											<span class="radio-set3 width-100p"><input type="radio" name="ccc" value="2"><i>해외</i></span>
										</span>
									</span>
									<!-- //checked-wrap3 -->
								</span>
							</div>
							<!-- //form-wrap4 -->

							
							<div class="form-wrap4 form-wrap4--next">
								<div class="form-wrap4__cell">
									
									<div style="display:block;">
										<!-- 국내선택시 -->
										<select name="" id="" class="select3">
											<option value="">국내항공사 선택</option>
											<option value="">국내항공사(항공코드)</option>
											<option value="">국내항공사(항공코드)</option>
											<option value="">국내항공사(항공코드)</option>
											<option value="">국내항공사(항공코드)</option>
											<option value="">국내항공사(항공코드)</option>
											<option value="">국내항공사(항공코드)</option>
											<option value="">국내항공사(항공코드)</option>
										</select>
									</div>
									
									<div style="display:none;">
										<!-- 해외선택시 -->
										<select name="" id="" class="select3">
											<option value="">해외항공사 선택</option>
											<option value="">해외항공사(항공코드)</option>
											<option value="">해외항공사(항공코드)</option>
											<option value="">해외항공사(항공코드)</option>
											<option value="">해외항공사(항공코드)</option>
											<option value="">해외항공사(항공코드)</option>
											<option value="">해외항공사(항공코드)</option>
											<option value="">해외항공사(항공코드)</option>
										</select>
									</div>
									
								</div>
							</div>
							<!-- //form-wrap4 -->
							
							
						</td>
					</tr>
					<tr>
						<th class="table8__th">항공편명</th>
						<td class="table8__td">
							<div class="form-wrap4">
								<span class="form-wrap4__cell">
									<input type="text" name="" id="" class="input3 width-100p" placeholder="항공편명을 입력하세요.">
								</span>
							</div>
							<!-- //form-wrap4 -->
						</td>
					</tr>
				</tbody>
			</table>
			<!-- //table8 -->
			
			<div class="button-group4 button-group4--next">
				<span class="button-group4__item"><a href="#n" class="btn1 width-100p" data-ui-dialog="close">취소</a></span>
				<span class="button-group4__item"><a href="#n" class="btn1 btn1--revert width-100p">확인</a></span>
			</div>
			<!-- //button-group4 -->
							
		</div>
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->