<div class="dialog" id="portNumber">
	<div class="dialog-layout">
		<div class="dialog-layout__head">
			<h2 class="dialog-tit1">항만검색</h2>
			<a href="" class="dialog-close1" data-ui-dialog="close">닫기</a>
		</div>
		<div class="dialog-layout__body u-inner2">
			
			<div class="dialog-para2">
				<span class="inline-block">아래의 편명을 선택 하신 후</span>
				<span class="inline-block">상세번호까지 입력하여 주시기 바랍니다.</span><br>
				<span class="inline-block">(아래의 편명에 해당사항이 없을 경우는</span>
				<span class="inline-block">고객센터<span class="color1">(1688-6680)문의</span>해 주세요.)</span>
			</div>
			<!-- //dialog-para2 -->
			
			<table class="table8 table8--next">
				<tbody>
					<tr>
						<th class="table8__th">항만명</th>
						<td class="table8__td">
							<div class="form-wrap4">
								<span class="form-wrap4__cell">
									<select name="" id="" class="select3">
										<option value="">여객선 선택</option>
										<option value="">니나호</option>
										<option value="">범영훼리 - 영구</option>
										<option value="">뉴카멜리아호</option>
										<option value="">비틀호</option>
										<option value="">단동해운 - 단동</option>
										<option value="">세코마루</option>
										<option value="">대인훼리 - 대련</option>
										<option value="">씨플라워호</option>
									</select>
								</span>
							</div>
							<!-- //form-wrap4 -->
						</td>
					</tr>
				</tbody>
			</table>
			<!-- //table8 -->
			
			<div class="button-group4 button-group4--next">
				<span class="button-group4__item"><a href="#n" class="btn1 width-100p" data-ui-dialog="close">취소</a></span>
				<span class="button-group4__item"><a href="#n" class="btn1 btn1--revert width-100p">확인</a></span>
			</div>
			<!-- //button-group4 -->
							
		</div>
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->