<div class="dialog" id="dialogAlert1">
	<div class="dialog-layout">
		<div class="dialog-layout__body u-inner2">
			<p class="dialog-para1">
				ㅁ<span class="color9">ㅁㅁ</span>ㅁ ㅁ<span class="color1">ㅁㅁ</span> ㅁ<br>
				ㅁㅁㅁ ㅁㅁㅁ ㅁㅁ
			</p>
			<div class="button-group4 button-group4--next">
				<span class="button-group4__item"><a href="#n" class="btn1 btn1--revert btn1--sm width-100" data-ui-dialog="close">확인</a></span>
			</div>
			<!-- //button-group4 -->
		</div>
	</div>
	<!-- //dialog-layout -->
</div>
<!-- //dialog -->