@charset "UTF-8";

/* reset */
html, body {height:100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img, iframe { border: none; }
input, button, textarea, select { font-family: inherit; }
input:not([type='checkbox']):not([type='radio']), textarea, select { border-radius: 0; }
input:not([type='checkbox']):not([type='radio']), textarea, select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
button, input[type='checkbox'], input[type='radio'], input[type='submit'], input[type='image'] { cursor: pointer; }
h1, h2, h3, h4, h5, h6, strong, b, th { font-weight: 400; }

/* common */
body { font-size: 12px; font-family:'Noto San CJK SC','Hiragino Kaku Gothic',Meiryo, 'MS UI Gothic','Heiti SC','Hiragino Sans GB', 'Hiragino Sans GB', 'LiHei Pro Medium','Microsoft YaHei', SimHei, Simsun, sans-serif; font-weight: 400; color: #666; letter-spacing: -.02em; line-height:1.3; -webkit-overflow-scrolling: touch; -webkit-text-size-adjust:none;}
html:lang(ko) body { word-break:keep-all; }
html:lang(zh) body { word-break:break-all; }
a { color: inherit; text-decoration: none; cursor:pointer;}
strong,b { font-weight:700; }
button { background-color:transparent; border:none; padding:0; }
th { text-align:left; }

body { top:0; bottom:0; background-color:#fff; }
.not-scroll { position:fixed; overflow:hidden; width:100%; height:100%; }

.hidden { overflow: hidden; position: absolute; width: 0; height: 0; }
.hidden.is-view { position: static; width: auto; height: auto; }

.is-hide { display: none; }
.is-show { display: block; }
.table-cell { display:table-cell; width:1%; height:inherit; vertical-align:middle; }

.is-not-scroll { position:fixed;overflow:hidden;width:100%;}

.inline-block { display:inline-block;}

.img { max-width:100%; vertical-align:top;}

/* break */
.break-5 { display:block; margin-top:5px; }
.break-10 { display:block; margin-top:10px; }
.break-15 { display:block; margin-top:15px; }
.break-20 { display:block; margin-top:20px; }
.break-25 { display:block; margin-top:25px; }
.break-30 { display:block; margin-top:30px; }
.break-40 { display:block; margin-top:40px; }
.break-60 { display:block; margin-top:60px; }
.break-minus { display:block; margin-top:-1px;}

.line1 { z-index:10; position:relative; border-top:2px solid #845de5; }
.line2 { z-index:10; position:relative; border-top:1px solid #333; }
.line3 { z-index:10; position:relative; border-top:1px solid #d3d3d3; }
.line4 { z-index:10; position:relative; border-top:1px solid #d3d3d3; }

.u-line { z-index:10; position:relative; border-top:1px solid transparent; }
.u-line--style-dashed { border-style:dashed; }
.u-line--width-9 { border-width:9px; }



.tit1 {padding:22px 0 20px 0; position:relative;} /* 170713_수영 수정*/
.tit1--border-bottom {border-bottom:1px solid #d3d3d3;}
.tit1--uppercase {text-transform:uppercase;}
.tit1__txt {font-size:20px; color:#222222; text-align:center; text-transform:uppercase;}
.tit1__txt2 {font-size:16px; color:#222222; text-align:center; text-transform:uppercase;}
.tit1__sub-txt {font-size:12px; color:#555555; text-align:center; text-transform:uppercase;}
.tit1__txt.tit1--font-style2 {font-family: "Arya", sans-serif; font-size:26px;}
.tit1__button-right {position:absolute; bottom:12px; right:9px;}

/*제목*/
.u-tit1 { margin-top:.3em; margin-bottom:.3em; font-size:15px; color:#333; line-height:1.3; text-align:center; font-weight:600; }
.u-tit1--next { margin-top:35px;}

.u-tit2 { margin-top:.675em; margin-bottom:.675em; font-size:20px; color:#222; line-height:1.3; text-align:center; }
.u-tit2--next { margin-top:30px;}
.u-tit2--border-bottom { margin-bottom:0; padding-bottom:.675em; border-bottom:1px solid #d3d3d3; }
.u-tit2.font-style2 {font-family: "Arya", sans-serif;}
html:lang(cn) .u-tit2.font-style2 {font-family:inherit;}

.u-tit2-edge { position:relative; font-size:20px; top:calc((-0.675em - 1px) - 0.5em)}
.u-tit2-edge__left { position:absolute; top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); left:9px; }
.u-tit2-edge__right { position:absolute; top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); right:9px; }



.link1 { color:#845de5; border-bottom:1px solid #845de5;}
.link2 { position:relative; margin-right:1em; }
.link2:before { content:''; display:block; position:absolute; left:0px; bottom:-2px; width:100%; border-width:0 0 1px 0; border-style:solid; border-color:inherit; }
.link2:after { position:absolute; content:'▶';}


.u-box1 { padding:10px 14px; line-height:1.5; background-color:#fafafa; color:#999; font-size:12px; }
.u-box1--next { margin-top:23px; }
.u-box1__tit { margin-bottom:0.5em; color:#666; font-size:12px; font-weight:600; line-height:1.3; text-align:left; text-transform:uppercase; }

.u-box2 { padding:15px; background-color:#fafafa; color:#333; line-height:1.5; font-size:13px; }
.u-box2--border { border:1px solid #e5e5e5; }
.u-box2--border-top { border-top:1px solid #e5e5e5; }
.u-box2--border-bottom { border-bottom:1px solid #e5e5e5; }

/* 공통 date picker */
.datepicker-container{font-size:13px;line-height:36px;position:fixed;top:0;left:0;width:210px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#fff;direction:ltr!important;-ms-touch-action:none;touch-action:none;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;}
.datepicker-container:before,
.datepicker-container:after{position:absolute;display:block;width:0;height:0;content:' ';border:5px solid transparent;}
.datepicker-dropdown{position:absolute;z-index:1;-webkit-box-sizing:content-box;box-sizing:content-box;border:1px solid #ccc;-webkit-box-shadow:0 3px 6px #ccc;box-shadow:0 3px 6px #ccc;}
.datepicker-inline{position:relative;;}
.datepicker-top-left,
.datepicker-top-right{border-top-color:#39f;}
.datepicker-top-left:before,
.datepicker-top-left:after,
.datepicker-top-right:before,
.datepicker-top-right:after{top:-5px;left:10px;border-top:0;}
.datepicker-top-left:before,
.datepicker-top-right:before{border-bottom-color:#39f;}
.datepicker-top-left:after,
.datepicker-top-right:after{top:-4px;border-bottom-color:#fff;}
.datepicker-bottom-left,
.datepicker-bottom-right{border-bottom-color:#39f;}
.datepicker-bottom-left:before,
.datepicker-bottom-left:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after{bottom:-5px;left:10px;border-bottom:0;}
.datepicker-bottom-left:before,
.datepicker-bottom-right:before{border-top-color:#39f;}
.datepicker-bottom-left:after,
.datepicker-bottom-right:after{bottom:-4px;border-top-color:#fff;}
.datepicker-top-right:before,
.datepicker-top-right:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after{right:10px;left:auto;}
.datepicker-panel > ul:before,
.datepicker-panel > ul:after{display:table;content:' ';}
.datepicker-panel > ul:after{clear:both;}
.datepicker-panel > ul{width:102%;margin:0;padding:0;}
.datepicker-panel > ul > li{float:left;width:30px;height:36px;margin:0;padding:0;list-style:none;cursor:pointer;text-align:center;background-color:#fff;}
.datepicker-panel > ul > li:hover{background-color:#eee;}
.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover{color:#999;}
.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover{color:#39f;}
.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover{cursor:default;color:#ccc;background-color:#fff;}
.datepicker-panel > ul > li[data-view='years prev'],
.datepicker-panel > ul > li[data-view='year prev'],
.datepicker-panel > ul > li[data-view='month prev'],
.datepicker-panel > ul > li[data-view='years next'],
.datepicker-panel > ul > li[data-view='year next'],
.datepicker-panel > ul > li[data-view='month next'],
.datepicker-panel > ul > li[data-view='next']{font-size:18px;}
.datepicker-panel > ul > li[data-view='years current'],
.datepicker-panel > ul > li[data-view='year current'],
.datepicker-panel > ul > li[data-view='month current']{width:150px;}
.datepicker-panel > ul[data-view='years'] > li,
.datepicker-panel > ul[data-view='months'] > li{line-height:52.5px;width:52.5px;height:52.5px;}
.datepicker-panel > ul[data-view='week'] > li:before { position:absolute; height:12px; border-left:1px solid #d8d8d8; margin-top:12px; margin-left:-14px; content:'';}
.datepicker-panel > ul[data-view='week'] > li:first-child:before { display:none; }
.datepicker-panel > ul[data-view='week'] > li,
.datepicker-panel > ul[data-view='week'] > li:hover{cursor:default;background-color:#fafafa;}
.datepicker-hide{display:none;}

.datepicker-dropdown { border:1px solid #e6e6e6; }
.datepicker-container { width:100%; }
.datepicker-top-left, .datepicker-top-right { border-top-color:#e6e6e6; }
.datepicker-top-left:before, .datepicker-top-right:before { border-bottom-color:#e6e6e6; }
.datepicker-panel>ul { width:auto; }
.datepicker-panel>ul[data-view=week] { margin:0; padding:0 10px; border-top:1px solid #b8b8b8; border-bottom:1px solid #d8d8d8; background-color:#fafafa; }
.datepicker-panel>ul>li { width:14.28%; }
.datepicker-panel>ul[data-view=week]>li:not(.muted):nth-of-type(7n+1),
.datepicker-panel>ul[data-view=days]>li:not(.muted):nth-of-type(7n+1) { color:#e05f85; }
.datepicker-panel>ul[data-view=week]>li:not(.muted):nth-of-type(7n),
.datepicker-panel>ul[data-view=days]>li:not(.muted):nth-of-type(7n) { color:#0454b3; }
.datepicker-panel>ul>li[data-view='years prev'], .datepicker-panel>ul>li[data-view='year prev'], .datepicker-panel>ul>li[data-view='month prev'], .datepicker-panel>ul>li[data-view='years next'], .datepicker-panel>ul>li[data-view='year next'], .datepicker-panel>ul>li[data-view='month next'], .datepicker-panel>ul>li[data-view=next] { width:36px; color:#333; line-height:36px; font-family:tahoma,sans-serif;}
.datepicker-panel>ul>li[data-view='years prev'], .datepicker-panel>ul>li[data-view='year prev'], .datepicker-panel>ul>li[data-view='month prev'], .datepicker-panel>ul>li[data-view=prev] { position:absolute; top:0; left:0; }
.datepicker-panel>ul>li[data-view='years next'], .datepicker-panel>ul>li[data-view='year next'], .datepicker-panel>ul>li[data-view='month next'], .datepicker-panel>ul>li[data-view=next] { position:absolute; top:0; right:0; }
.datepicker-panel>ul>li[data-view='month current'], .datepicker-panel>ul>li[data-view='years current'], .datepicker-panel>ul>li[data-view='year current'] { float:none; width:auto; text-align:center; font-size:1.2em; color:#333;}
.datepicker-panel>ul[data-view=years]>li, .datepicker-panel>ul[data-view=months]>li { width:25%; }
.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover { background-color:#8561ec; color:#fff; }







.arrow-line__button {position:relative; display:inline-block;}
.arrow-line__button:before {content:''; display:block; position:absolute; left:0px; bottom:-1px; width:100%; border-bottom:1px solid #555555;}
.arrow-line__button:after {content:' ▶'; font-weight:500; position:absolute; top:1px; right:-12px;}
.arrow-line__button--color2:before {border-bottom-color:#fa6f9d;}
.arrow-line__button--color3:before {border-bottom-color:#845de5;}


.u-tag { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:46px; height:25px; margin-top:4px; border:1px solid #e5e5e5; background-color:#fff; font-size:12px; text-align:center; white-space:nowrap; line-height:25px;}
html:lang(zh) .u-tag { font-size:11px; }
.u-tag--auto { width:auto; padding-left:5px; padding-right:5px; }
.u-tag--vertical { display:block; width:50px; }
.u-tag--color1 { border-color:#fecfdf; color:#fc6d9d; }
.u-tag--color2 { border-color:#dac9fa; color:#845de5; }
.u-tag--color3 { border-color:#abdff1; color:#009dd3; }
.u-tag--color4 { border-color:#ffd9c6; color:#ff8c52; }
.u-tag--color5 { border-color:#abe7e7; color:#00b6b7; }
.u-tag--color6 { border-color:#abe7ab; color:#00b701; }


/* label */
.label1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block;padding:0 5px; height:27px; border:1px solid #e5e5e5; background-color:#fff; color:#777777; font-size:13px; text-align:center; line-height:25px; white-space:nowrap; }
.label1.label-option1 { width:42px; padding-left:0; padding-right:0; }
.label1.label-option2_1:before {content:'+ ';}
.label1.label-option2_2:before {content:'- ';}
.label1.label-color1 { border-color:#fecfdf; color:#fc6d9d; }
.label1.label-color2 { border-color:#dac9fa; color:#845de5; }
.label1.label-color3 { border-color:#abdff1; color:#009dd3; }
.label1.label-color4 { border-color:#ffd9c6; color:#ff8c52; }
.label1.label-color5 { border-color:#abe7e7; color:#00b6b7; }
.label1.label-color6 { border-color:#abe7ab; color:#00b701; }


.label2 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; height:23px; padding:0 5px; border:1px solid #eaeaea; border-radius:23px;  background-color:#fff; font-size:12px; text-align:center; line-height:1; color:#333;}
.label2:after { display:inline-block; height:inherit; vertical-align:middle; content:'';  }
.label2.label-color1 { color:#845de5; }
.label2.label-color2 { color:#fa6f9d; }
.label2.label-color3 { color:#07b6b6; }
.label2.label-color4 { color:#049ed1; }
.label2.label-color5 { color:#fd8c59; }
.label2.label-color9 { color:#e05f85; }

.label3 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; margin-top:6px;height:25px; width:49px;border:1px solid #eaeaea; background-color:#fff; font-size:12px; text-align:center; line-height:1; color:#333;}
.label3:after { display:inline-block; height:inherit; vertical-align:middle; content:'';  } 
.label3.label-color1 { border-color:#fecfdf; color:#fc6d9d; }
.label3.label-color2 { border-color:#dac9fa; color:#845de5; }
.label3.label-color3 { border-color:#abdff1; color:#009dd3; }
.label3.label-color4 { border-color:#ffd9c6; color:#ff8c52; }
.label3.label-color5 { border-color:#abe7e7; color:#00b6b7; }
.label3.label-color6 { border-color:#abe7ab; color:#00b701; }



.label3--auto { width:auto; padding-left:5px; padding-right:5px; }

.label4 { z-index:0;-webkit-box-sizing:border-box; box-sizing:border-box; position:relative; bottom:0; min-width:20px; display:inline-block; padding:0 5px; font-size:11px; text-align:center; line-height:1; border-radius:20px;background-color:#845de5; color:#fff; font-family:Arial, sans-serif;letter-spacing:0;}
.label4:before { position:absolute; height:20px; top:0; left:0; right:0; bottom:0.05px; margin:auto; z-index:-1; border-radius:20px; background-color:inherit; content:'';  }.img-list {}

/* label5 */
.label5 { z-index:0;-webkit-box-sizing:border-box; box-sizing:border-box; position:relative; bottom:0; min-width:20px; display:inline-block; padding:0 5px; font-size:11px; text-align:center; line-height:1; border-radius:20px;background-color:#845de5; color:#fff; font-family:Arial, sans-serif;letter-spacing:0;}
.label5:before { position:absolute; height:15px; top:0; left:0; right:0; bottom:0.05px; margin:auto; z-index:-1; border-radius:15px; background-color:inherit; content:'';}
[class*="tab"] .is-on .label5 { background-color:#fff; color:#845de5; }
.label5-wrap {margin-top:3px;}




/* checkinfo */
.checkinfo {padding:23px 0; border-top:1px solid #e5e5e5; border-bottom:1px solid #d3d3d3;}
.checkinfo__head { display:table-cell; width:60px; line-height:1; text-align:center; font-size:15px; font-weight:500; vertical-align:middle;}
.checkinfo__head-mark {display:block; height:30px; width:30px; margin:0 auto; background:url(../images/common/checkinfo-mark.png) no-repeat; -webkit-background-size:30px 30px; background-size:30px 30px;}
.checkinfo__body { display:table-cell; vertical-align: middle; padding:0 20px; font-size:15px; line-height:1.5; position:relative; /* border-left:1px solid #d8d8d8; */}
.checkinfo__body:before {content:''; position:absolute; top:6px; left:0px; bottom:2px; border-left:1px solid #d8d8d8;}


/* bullet */
.blt1 { padding-left:.7em; font-size:12px; line-height:1.5;}
.blt1:before { position:absolute; content:'\00b7'; margin-left:-.6em; margin-top:0; color:inherit; font-weight:700; opacity:0.8; font-size:12px; line-height:inherit;}
.blt1+.blt1 { margin-top:.3em; }


/* paging */
.pagination { height:46px; line-height:46px; position:relative; text-align:center; border-top:8px solid #F2F2F2; border-bottom:8px solid #F2F2F2; color:#999; font-size:14px; -webkit-box-shadow:inset 0 1px 0 #d3d3d3, inset 0 -1px 0 #d3d3d3; box-shadow:inset 0 1px 0 #d3d3d3, inset 0 -1px 0 #d3d3d3; }
.pagination__page { width:41px; height:25px; padding:0; border:1px solid #e5e5e5; line-height:25px; color:#010101; font-size:14px; text-align:center; background-color:#fafafa; }
.pagination__total:before { content:'/ ';}
.pagination__link { overflow:hidden; position:absolute; width:46px; height:46px; top:0; white-space:nowrap; text-indent:100%; }
.pagination__link:before { position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; border-width:0 0 2px 2px; border-style:solid; border-color:#666; width:7px; height:7px; content:''; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
.pagination__link--prev { left:0; }
.pagination__link--next { right:0; }
.pagination__link--next:before { border-width:2px 2px 0 0; }
@media (min-width:600px) { 
	.pagination__link--prev { left:50%; margin-left:-180px; }
	.pagination__link--next { right:50%; margin-right:-180px; }
} 


/* 디이얼로그 팝업 */
/*.dialog { visibility:hidden; z-index:510;position:fixed; top:0; left:0; bottom:0; right:0; text-align:center; overflow:auto; padding:10px 0; white-space:nowrap; }*/
.dialog { display:none; z-index:510;position:fixed; top:0; left:0; bottom:0; right:0; text-align:center; overflow:auto; padding:10px 0; white-space:nowrap; }
.dialog:before,
.dialog:after { display:inline-block; height:100%; vertical-align:middle; content:''; }
.dialog-layout { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; border:1px solid #000; background-color:#fff; text-align:left; vertical-align:middle; -webkit-box-shadow:0 0 5px rgba(0,0,0,.5); box-shadow:0 0 5px rgba(0,0,0,.5); white-space:normal; }
.dialog-layout__head { position:relative; display:table-cell; width:1%; height:55px; border-bottom:1px solid; border-color:inherit; vertical-align:middle; padding-right:47px; padding-left:47px; line-height:1; }
.dialog-layout__body {}
.dialog-layout__body:before,
.dialog-layout__body:after { overflow:hidden; display:block; height:0; content:''; }
.dialog-layout__body:after { clear:both; margin-top:30px;  }

.dialog-tit1 { text-align:center; font-size:18px; color:#010101; font-weight:500; line-height:1.3; }
.dialog-tit2 { margin:40px 0 10px; text-align:center; font-size:14px; color:#845de5; font-weight:500; line-height:1; }
.dialog-close1 { overflow:hidden; position:absolute; top:0; right:0; bottom:0; width:47px; height:inherit; text-indent:-100%; }
.dialog-close1:before,
.dialog-close1:after { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto;content:''; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
.dialog-close1:before { width:23px; height:0; border-top:1px solid #1e1e1e; }
.dialog-close1:after { width:0; height:23px; border-left:1px solid #1e1e1e; }
.dialog-para1 { margin:23px 0 14px; text-align:center; font-size:13px; color:#333; line-height:1.5; font-weight:500;}
.dialog-para1:before { margin-top:-4px; display:block; content:''; }
.dialog-para1:after { margin-bottom:-4px; display:block; content:''; }
.dialog-para2 {margin:22px 0 18px; text-align:center; font-size:12px; color:#333; line-height:1.5; font-weight:500;}
.dialog-box1 { margin-left:-24px; margin-right:-24px; padding-left:24px; padding-right:24px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color:#fafafa; }
.dialog-box2 { margin-top:16px; margin-bottom:30px; font-size:13px; color:#333; }
.dialog-box3 { padding:12px 0; order-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; text-align:center; font-size:13px; }
.dialog-btn-group { margin:40px 0 30px; text-align:center;  }

/*평면검색*/
.cart-flight-number-list { overflow:auto;-webkit-box-sizing:border-box;box-sizing:border-box;height:140px;padding:13px 0 16px;border-top:1px solid #b8b8b8; border-bottom:1px solid #d8d8d8; font-size:12px; }
.cart-flight-number-list--bg {background:#fafafa;}
.cart-flight-number-list--border-vertical {border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8;}
.cart-flight-number-list>li {-webkit-box-sizing:border-box;box-sizing:border-box;float:left;width:50%;height:25px;margin-top:3px;}
.cart-flight-number-list>li:before { display:inline-block; height:100%; vertical-align:middle; content:''; margin-left:10px;}

/* 개인정보 보호 동의 */
.cart-offline-clause1-body { overflow:auto; height:306px; margin-left:-24px; margin-right:-24px; padding:24px; font-size:13px; color:#666; line-height:1.6; }
.cart-offline-clause1-body--height {height:120px;}
.cart-offline-clause1-body--mobile {background-color:#fafafa; border:1px solid #e5e5e5; padding:15px; margin-left:0px; margin-right:0px;}
.cart-offline-clause1-check { height:52px; margin-left:-24px; margin-right:-24px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; vertical-align:middle; text-align:center;  }
.cart-product-check { position:relative; height:100%; }
.cart-product-check-set { position:absolute; top:5px; left:0; right:0; margin:auto;}
/*.cart-border-none {border-left:none!important;}*/
/*.cart-border-none:before {display:none!important;}*/

/* 상품평쓰기 별점 */
.rating-star1 { position:relative; display:inline-block; overflow:hidden; vertical-align:middle;}
.rating-star1__input { float:right; width:30px; height:30px; margin:0; padding:0; opacity:0; }
.rating-star1__label { display:block; overflow:hidden; position:absolute; top:auto; cursor:pointer; text-indent:100%; white-space:nowrap; width:30px; height:30px; background:url(../images/common/ico-rating-star1.png) no-repeat; -webkit-background-size:30px 60px; background-size:30px 60px; vertical-align: middle; pointer-events:none;}
.rating-star1__input:first-child~label { left:120px; }
.rating-star1__input:first-child~label~label { left:90px; }
.rating-star1__input:first-child~label~label~label { left:60px; }
.rating-star1__input:first-child~label~label~label~label { left:30px; }
.rating-star1__input:first-child~label~label~label~label~label { left:0px; }
.rating-star1__input:checked~.rating-star1__label,
.rating-star1__label:hover,
.rating-star1__label:hover~.rating-star1__label,
.rating-star1__label.is-on,
.rating-star1__label.is-on~.rating-star1__label {background-position:0 -30px; }
.rating-star1__label.is-on { cursor:default; }

.rating-star1-full { overflow:hidden; display:inline-block; width:116px; height:20px;  vertical-align:middle; background:url(../images/common/ico-rating-star1-full.png) no-repeat; -webkit-background-size:116px 100px; background-size:116px 100px; text-indent:-100%; text-align:left; white-space:nowrap;}
.rating-star1-full.rating-5 { background-position:0 0; }
.rating-star1-full.rating-4 { background-position:0 -20px; }
.rating-star1-full.rating-3 { background-position:0 -40px; }
.rating-star1-full.rating-2 { background-position:0 -60px; }
.rating-star1-full.rating-1 { background-position:0 -80px; }










/*공통모듈*/
.description-group1 { font-size:14px; line-height:1.4; text-align:left; }
.description-group1--margin-bottom {margin-bottom:17px;}
.description-group1--border-top {border-top:1px solid #f2f2f2;}
.description-group1--border-bottom {border-bottom:1px solid #d3d3d3;}
.description-group1__row {}
.description-group1__row + .description-group1__row {border-top:1px solid #f2f2f2;}
.description-group1__term, 
.description-group1__describe { display:table-cell; -webkit-box-sizing:border-box; box-sizing:border-box; height:45px; padding-top:5px; padding-bottom:5px; vertical-align:middle;}
.description-group1__term { width:1%; text-align:left; white-space:nowrap; color:#777; }
.description-group1__describe {text-align:right; color:#555; }

.description-group2 { font-size:13px; line-height:1.3; text-align:left; }
.description-group2--margin { margin-top:12px; margin-bottom:22px;}
.description-group2__row {}
.description-group2__term, 
.description-group2__describe { display:table-cell; height:23px; vertical-align:middle;}
.description-group2__term { color:#555555; width:1%;}
.description-group2__term--width1 {width:78px;}
.description-group2__describe { color:#777777; }

.description-group3 {position:relative; line-height:1; font-size:13px; color:#555; }
.description-group3--border-bottom {border-bottom:1px dashed #d3d3d3;}
.description-group3__row { }
.description-group3__row--border-top {border-top:1px dashed #d3d3d3; }
.description-group3__row--border-bottom {border-bottom:1px dashed #d3d3d3; }
.description-group3__row--bg {background-color:#fafafa;}
.description-group3__term, 
.description-group3__describe {display:table-cell; vertical-align:middle; height:39px; }
.description-group3__term {text-align:left; width:1%; white-space:nowrap;}
.description-group3__describe { text-align:right; font-size:14px; }
.description-group3__term .label1 {width:52px; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden;}
.description-group3__row description-group3__row--border-sold-out {display:table-cell; width:1%; height:27px; font-size:15px; color:#010101; font-weight:500; padding-top:6px; padding-bottom:6px; vertical-align:middle; text-align:center;}
.description-group3__meritcont {color:#777777; font-size:13px;}
.description-group3__meritcont + .description-group3__meritcont:before {content:'ㅣ '; color:#d8d8d8;}


.drop-down1 { position:relative; z-index:1; height:36px; color:#010101; font-size:13px; line-height:1.3; }
.drop-down1__state { overflow:hidden; position:relative; z-index:1; display:block; padding:9px 40px 9px 15px; border:1px solid #d3d3d3; background:#fff url(../images/common/drop-down1.png) no-repeat right 14px center; -webkit-background-size:11px 7px; background-size:11px 7px; cursor:pointer; white-space:nowrap; text-overflow:ellipsis}
.drop-down1__list { visibility:hidden; position:relative; z-index:-1;width:100%; -webkit-box-sizing:border-box; box-sizing:border-box; margin-top:-1px; background-color:#fff; border:1px solid #d3d3d3; }
.drop-down1__item { border-top:1px solid #d3d3d3; padding:8px 15px 8px 15px; }
.drop-down1__item:first-child { border-top:none; }
.drop-down1__link { display:block; -webkit-box-sizing:border-box; box-sizing:border-box; width:calc(100% + 15px + 15px); margin:-8px -15px -8px -15px; padding:8px 15px 8px 15px;  text-align:left; font-size:inherit;}
.drop-down1__dimmed { position:fixed; top:0; left:0; right:0; bottom:0;  content:''; background-color:rgba(0,0,0,.3);}
.drop-down1.is-open { z-index:1000; }
.drop-down1.is-open .drop-down1__state { border-color:#999; }
.drop-down1.is-open .drop-down1__list { visibility:visible; border-color:#999; z-index:1; }


.empty-data { padding-top:45px; padding-bottom:45px; text-align:center; line-height:1.3; color:#999; font-size:13px; }
.empty-data--border-top { border-top:1px solid #e5e5e5; }
.empty-data--border-bottom { border-bottom:1px solid #e5e5e5; }

.u-flex-box { display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; }
.u-flex-box--wrap { -ms-flex-wrap:wrap; flex-wrap:wrap;}
.u-flex-box__item { -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; }