/*width*/
.width-auto { width:auto; }
.width-1p { width:1%; }
.width-50 { width:50px; }
.width-100 { width:100px; }
.width-170 { width:170px; }
.width-100p { width:100%; }

.height-150px { height:150px; }
.height-5em { height:5em; }

.flex-grow-1 { -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; }


.u-wrapper { margin-top:23px; border-top:9px solid #f2f2f2; }
.u-wrapper2 { margin-top:23px; margin-bottom:23px; }
.u-wrapper2--border-top { margin-top:0; padding-top:23px; border-top:1px solid #d3d3d3; }
.u-wrapper2--border-bottom { margin-bottom:0; padding-bottom:23px; border-bottom:1px solid #d3d3d3; }
.u-wrapper3 { padding:9px; background-color:#f2f2f2; }
.u-wrapper3--border-top { border-top:1px solid #e5e5e5; }
.u-wrapper3--border-bottom { border-bottom:1px solid #e5e5e5; }
.u-wrapper3--bg-white { background-color:#fff; }

.u-wrapper4 { margin-bottom:18px; }
.u-wrapper4--border-top { border-top:1px solid #e5e5e5; }

.u-wrapper5 { margin-top:14px; margin-bottom:14px; }
.u-wrapper5--border-top2 { margin-top:0; padding-top:14px; border-top:1px solid #f6dce4;}
.u-wrapper5--border-bottom2 { margin-bottom:0; padding-bottom:14px; border-bottom:1px solid #f6dce4;}

/* common */
.u-inner1 {padding-left:9px; padding-right:9px;}
.u-inner2 {padding-left:18px; padding-right:18px;}
.u-inner1-vertical {padding-top:9px; padding-bottom:9px;}
.u-inner2-vertical {padding-top:18px; padding-bottom:18px;}

.u-outer1 {margin-left:9px; margin-right:9px;}
.u-outer2 {margin-left:18px; margin-right:18px;}
.u-outer3 {margin-left:41px; margin-right:41px;}
.u-outer1-vertical {margin-top:9px; margin-bottom:9px;}
.u-outer2-vertical {margin-top:18px; margin-bottom:18px;}

.u-border-top1 {border-top:1px solid #e5e5e5;}
.u-border-top2 {border-top:1px solid #d3d3d3;}
.u-border-bottom1 {border-bottom:1px solid #e5e5e5;}
.u-border-bottom2 {border-bottom:1px solid #d3d3d3;}
.u-border-horizontal1 {border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.u-border-horizontal2 {border-left:1px solid #d3d3d3; border-right:1px solid #d3d3d3;}

.u-border-color-e2 { border-color:#e2e2e2; }
.u-border-color-d3 { border-color:#d3d3d3; }
.u-border-color-f2 { border-color:#f2f2f2; }
.u-border-color1 { border-color:#845de5; }
.u-border-color1-soft { border-color:#c3b1f6; }
.u-border-color2 { border-color:rgb(226,93,132); }
.u-border-color2-soft { border-color:#F6C9D6; border-color:rgba(226,93,132,.33); }

@media (min-width:600px) {
	.u-fixed { max-width:360px; margin-left:auto; margin-right:auto; }
}
