@charset "UTF-8";

/* btn1 */
.btn1 {-webkit-box-sizing:border-box;box-sizing:border-box; display:inline-block; color:#845de5; text-decoration:none; text-align:center; line-height:1.3; padding:15px 5px;  font-size:14px; font-weight:600; border:1px solid #845de5; overflow:hidden; background-color:#fff; vertical-align:middle;}
/*.btn1 { box-sizing:border-box; display:table-cell; color:#845de5; text-decoration:none; text-align:center; width:1%; height:50px; line-height:1.3; font-size:14px; font-weight:600; border:1px solid #845de5; box-sizing:border-box; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; background-color:#fff; vertical-align:middle;}*/
.btn1 {display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; height:50px; padding-top:0;  padding-bottom:0; }
.btn1--revert {background-color:#845de5; color:#fff;}
.btn1--sm { height:40px; }
.btn1--width151 {width:151px;}
.btn1--width169 {width:169px;}


/* btn2 */
.btn2 {display:inline-block; color:#888888; text-transform:uppercase; text-align:center; height:30px; font-size:13px; border:1px solid #e2e2e2; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:5px; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;line-height:28px;}
.btn2--revert {border:1px solid #845de5; color:#845de5; background-color:#fff; }
.btn2--revert2 {background-color:#845de5; color:#fff; border:1px solid #845de5;}
.btn2--revert3 {border:1px solid #e2e2e2; color:#845de5; background:#fff;}
.btn2--revert4 {border:1px solid #845de5; color:#ffffff;}
/* .btn2 + .btn2 {margin-left:5px;} */
/*.btn2:before {height:inherit; content:''; display:inline-block; vertical-align:middle;}*/
.btn2--arrow-right {position:relative; padding-right:18px; background-color:#ffffff;}
.btn2--arrow-right:after {content:''; position:absolute; top:11px; right:4px; display:inline-block; width:0; height:0; border-style:solid; border-width:4px; border-color:transparent transparent transparent #999999;}
.btn2--arrow-right--revert1:after {border-color:transparent transparent transparent #845de5;}
.btn2--close-left {position:relative; padding-left:22px; background-color:#ffffff;}
.btn2--close-left:after {content:''; position:absolute; top:10px; left:8px; display:block; vertical-align:middle; width:9px; height:9px; background:url(../images/common/close-btn.png) 0 0 no-repeat; -webkit-background-size:9px 9px; background-size:9px 9px;}
.btn2--download:before { position:relative; display:inline-block; width:15px; height:15px; margin-right:5px; background:url(../images/common/btn2-download.png) center center no-repeat; -webkit-background-size:15px 15px; background-size:15px 15px; vertical-align:middle; content:''; }
.btn2--arrow-up { position:relative; display:inline-block; width:30px; height:30px; background:url(../images/common/btn2-arrow-up.png) center center no-repeat; -webkit-background-size:13px 7px; background-size:13px 7px; vertical-align:middle; right:-7px; }
.btn2--arrow-down {position:relative; display:inline-block; width:30px; height:30px; background:url(../images/common/btn2-arrow-down.png) center center no-repeat; -webkit-background-size:13px 7px; background-size:13px 7px; vertical-align:middle; right:-7px; }
.btn2--color1 {border:1px solid #e9e9e9; background-color:#e9e9e9; color:#888888;}
.btn2--color2 {color:#845de5;}
.btn2--color3 {color:#fa6f9d;}
.btn2--color4 {color:#888888;}
.btn2--full-width {width:100%;}
.btn2--size-sm {height:26px;line-height:24px;}
.btn2--type1 {width:94px; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden;}
.btn2--type1 + .btn2--type1 {margin-left:5px;}
.btn2--type2 {height:60px;line-height:58px;display:inline-block; text-align:center; color:#845de5; font-size:15px; border:1px solid #e2e2e2; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:5px;}
.btn2--type2:before {content:''; height:inherit; display:inline-block; vertical-align:middle;}
.btn2--type2 span {display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; vertical-align:middle;}
.btn2--type2:hover,
.btn2--type2:focus {background-color:#845de5; border:1px solid #845de5; color:#fff;}
.btn2--type3 { height:27px;line-height:25px;font-size:11px !important; position:relative; padding-right:18px; border-color:#e2e2e2; color:#845de5; }
.btn2--type3:after {content:''; position:absolute; top:50%; right:4px; display:inline-block; width:0; height:0; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); border-style:solid; border-width:4px; border-color:transparent transparent transparent #845de5;}


.btn2-close-barcode { position:relative; overflow:visible;}
.btn2-close-barcode:after { position:absolute; top:-1px; left:-1px; right:-1px; bottom:-7px; -webkit-box-sizing:border-box; box-sizing:border-box; border-width:1px 1px 0; border-style:solid; border-color:#e5e5e5;background-color:#eee; content:'\2716'; color:#777; line-height:30px; font-size:20px; }
.btn2-disabled { opacity:0.3; }


.btn3 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block;  font-size:13px; height:30px; padding:0 5px; border-width:1px; border-style:solid; line-height:1.3; text-align:center; text-decoration:none; vertical-align: middle; white-space:nowrap; }
a.btn3:after { display:inline-block; height:100%; vertical-align:middle; content:''; }
/*.btn3:hover,
.btn3:focus {background-color:#845de5; border:1px solid #845de5; color:#fff;}*/
.btn3[disabled]:not([disabled='false']) { opacity:.5;}

.btn5 { display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; height:32px; padding:0 13px; border:1px solid transparent; background-color:#845de5; color:#fff; line-height:1; font-size:13px; line-height:30px; }

.btn6 {display:inline-block; color:#888; padding-top:7.5px; padding-bottom:7.5px; text-align:center; font-size:13px; border:1px solid #e2e2e2; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:12px; padding-right:12px; vertical-align:middle; line-height:1;}
.btn6--size-lg { padding-top:10px; padding-bottom:10px; line-height:14px;}
.btn6--border-color1 { border-color:#845de5; }
.btn6--color1 { color:#845de5; }
.btn6--revert1 { border-color:#845de5; background-color:#845de5; color:#fff; }
.btn6--after-arrow-right:after { display:inline-block; content:' \25b6'; -webkit-transform:scale(.5,.8); -ms-transform:scale(.5,.8); transform:scale(.5,.8); -webkit-transform-origin:100% 50%; -ms-transform-origin:100% 50%; transform-origin:100% 50%;}
.btn6--before-close:before { display:inline-block; width:9px; height:9px; background:url(../images/common/close-btn.png) 0 0 no-repeat; -webkit-background-size:9px 9px; background-size:9px 9px; content:''; }
.btn6--revert2 { border-color:#ef608e; background-color:#ef608e; color:#fff; }

.btn7 { display:inline-block; text-align:center; height:24px; font-size:12px; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:5px; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;line-height:22px;border:1px solid #e2e2e2; color:#845de5; background-color:#fff;}
.btn7--absolute { position:absolute; top:0; bottom:0; right:15px; margin:auto; }

/*컨텐츠 더보기*/
/*.btn-more { display:inline-block; margin:0; padding:5px 0; border-width:0 0 1px 0; border-color:; border-style:solid; background-color:transparent; color:#555; font-size:12px; text-align:left; line-height:1; }*/

.btn-more {position:relative; }
.btn-more a {display:block;position:absolute;right:9px;bottom:8px; width:30px;height:30px;text-indent:-999em;background:#fff;border:1px solid #b1b1b1;border-radius:50%;}
.btn-more a:before {content:"";display:block;position:absolute;top:50%;width:13px;height:1px;left:50%;margin-left:-6px;background:#a5a5a5;}
.btn-more a:after {content:"";display:block;position:absolute;top:50%;left:50%;margin-top:-6px;width:1px;height:13px;background:#a5a5a5;}