.subpop {position:fixed!important;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-color:#000;background:none/*url('http://image.dutyfree24.com/FileStroage/images/subpopup_bg.png')*/; z-index:9999999;display:none;}
.subpop img{ border:0; width: 100%} 
.subpop a:focus{outline: none;} 
.subpop > .popup-inner {position:relative;width:100%; height:100%;margin:auto;}
.subpop > .popup-inner > .chanel_pop{ position:absolute; width: 100%; height:auto; top:5%; left:0; display: none; z-index: 98}
.subpop > .popup-inner > .chanel_pop .btn_close{ position:absolute; width:4.4%; height:5.0%; left:87.5%; top:0.7%}
.subpop > .popup-inner > .chanel_pop .chk_ipnut{ position:absolute; width:2.8%; height:3.3%; margin:0; padding:0; left:34.2%; top:44.1%}
.subpop > .popup-inner > .chanel_pop .chk_ipnut:hover,
.subpop > .popup-inner > .chanel_pop .chk_ipnut:active{ border:1px #000 solid}
.subpop > .popup-inner > .chanel_pop .chk_ipnut_label{position:absolute; width:29.8%; height:4.4%; left:38.4%; top:43.3%;cursor:pointer}
.subpop > .popup-inner > .chanel_pop .btn{ position:absolute; width:29.8%; height:9.6%; left:35%; top:85.9%}

.subpop > .popup-inner > .amor_pop{ position:absolute; width: 100%; height:auto;top:5%; left:0; display: none; z-index: 97}
.subpop > .popup-inner > .amor_pop .btn_close{ position:absolute; width:4.4%; height:5.0%; left:86.5%; top:2.7%}
.subpop > .popup-inner > .amor_pop .chk_ipnut{ position:absolute; width:3.3%; height:3.7%; margin:0; padding:0; left:40%; top:75%}
.subpop > .popup-inner > .amor_pop .chk_ipnut:hover,
.subpop > .popup-inner > .amor_pop .chk_ipnut:active{ border:1px #000 solid}
.subpop > .popup-inner > .amor_pop .chk_ipnut_label{position:absolute; width:15.9%; height:3.9%; left:44.4%; top:75%;cursor:pointer}
.subpop > .popup-inner > .amor_pop .btn{ position:absolute; width:29.8%; height:9.6%; left:35%; top:80.4%}