@charset "UTF-8";

/* reset */
html, body {height:100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img, iframe { border: none; }
input, button, textarea, select { font-family: inherit; }
input:not([type='checkbox']):not([type='radio']), textarea, select { border-radius: 0; }
input:not([type='checkbox']):not([type='radio']), textarea, select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
button, input[type='checkbox'], input[type='radio'], input[type='submit'], input[type='image'] { cursor: pointer; }
h1, h2, h3, h4, h5, h6, strong, b, th { font-weight: 400; }

/* common */
body { font-size: 12px; font-family:'Noto San CJK SC','Hiragino Kaku Gothic',Meiryo, 'MS UI Gothic','Heiti SC','Hiragino Sans GB', 'Hiragino Sans GB', 'LiHei Pro Medium','Microsoft YaHei', SimHei, Simsun, sans-serif; font-weight: 400; color: #666; letter-spacing: -.02em; line-height:1.3; -webkit-overflow-scrolling: touch; -webkit-text-size-adjust:none;}
html:lang(ko) body { word-break:keep-all; }
html:lang(zh) body { word-break:break-all; }
a { color: inherit; text-decoration: none; cursor:pointer;}
strong,b { font-weight:700; }
button { background-color:transparent; border:none; padding:0; }
th { text-align:left; }

body { top:0; bottom:0; background-color:#fff; }
.is-not-scroll { position:fixed;overflow:hidden;width:100%;}

.hidden { overflow: hidden; position: absolute; width: 0; height: 0; }
.hidden.is-view { position: static; width: auto; height: auto; }

.is-hide { display: none; }
.is-show { display: block; }
.table-cell { display:table-cell; width:1%; height:inherit; vertical-align:middle; }

.inline-block { display:inline-block;}

.img { max-width:100%; vertical-align:top;}

/* break */
.break-5 { display:block; margin-top:5px; }
.break-10 { display:block; margin-top:10px; }
.break-15 { display:block; margin-top:15px; }
.break-20 { display:block; margin-top:20px; }
.break-25 { display:block; margin-top:25px; }
.break-30 { display:block; margin-top:30px; }
.break-40 { display:block; margin-top:40px; }
.break-60 { display:block; margin-top:60px; }
.break-minus { display:block; margin-top:-1px;}

.line1 { z-index:10; position:relative; border-top:2px solid #845de5; }
.line2 { z-index:10; position:relative; border-top:1px solid #333; }
.line3 { z-index:10; position:relative; border-top:1px solid #d3d3d3; }
.line4 { z-index:10; position:relative; border-top:1px solid #d3d3d3; }

.u-line { z-index:10; position:relative; border-top:1px solid transparent; }
.u-line--style-dashed { border-style:dashed; }
.u-line--width-9 { border-width:9px; }

.u-tag { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:46px; height:25px; margin-top:4px; border:1px solid #e5e5e5; background-color:#fff; font-size:12px; text-align:center; white-space:nowrap; line-height:25px;}
html:lang(zh) .u-tag { font-size:11px; }
.u-tag--auto { width:auto; padding-left:5px; padding-right:5px; }
.u-tag--vertical { display:block; width:50px; }
.u-tag--color1 { border-color:#fecfdf; color:#fc6d9d; }
.u-tag--color2 { border-color:#dac9fa; color:#845de5; }
.u-tag--color3 { border-color:#abdff1; color:#009dd3; }
.u-tag--color4 { border-color:#ffd9c6; color:#ff8c52; }
.u-tag--color5 { border-color:#abe7e7; color:#00b6b7; }
.u-tag--color6 { border-color:#abe7ab; color:#00b701; }


/* label */
.label1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block;padding:0 5px; height:27px; border:1px solid #e5e5e5; background-color:#fff; color:#777777; font-size:13px; text-align:center; line-height:25px; white-space:nowrap; }
.label1.label-option1 { width:42px; padding-left:0; padding-right:0; }
.label1.label-option2_1:before {content:'+ ';}
.label1.label-option2_2:before {content:'- ';}
.label1.label-color1 { border-color:#fecfdf; color:#fc6d9d; }
.label1.label-color2 { border-color:#dac9fa; color:#845de5; }
.label1.label-color3 { border-color:#abdff1; color:#009dd3; }
.label1.label-color4 { border-color:#ffd9c6; color:#ff8c52; }
.label1.label-color5 { border-color:#abe7e7; color:#00b6b7; }
.label1.label-color6 { border-color:#abe7ab; color:#00b701; }


.label2 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; height:23px; padding:0 5px; border:1px solid #eaeaea; border-radius:23px;  background-color:#fff; font-size:12px; text-align:center; line-height:1; color:#333;}
.label2:after { display:inline-block; height:inherit; vertical-align:middle; content:'';  }
.label2.label-color1 { color:#845de5; }
.label2.label-color2 { color:#fa6f9d; }
.label2.label-color3 { color:#07b6b6; }
.label2.label-color4 { color:#049ed1; }
.label2.label-color5 { color:#fd8c59; }
.label2.label-color9 { color:#e05f85; }

.label3 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; margin-top:6px;height:25px; width:49px;border:1px solid #eaeaea; background-color:#fff; font-size:12px; text-align:center; line-height:1; color:#333;}
.label3:after { display:inline-block; height:inherit; vertical-align:middle; content:'';  } 
.label3.label-color1 { border-color:#fecfdf; color:#fc6d9d; }
.label3.label-color2 { border-color:#dac9fa; color:#845de5; }
.label3.label-color3 { border-color:#abdff1; color:#009dd3; }
.label3.label-color4 { border-color:#ffd9c6; color:#ff8c52; }
.label3.label-color5 { border-color:#abe7e7; color:#00b6b7; }
.label3.label-color6 { border-color:#abe7ab; color:#00b701; }



.label3--auto { width:auto; padding-left:5px; padding-right:5px; }

.label4 { z-index:0;-webkit-box-sizing:border-box; box-sizing:border-box; position:relative; bottom:0; min-width:20px; display:inline-block; padding:0 5px; font-size:11px; text-align:center; line-height:1; border-radius:20px;background-color:#845de5; color:#fff; font-family:Arial, sans-serif;letter-spacing:0;}
.label4:before { position:absolute; height:20px; top:0; left:0; right:0; bottom:0.05px; margin:auto; z-index:-1; border-radius:20px; background-color:inherit; content:'';  }.img-list {}

/* label5 */
.label5 { z-index:0;-webkit-box-sizing:border-box; box-sizing:border-box; position:relative; bottom:0; min-width:20px; display:inline-block; padding:0 5px; font-size:11px; text-align:center; line-height:1; border-radius:20px;background-color:#845de5; color:#fff; font-family:Arial, sans-serif;letter-spacing:0;}
.label5:before { position:absolute; height:15px; top:0; left:0; right:0; bottom:0.05px; margin:auto; z-index:-1; border-radius:15px; background-color:inherit; content:'';}
[class*="tab"] .is-on .label5 { background-color:#fff; color:#845de5; }
.label5-wrap {margin-top:3px;}

.tit1 {padding:22px 0 20px 0; position:relative;} /* 170713_수영 수정*/
.tit1--border-bottom {border-bottom:1px solid #d3d3d3;}
.tit1--uppercase {text-transform:uppercase;}
.tit1__txt {font-size:20px; color:#222222; text-align:center; text-transform:uppercase;}
.tit1__txt2 {font-size:16px; color:#222222; text-align:center; text-transform:uppercase;}
.tit1__sub-txt {font-size:12px; color:#555555; text-align:center; text-transform:uppercase;}
.tit1__txt.tit1--font-style2 {font-family: "Arya", sans-serif; font-size:26px;}
.tit1__button-right {position:absolute; bottom:12px; right:9px;}

/*제목*/
.u-tit1 { margin-top:.3em; margin-bottom:.3em; font-size:15px; color:#333; line-height:1.3; text-align:center; font-weight:600; }
.u-tit1--next { margin-top:35px;}

.u-tit2 { margin-top:.675em; margin-bottom:.675em; font-size:20px; color:#222; line-height:1.3; text-align:center; }
.u-tit2--next { margin-top:30px;}
.u-tit2--border-bottom { margin-bottom:0; padding-bottom:.675em; border-bottom:1px solid #d3d3d3; }
.u-tit2.font-style2 {font-family: "Arya", sans-serif;}
html:lang(zh) .u-tit2.font-style2 {font-family:inherit;}

.u-tit2-edge { position:relative; font-size:20px; top:calc((-0.675em - 1px) - 0.5em)}
.u-tit2-edge__left { position:absolute; top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); left:9px; }
.u-tit2-edge__right { position:absolute; top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); right:9px; }

.u-inner1 {padding-left:9px; padding-right:9px;}
.u-inner2 {padding-left:18px; padding-right:18px;}
.u-inner1-vertical {padding-top:9px; padding-bottom:9px;}
.u-inner2-vertical {padding-top:18px; padding-bottom:18px;}

.u-outer1 {margin-left:9px; margin-right:9px;}
.u-outer2 {margin-left:18px; margin-right:18px;}
.u-outer3 {margin-left:41px; margin-right:41px;}
.u-outer1-vertical {margin-top:9px; margin-bottom:9px;}
.u-outer2-vertical {margin-top:18px; margin-bottom:18px;}

.u-border-top1 {border-top:1px solid #e5e5e5;}
.u-border-top2 {border-top:1px solid #d3d3d3;}
.u-border-bottom1 {border-bottom:1px solid #e5e5e5;}
.u-border-bottom2 {border-bottom:1px solid #d3d3d3;}
.u-border-horizontal1 {border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.u-border-horizontal2 {border-left:1px solid #d3d3d3; border-right:1px solid #d3d3d3;}

.u-border-color-e2 { border-color:#e2e2e2; }
.u-border-color-d3 { border-color:#d3d3d3; }
.u-border-color-f2 { border-color:#f2f2f2; }
.u-border-color1 { border-color:#845de5; }
.u-border-color1-soft { border-color:#c3b1f6; }
.u-border-color2 { border-color:rgb(226,93,132); }
.u-border-color2-soft { border-color:#F6C9D6; border-color:rgba(226,93,132,.33); }

@media (min-width:600px) {
	.u-fixed { max-width:360px; margin-left:auto; margin-right:auto; }
}

/* btn1 */
.btn1 {-webkit-box-sizing:border-box;box-sizing:border-box; display:inline-block; color:#845de5; text-decoration:none; text-align:center; line-height:1.3; padding:15px 5px;  font-size:14px; font-weight:600; border:1px solid #845de5; overflow:hidden; background-color:#fff; vertical-align:middle;}
.btn1 {display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; height:50px; padding-top:0;  padding-bottom:0; }
.btn1--revert {background-color:#845de5; color:#fff;}
.btn1--sm { height:40px; }
.btn1--width151 {width:151px;}
.btn1--width169 {width:169px;}


/* btn2 */
.btn2 {display:inline-block; color:#888888; text-transform:uppercase; text-align:center; height:30px; font-size:13px; border:1px solid #e2e2e2; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:5px; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;line-height:28px;}
.btn2--revert {border:1px solid #845de5; color:#845de5; background-color:#fff; }
.btn2--revert2 {background-color:#845de5; color:#fff; border:1px solid #845de5;}
.btn2--revert3 {border:1px solid #e2e2e2; color:#845de5; background:#fff;}
.btn2--revert4 {border:1px solid #845de5; color:#ffffff;}
.btn2--arrow-right {position:relative; padding-right:18px; background-color:#ffffff;}
.btn2--arrow-right:after {content:''; position:absolute; top:11px; right:4px; display:inline-block; width:0; height:0; border-style:solid; border-width:4px; border-color:transparent transparent transparent #999999;}
.btn2--arrow-right--revert1:after {border-color:transparent transparent transparent #845de5;}
.btn2--close-left {position:relative; padding-left:22px; background-color:#ffffff;}
.btn2--close-left:after {content:''; position:absolute; top:10px; left:8px; display:block; vertical-align:middle; width:9px; height:9px; background:url(../images/common/close-btn.png) 0 0 no-repeat; -webkit-background-size:9px 9px; background-size:9px 9px;}
.btn2--download:before { position:relative; display:inline-block; width:15px; height:15px; margin-right:5px; background:url(../images/common/btn2-download.png) center center no-repeat; -webkit-background-size:15px 15px; background-size:15px 15px; vertical-align:middle; content:''; }
.btn2--arrow-up { position:relative; display:inline-block; width:30px; height:30px; background:url(../images/common/btn2-arrow-up.png) center center no-repeat; -webkit-background-size:13px 7px; background-size:13px 7px; vertical-align:middle; right:-7px; }
.btn2--arrow-down {position:relative; display:inline-block; width:30px; height:30px; background:url(../images/common/btn2-arrow-down.png) center center no-repeat; -webkit-background-size:13px 7px; background-size:13px 7px; vertical-align:middle; right:-7px; }
.btn2--color1 {border:1px solid #e9e9e9; background-color:#e9e9e9; color:#888888;}
.btn2--color2 {color:#845de5;}
.btn2--color3 {color:#fa6f9d;}
.btn2--color4 {color:#888888;}
.btn2--full-width {width:100%;}
.btn2--size-sm {height:26px;line-height:24px;}
.btn2--type1 {width:94px; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden;}
.btn2--type1 + .btn2--type1 {margin-left:5px;}
.btn2--type2 {height:60px;line-height:58px;display:inline-block; text-align:center; color:#845de5; font-size:15px; border:1px solid #e2e2e2; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:5px;}
.btn2--type2:before {content:''; height:inherit; display:inline-block; vertical-align:middle;}
.btn2--type2 span {display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; vertical-align:middle;}
.btn2--type2:hover,
.btn2--type2:focus {background-color:#845de5; border:1px solid #845de5; color:#fff;}
.btn2--type3 { height:27px;line-height:25px;font-size:11px !important; position:relative; padding-right:18px; border-color:#e2e2e2; color:#845de5; }
.btn2--type3:after {content:''; position:absolute; top:50%; right:4px; display:inline-block; width:0; height:0; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); border-style:solid; border-width:4px; border-color:transparent transparent transparent #845de5;}


.btn2-close-barcode { position:relative; overflow:visible;}
.btn2-close-barcode:after { position:absolute; top:-1px; left:-1px; right:-1px; bottom:-7px; -webkit-box-sizing:border-box; box-sizing:border-box; border-width:1px 1px 0; border-style:solid; border-color:#e5e5e5;background-color:#eee; content:'\2716'; color:#777; line-height:30px; font-size:20px; }
.btn2-disabled { opacity:0.3; }


.btn3 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block;  font-size:13px; height:30px; padding:0 5px; border-width:1px; border-style:solid; line-height:1.3; text-align:center; text-decoration:none; vertical-align: middle; white-space:nowrap; }
a.btn3:after { display:inline-block; height:100%; vertical-align:middle; content:''; }
.btn3:focus {background-color:#845de5; border:1px solid #845de5; color:#fff;}*/
.btn3[disabled]:not([disabled='false']) { opacity:.5;}

.btn5 { display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; height:32px; padding:0 13px; border:1px solid transparent; background-color:#845de5; color:#fff; line-height:1; font-size:13px; line-height:30px; }

.btn6 {display:inline-block; color:#888; padding-top:7.5px; padding-bottom:7.5px; text-align:center; font-size:13px; border:1px solid #e2e2e2; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:12px; padding-right:12px; vertical-align:middle; line-height:1;}
.btn6--size-lg { padding-top:10px; padding-bottom:10px; line-height:14px;}
.btn6--border-color1 { border-color:#845de5; }
.btn6--color1 { color:#845de5; }
.btn6--revert1 { border-color:#845de5; background-color:#845de5; color:#fff; }
.btn6--after-arrow-right:after { display:inline-block; content:' \25b6'; -webkit-transform:scale(.5,.8); -ms-transform:scale(.5,.8); transform:scale(.5,.8); -webkit-transform-origin:100% 50%; -ms-transform-origin:100% 50%; transform-origin:100% 50%;}
.btn6--before-close:before { display:inline-block; width:9px; height:9px; background:url(../images/common/close-btn.png) 0 0 no-repeat; -webkit-background-size:9px 9px; background-size:9px 9px; content:''; }
.btn6--revert2 { border-color:#ef608e; background-color:#ef608e; color:#fff; }

.btn7 { display:inline-block; text-align:center; height:24px; font-size:12px; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:5px; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;line-height:22px;border:1px solid #e2e2e2; color:#845de5; background-color:#fff;}
.btn7--absolute { position:absolute; top:0; bottom:0; right:15px; margin:auto; }

.btn-more {position:relative; }
.btn-more a {display:block;position:absolute;right:9px;bottom:8px; width:30px;height:30px;text-indent:-999em;background:#fff;border:1px solid #b1b1b1;border-radius:50%;}
.btn-more a:before {content:"";display:block;position:absolute;top:50%;width:13px;height:1px;left:50%;margin-left:-6px;background:#a5a5a5;}
.btn-more a:after {content:"";display:block;position:absolute;top:50%;left:50%;margin-top:-6px;width:1px;height:13px;background:#a5a5a5;}

/* button group */
.button-group { margin-top:23px;}
.button-group--border-top {}
.button-group__wrap {table-layout:fixed; display:table; width:100%;}
.button-group__span {display:table-cell; width:1%; text-align:center;}
.button-group__span + .button-group__span {padding-left:3px;}

/* button group2 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.button-group2 {display:table; table-layout:fixed; width:100%;}
}
.button-group2 {width:calc(100% + 4px); margin-left:-4px; text-align:center; margin-top:16px; margin-bottom:16px;}
.button-group2__item {display:table-cell; width:1%; padding-left:4px;}
.button-group2__item>span,
.button-group2__item>a {width:100%;}

/* button group3 */
.button-group3 {text-align:center; margin-left:-4px; font-size:0px; margin-top:16px; margin-bottom:16px;}
.button-group3__item {display:inline-block; margin-left:4px; font-size:15px;}

.button-group4 { table-layout:fixed; display:table; width:calc(100% + 4px); margin-left:-4px; }
.button-group4--next { margin-top:23px;}
.button-group4--last { margin-bottom:23px;}
.button-group4__item {display:table-cell; width:1%; padding-left:4px; text-align:center;}

/* 디이얼로그 팝업 */
.dialog { display:none; z-index:510;position:fixed; top:0; left:0; bottom:0; right:0; text-align:center; overflow:auto; padding:10px 0; white-space:nowrap; }
.dialog:before,
.dialog:after { display:inline-block; height:100%; vertical-align:middle; content:''; }
.dialog-layout { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; border:1px solid #000; background-color:#fff; text-align:left; vertical-align:middle; -webkit-box-shadow:0 0 5px rgba(0,0,0,.5); box-shadow:0 0 5px rgba(0,0,0,.5); white-space:normal; }
.dialog-layout__head { position:relative; display:table-cell; width:1%; height:55px; border-bottom:1px solid; border-color:inherit; vertical-align:middle; padding-right:47px; padding-left:47px; line-height:1; }
.dialog-layout__body {}
.dialog-layout__body:before,
.dialog-layout__body:after { overflow:hidden; display:block; height:0; content:''; }
.dialog-layout__body:after { clear:both; margin-top:30px;  }

.dialog-tit1 { text-align:center; font-size:18px; color:#010101; font-weight:500; line-height:1.3; }
.dialog-tit2 { margin:40px 0 10px; text-align:center; font-size:14px; color:#845de5; font-weight:500; line-height:1; }
.dialog-close1 { overflow:hidden; position:absolute; top:0; right:0; bottom:0; width:47px; height:inherit; text-indent:-100%; }
.dialog-close1:before,
.dialog-close1:after { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto;content:''; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
.dialog-close1:before { width:23px; height:0; border-top:1px solid #1e1e1e; }
.dialog-close1:after { width:0; height:23px; border-left:1px solid #1e1e1e; }
.dialog-para1 { margin:23px 0 14px; text-align:center; font-size:13px; color:#333; line-height:1.5; font-weight:500;}
.dialog-para1:before { margin-top:-4px; display:block; content:''; }
.dialog-para1:after { margin-bottom:-4px; display:block; content:''; }
.dialog-para2 {margin:22px 0 18px; text-align:center; font-size:12px; color:#333; line-height:1.5; font-weight:500;}
.dialog-box1 { margin-left:-24px; margin-right:-24px; padding-left:24px; padding-right:24px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color:#fafafa; }
.dialog-box2 { margin-top:16px; margin-bottom:30px; font-size:13px; color:#333; }
.dialog-box3 { padding:12px 0; order-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; text-align:center; font-size:13px; }
.dialog-btn-group { margin:40px 0 30px; text-align:center;  }

.u-flex-box { display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; }
.u-flex-box--wrap { -ms-flex-wrap:wrap; flex-wrap:wrap;}
.u-flex-box__item { -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; }

/* font family */
.font1 { letter-spacing: -.02em; }
.font2 { letter-spacing: .2em; text-transform: uppercase; font-weight: 400; text-indent: .2em; }

/* text transform */
.text-uppercase { text-transform:uppercase; }

.white-space-nowrap { white-space:nowrap; word-break:keep-all;}
.white-space-normal { white-space:normal;}

/* font size */
.size-10 { font-size:10px; }
.size-11 { font-size:11px; }
.size-12 { font-size:12px; }
.size-13 { font-size:13px; }
.size-14 { font-size:15px; }
.size-15 { font-size:15px; }
.size-16 { font-size:16px; }

/*line-height*/
.line-height-1\.5 { line-height:1.5; }

/* font color */
.gray-101010 { color:#101010; }
.gray-333333 { color:#333; }
.gray-555555 { color:#555; }
.gray-666666 { color:#666; }
.gray-999999 { color:#999; }
.gray-aaaaaa { color:#aaa; }
.gray-dddddd { color:#ddd; }

/*글자색*/
.gray-88 { color:#888; }
.gray-77 { color:#777; }
.gray-a5 { color:#a5a5a5; }
.gray-d8 { color:#d8d8d8; }

.color0 { color: #fff; }
.color1 { color: #845de5; }
.color2 { color: #fa6f9d; }
.color3 { color: #07b6b6; }
.color4 { color: #049ed1; }
.color5 { color: #fd8c59; }
.color6 { color: #ffd02d; }
.color7 { color: #5cf1f6; }
.color9 { color: #e05f85; }
.color11 {color: #ab95ec;}
.color12 {color: #d80930;}

/* font weight */
.weight-regular { font-weight:400; }
.weight-medium { font-weight:600; }
.weight-bold { font-weight:700; }

/* text-align */
.align-center { text-align:center; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.align-last-right { text-align-last:right; }
.align-last-end { text-align-last:end; }

.u-rtl { direction:rtl; }

/*width*/
.width-auto { width:auto; }
.width-1p { width:1%; }
.width-50 { width:50px; }
.width-100 { width:100px; }
.width-170 { width:170px; }
.width-100p { width:100%; }

.height-150px { height:150px; }
.height-5em { height:5em; }

.flex-grow-1 { -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; }


.u-wrapper { margin-top:23px; border-top:9px solid #f2f2f2; }
.u-wrapper2 { margin-top:23px; margin-bottom:23px; }
.u-wrapper2--border-top { margin-top:0; padding-top:23px; border-top:1px solid #d3d3d3; }
.u-wrapper2--border-bottom { margin-bottom:0; padding-bottom:23px; border-bottom:1px solid #d3d3d3; }
.u-wrapper3 { padding:9px; background-color:#f2f2f2; }
.u-wrapper3--border-top { border-top:1px solid #e5e5e5; }
.u-wrapper3--border-bottom { border-bottom:1px solid #e5e5e5; }
.u-wrapper3--bg-white { background-color:#fff; }

.u-wrapper4 { margin-bottom:18px; }
.u-wrapper4--border-top { border-top:1px solid #e5e5e5; }

.u-wrapper5 { margin-top:14px; margin-bottom:14px; }
.u-wrapper5--border-top2 { margin-top:0; padding-top:14px; border-top:1px solid #f6dce4;}
.u-wrapper5--border-bottom2 { margin-bottom:0; padding-bottom:14px; border-bottom:1px solid #f6dce4;}

.link1 { color:#845de5; border-bottom:1px solid #845de5;}
.link2 { position:relative; margin-right:1em; }
.link2:before { content:''; display:block; position:absolute; left:0px; bottom:-2px; width:100%; border-width:0 0 1px 0; border-style:solid; border-color:inherit; }
.link2:after { position:absolute; content:'▶';}


.u-box1 { padding:10px 14px; line-height:1.5; background-color:#fafafa; color:#999; font-size:12px; }
.u-box1--next { margin-top:23px; }
.u-box1__tit { margin-bottom:0.5em; color:#666; font-size:12px; font-weight:600; line-height:1.3; text-align:left; text-transform:uppercase; }

.u-box2 { padding:15px; background-color:#fafafa; color:#333; line-height:1.5; font-size:13px; }
.u-box2--border { border:1px solid #e5e5e5; }
.u-box2--border-top { border-top:1px solid #e5e5e5; }
.u-box2--border-bottom { border-bottom:1px solid #e5e5e5; }

/* 공통 date picker */
.datepicker-container{font-size:13px;line-height:36px;position:fixed;top:0;left:0;width:210px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#fff;direction:ltr!important;-ms-touch-action:none;touch-action:none;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;}
.datepicker-container:before,
.datepicker-container:after{position:absolute;display:block;width:0;height:0;content:' ';border:5px solid transparent;}
.datepicker-dropdown{position:absolute;z-index:1;-webkit-box-sizing:content-box;box-sizing:content-box;border:1px solid #ccc;-webkit-box-shadow:0 3px 6px #ccc;box-shadow:0 3px 6px #ccc;}
.datepicker-inline{position:relative;;}
.datepicker-top-left,
.datepicker-top-right{border-top-color:#39f;}
.datepicker-top-left:before,
.datepicker-top-left:after,
.datepicker-top-right:before,
.datepicker-top-right:after{top:-5px;left:10px;border-top:0;}
.datepicker-top-left:before,
.datepicker-top-right:before{border-bottom-color:#39f;}
.datepicker-top-left:after,
.datepicker-top-right:after{top:-4px;border-bottom-color:#fff;}
.datepicker-bottom-left,
.datepicker-bottom-right{border-bottom-color:#39f;}
.datepicker-bottom-left:before,
.datepicker-bottom-left:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after{bottom:-5px;left:10px;border-bottom:0;}
.datepicker-bottom-left:before,
.datepicker-bottom-right:before{border-top-color:#39f;}
.datepicker-bottom-left:after,
.datepicker-bottom-right:after{bottom:-4px;border-top-color:#fff;}
.datepicker-top-right:before,
.datepicker-top-right:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after{right:10px;left:auto;}
.datepicker-panel > ul:before,
.datepicker-panel > ul:after{display:table;content:' ';}
.datepicker-panel > ul:after{clear:both;}
.datepicker-panel > ul{width:102%;margin:0;padding:0;}
.datepicker-panel > ul > li{float:left;width:30px;height:36px;margin:0;padding:0;list-style:none;cursor:pointer;text-align:center;background-color:#fff;}
.datepicker-panel > ul > li:hover{background-color:#eee;}
.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover{color:#999;}
.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover{color:#39f;}
.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover{cursor:default;color:#ccc;background-color:#fff;}
.datepicker-panel > ul > li[data-view='years prev'],
.datepicker-panel > ul > li[data-view='year prev'],
.datepicker-panel > ul > li[data-view='month prev'],
.datepicker-panel > ul > li[data-view='years next'],
.datepicker-panel > ul > li[data-view='year next'],
.datepicker-panel > ul > li[data-view='month next'],
.datepicker-panel > ul > li[data-view='next']{font-size:18px;}
.datepicker-panel > ul > li[data-view='years current'],
.datepicker-panel > ul > li[data-view='year current'],
.datepicker-panel > ul > li[data-view='month current']{width:150px;}
.datepicker-panel > ul[data-view='years'] > li,
.datepicker-panel > ul[data-view='months'] > li{line-height:52.5px;width:52.5px;height:52.5px;}
.datepicker-panel > ul[data-view='week'] > li:before { position:absolute; height:12px; border-left:1px solid #d8d8d8; margin-top:12px; margin-left:-14px; content:'';}
.datepicker-panel > ul[data-view='week'] > li:first-child:before { display:none; }
.datepicker-panel > ul[data-view='week'] > li,
.datepicker-panel > ul[data-view='week'] > li:hover{cursor:default;background-color:#fafafa;}
.datepicker-hide{display:none;}

.datepicker-dropdown { border:1px solid #e6e6e6; }
.datepicker-container { width:100%; }
.datepicker-top-left, .datepicker-top-right { border-top-color:#e6e6e6; }
.datepicker-top-left:before, .datepicker-top-right:before { border-bottom-color:#e6e6e6; }
.datepicker-panel>ul { width:auto; }
.datepicker-panel>ul[data-view=week] { margin:0; padding:0 10px; border-top:1px solid #b8b8b8; border-bottom:1px solid #d8d8d8; background-color:#fafafa; }
.datepicker-panel>ul>li { width:14.28%; }
.datepicker-panel>ul[data-view=week]>li:not(.muted):nth-of-type(7n+1),
.datepicker-panel>ul[data-view=days]>li:not(.muted):nth-of-type(7n+1) { color:#e05f85; }
.datepicker-panel>ul[data-view=week]>li:not(.muted):nth-of-type(7n),
.datepicker-panel>ul[data-view=days]>li:not(.muted):nth-of-type(7n) { color:#0454b3; }
.datepicker-panel>ul>li[data-view='years prev'], .datepicker-panel>ul>li[data-view='year prev'], .datepicker-panel>ul>li[data-view='month prev'], .datepicker-panel>ul>li[data-view='years next'], .datepicker-panel>ul>li[data-view='year next'], .datepicker-panel>ul>li[data-view='month next'], .datepicker-panel>ul>li[data-view=next] { width:36px; color:#333; line-height:36px; font-family:tahoma,sans-serif;}
.datepicker-panel>ul>li[data-view='years prev'], .datepicker-panel>ul>li[data-view='year prev'], .datepicker-panel>ul>li[data-view='month prev'], .datepicker-panel>ul>li[data-view=prev] { position:absolute; top:0; left:0; }
.datepicker-panel>ul>li[data-view='years next'], .datepicker-panel>ul>li[data-view='year next'], .datepicker-panel>ul>li[data-view='month next'], .datepicker-panel>ul>li[data-view=next] { position:absolute; top:0; right:0; }
.datepicker-panel>ul>li[data-view='month current'], .datepicker-panel>ul>li[data-view='years current'], .datepicker-panel>ul>li[data-view='year current'] { float:none; width:auto; text-align:center; font-size:1.2em; color:#333;}
.datepicker-panel>ul[data-view=years]>li, .datepicker-panel>ul[data-view=months]>li { width:25%; }
.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover { background-color:#8561ec; color:#fff; }