@charset "UTF-8";

/*input*/
.input1 {position:relative; width:100%; height:39px; font-size:14px; line-height:1; padding:12px 10px 12px 10px; border:none; outline:none; appearance:none; -moz-appearance:none; /* Firefox */ -webkit-appearance:none; /* Safari and Chrome */ -webkit-box-sizing:border-box; box-sizing:border-box; background-color:transparent; }
.input2 { -webkit-box-sizing:border-box; box-sizing:border-box; height:30px; padding:8px 7px; border:1px solid #e0e0e0; background-color:#fff; font-size:12px; line-height:1; }
.input2:focus { border-color:#aaa; }

.input3 { width:100%; height:30px; font-size:14px; line-height:1; padding:7px 0; border:1px solid transparent; -webkit-box-sizing:border-box; box-sizing:border-box; background-color:transparent; }
.input3::-webkit-input-placeholder {color:#aaa;}
.input3::-moz-placeholder {color:#aaa;}
.input3:-ms-input-placeholder {color:#aaa;}
.input3:-moz-placeholder {color:#aaa;}
.input3[readonly] { color:#777;}

.input5 { height:30px; font-size:13px; line-height:14px; padding:7px; border:1px solid #d3d3d3; -webkit-box-sizing:border-box; box-sizing:border-box; background-color :#fff; outline:none; color:#010101; }
.input5--border-color1 { border-color:#b6a0f4; }
.input5--border-color2 { border-color:#ec7fa2; }
.input5--bg-color2 { background-color:#f9dfe8; }
.input5--bg-color2:focus { background-color:#fff; }
.input5--right-none { border-right:none; }
.input5--font-color2 { color:#f2799e; }
.input5--bg-color2:not(:focus)::-webkit-input-placeholder {color:#f2799e;}
.input5--bg-color2:not(:focus)::-moz-placeholder {color:#f2799e;}
.input5--bg-color2:not(:focus):-ms-input-placeholder {color:#f2799e;}
.input5--bg-color2:not(:focus):-moz-placeholder {color:#f2799e;}

.upload-set { position:relative; display:inline-block; width:75px; height:75px; vertical-align:middle; text-align:center; }
.upload-set__wrap { display:block; overflow:hidden; position:relative; -webkit-box-sizing:border-box; box-sizing:border-box; height:inherit; width:inherit; border:1px solid #d3d3d3; background-color:#fff; }
.upload-set__wrap:before { position:absolute; top:0; left:0; right:0; bottom:0; border-top:1px solid #845de5; width:15px; height:0; margin:auto; content:''; }
.upload-set__wrap:after { position:absolute; top:0; left:0; right:0; bottom:0; border-left:1px solid #845de5; width:0; height:15px; margin:auto; content:''; }
.upload-set__file { position:absolute; top:0; left:0; right:0; height:100%; opacity:0; }
.upload-set--thumb .upload-set__wrap { display:none; }
.upload-set--thumb:before { display:inline-block; height:100%; vertical-align:middle; content:''; }
.upload-set__reset { position:absolute; bottom:5px; right:5px; width:18px; height:18px; border:1px solid rgba(0,0,0,.1); border-radius:50%; background-color:#fff; }
.upload-set__reset:before, 
.upload-set__reset:after { position:absolute; -webkit-box-sizing:border-box; box-sizing:border-box; top:0; right:0; bottom:0; left:0; margin:auto; content:''; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }
.upload-set__reset:before { width:9px; height:0; border-top:1px solid #9b9b9b; } 
.upload-set__reset:after { width:0; height:9px; border-left:1px solid #9b9b9b; }

.upload-display { position:relative; display:inline-block; vertical-align:middle; }
.upload-display img { max-width:75px; max-height:75px; vertical-align:middle; }
.upload-display:after { position:absolute; top:0; left:0; right:0; bottom:0;  border:1px solid #000; opacity:.1; pointer-events:none; content:''; }

.textarea3 { width:100%; font-size:14px; line-height:1.5; padding:4px 0; border:1px solid transparent; -webkit-box-sizing:border-box; box-sizing:border-box; background-color:transparent; overflow:auto; }

/* select */
.select1 {position:relative; width:100%; height:39px; font-size:15px; line-height:1.3; padding:11px 37px 11px 10px; border:none; padding-left:10px; outline:none; appearance:none; -moz-appearance:none; /* Firefox */ -webkit-appearance:none; /* Safari and Chrome */ -webkit-box-sizing:border-box; box-sizing:border-box;}
.select1:optional, .select1:required {-webkit-appearance: none; -moz-appearance: none; appearance: none; background:transparent url(../images/common/select1.png) no-repeat right 15px center; -webkit-background-size:10px 6px; background-size:10px 6px;}
.select1::-ms-expand {display:none;}
.select1--border {border:1px solid #d3d3d3; padding:10px 37px 10px 10px;}

.select3 {position:relative; min-width:100%; height:30px; font-size:14px; line-height:30px; padding:0px 24px 0 0; border:none; outline:none; appearance:none; -moz-appearance:none; /* Firefox */ -webkit-appearance:none; /* Safari and Chrome */ -webkit-box-sizing:border-box; box-sizing:border-box;}
.select3:optional, 
.select3:required {-webkit-appearance: none; -moz-appearance: none; appearance: none; background:transparent url(../images/common/select1.png) no-repeat right 7px center; -webkit-background-size:10px 6px; background-size:10px 6px;}

.select4 {position:relative; min-width:100%; height:30px; font-size:13px; line-height:30px;padding:0px 24px 0 14px;}
.select4:optional, 
.select4:required {-webkit-appearance: none; -moz-appearance: none; appearance: none; background:#fff url(../images/common/select1.png) no-repeat right 7px center; -webkit-background-size:10px 6px; background-size:10px 6px;border-color:#d3d3d3;}

.select5 { position:relative; min-width:100%; height:30px; border:1px solid #d3d3d3; font-size:13px; line-height:28px;padding:0px 26px 0 7px; color:#010101; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:#fff url(../images/common/select5.png) no-repeat right 7px center; -webkit-background-size:10px 6px; background-size:10px 6px; }
.select5--border-color1 { border-color:#b6a0f4; }
.select5--border-color2 { border-color:#ec7fa2; }
.select5--bg-color2 { background-color:#f9dfe8; }
.select5--bg-color2:focus { background-color:#fff; }
.select5--right-none { border-right:none; }

.select6 { height:43px; border:none; line-height:43px;padding:0px 24px 0 5px; color:#777;font-size:13px; direction:rtl;}
.select6--full { width:100%; direction:ltr; padding-left:9px; }
.select6:optional, 
.select6:required {-webkit-appearance: none; -moz-appearance: none; appearance: none; background:url(../images/common/select6.png) no-repeat right 7px center; -webkit-background-size:13px 8px; background-size:13px 8px;}

/* checkbox */
.checkbox1 { display:inline-block; cursor: pointer; vertical-align:middle;}
.checkbox1+.checkbox1 { margin-left:10px;  }
.checkbox1 input {margin-top: -3px; vertical-align:middle; }
.checkbox1:not(※) input { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
.checkbox1:not(※) i { position: relative; display: inline-block; padding-left: 17px; vertical-align: middle; }
.checkbox1:not(※) i:before { position: absolute; top: -3px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 17px; height: 17px; margin: auto; border: 1px solid #e0e0e0; background-color: #fff; content: ''; cursor: pointer; }
.checkbox1:not(※) input:focus+i:before {border-color:#d0d0d0;}
.checkbox1:not(※) input:checked+i:after { position: absolute; top: -3px; left: 0px; bottom: 0; width: 17px; height: 17px; margin: auto; background: url(../images/common/checkbox1.png) no-repeat; cursor: pointer; content: ''; }
.checkbox1--type1 {font-size:15px; color:#333333; font-weight:400;}

.checkbox2 { display:inline-block; cursor: pointer; vertical-align:middle;}
.checkbox1+.checkbox2 { margin-left:10px;  }
.checkbox2 input {margin-top: -3px; vertical-align:middle; }
.checkbox2:not(※) input { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
.checkbox2:not(※) i { position: relative; display: inline-block; padding-left: 21px; vertical-align: middle; }
.checkbox2:not(※) i:before { position: absolute; top: -2px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 16px; height: 16px; margin: auto; border: 1px solid #845de5; background-color: #fff; content: ''; cursor: pointer; }
.checkbox2:not(※) input:focus + i:before { border-width:2px;}
.checkbox2:not(※) input:checked + i:before { background-color:#845de5;}
.checkbox2:not(※) input:checked + i:after { position: absolute; top: -2px; left: 0; bottom: 0; width:16px; height:16px; margin: auto; background: url(../images/common/checkbox2.png) no-repeat; cursor: pointer; content: ''; }


.checkbox-set2 { display:inline-block; position:relative; cursor: pointer; vertical-align:middle;}
.checkbox-set2 input { opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; margin:0;}
.checkbox-set2 input+i { float:left; -webkit-box-sizing:border-box; box-sizing:border-box; width:22px; height:22px; border: 1px solid #e0e0e0; background-color: #fff; }
.checkbox-set2 input:checked+i { /*border-color:#855bef;*/}
.checkbox-set2 input:checked+i:after { position: absolute; top:10%; left:12%; bottom: 0; right:0; width: 60%;height: 40%;-ms-transform: rotate(-45deg) skewX(-5deg); -webkit-transform: rotate(-45deg) skewX(-5deg); transform: rotate(-45deg) skewX(-5deg);border-width:0 0 3px 3px; border-style:solid; border-color:#855bef; cursor: pointer; content: ''; }

.checkbox-set3 { display:inline-block;vertical-align:middle;}
.checkbox-set3 input { opacity:0; position:absolute; width:26px; height:26px; margin:0; }
.checkbox-set3 input+i { float:left; width:26px; height:26px; background:url(../images/common/checkbox3.png) no-repeat; -webkit-background-size:auto 26px; background-size:auto 26px; cursor:pointer; }
.checkbox-set3 input:checked+i { background-position:-26px 0; }

.checkbox-set4 { display:inline-block; position:relative; cursor: pointer; vertical-align:middle;}
.checkbox-set4 input { opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; margin:0;}
.checkbox-set4 input+i { float:left; -webkit-box-sizing:border-box; box-sizing:border-box; width:23px; height:23px; border: 1px solid #a5a5a5; background-color: #fff; }
.checkbox-set4 input:checked+i { border-color:#855bef; background-color:#855bef; }
.checkbox-set4 input:checked+i:after { position: absolute; top:14%; left:17%; bottom: 0; right:0; width: 50%;height: 30%;-ms-transform: rotate(-45deg) skewX(-5deg); -webkit-transform: rotate(-45deg) skewX(-5deg); transform: rotate(-45deg) skewX(-5deg);border-width:0 0 3px 3px; border-style:solid; border-color:#fff; cursor: pointer; content: ''; }



.radio1 { vertical-align:middle; }
.radio1 input {margin-top: -3px; vertical-align:middle; }
.radio1:not(※) {line-height: 16px;}
.radio1:not(※) input {overflow:hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0, 0, 0, 0);}
.radio1:not(※) span { position:relative; display:block; font-size:15px; line-height:28px; background-color:#fff; cursor:pointer; padding:0 9px; border:1px solid #e0e0e0; font-weight:400; color:#999; text-align:center; }
.radio1:not(※) input:focus+span {border-color:#aaa; z-index:1; }
.radio1:not(※) input:checked+span {border-color:#8561ec; color:#8561ec; z-index:1; }
.radio1:not(※) input[readonly]+span { background-color:#fff; } 

.radio-set { position:relative; display:inline-block; vertical-align:middle; }
.radio-set input { opacity:0; position:absolute; width:100%; height:30px; margin:0; }
.radio-set input+i { position:relative; display:block; font-size:15px; line-height:28px; background-color:#fff; cursor:pointer; padding:0 9px; border:1px solid #e0e0e0; font-weight:400; color:#999; text-align:center; font-style:normal; }
.radio-set input:focus+i {border-color:#aaa; z-index:1; }
.radio-set input:checked+i {border-color:#8561ec; color:#8561ec; z-index:1; }
.radio-set input[readonly]+i { background-color:#fff; }

.radio-set2 { display:inline-block; position:relative; cursor: pointer; vertical-align:middle;}
.radio-set2 input { opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; margin:0;}
.radio-set2 input+i { float:left; -webkit-box-sizing:border-box; box-sizing:border-box; width:22px; height:22px; border: 1px solid #e0e0e0; border-radius:50%; background-color: #fff; }
.radio-set2 input:focus+i { -webkit-box-shadow:0 0 1px #855bef; box-shadow:0 0 1px #855bef;}
.radio-set2 input:checked+i { border-color:#855bef;}
.radio-set2 input:checked+i:after { position: absolute; top:0; left:0; bottom: 0; right:0;  width: 10px; height: 10px; margin: auto; border-radius:50%; background-color:#855bef; cursor: pointer; content: ''; }

.radio-set3 { position:relative; display:inline-block;vertical-align:middle;} 
.radio-set3 input { opacity:0; position:absolute; width:100%; height:30px; margin:0; }
.radio-set3 input+i { display:block; font-size:14px; line-height:28px; background-color:#fff; padding:0 9px; border:1px solid #e0e0e0; font-weight:400; color:#999; text-align:center; cursor:pointer; font-style:normal; }
.radio-set3 input:checked+i { position:relative; z-index:1; border-color:#855bef; color:#845de5; }

.radio-set4 { position:relative; display:inline-block;vertical-align:middle;} 
.radio-set4 input { opacity:0; position:absolute; width:100%; height:36px; margin:0; }
.radio-set4 input+i { display:block; font-size:14px; line-height:34px; background-color:#fff; padding:0 9px; border:1px solid #e2e2e2; font-weight:400; color:#888; text-align:center; cursor:pointer; font-style:normal; }
.radio-set4 input:checked+i { position:relative; z-index:1; border-color:#855bef; color:#845de5; }

.radio-set6 { position:relative; display:inline-block;vertical-align:middle;} 
.radio-set6 input { opacity:0; position:absolute; width:100%; height:39px; margin:0; }
.radio-set6 input+i { display:block; font-size:13px; line-height:37px; background-color:#fff; padding:0 9px; border:1px solid #d3d3d3; font-weight:400; color:#845de5; text-align:center; cursor:pointer; font-style:normal; }
.radio-set6 input:checked+i { position:relative; z-index:1; border-color:#855bef; background-color:#855bef; color:#fff; }

.checked-wrap {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.checked-wrap--margin { margin:10px; }
.checked-wrap__item { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.checked-wrap__item+.checked-wrap__item { margin-left:-1px; }

.checked-wrap2--inline-block { display:inline-block; vertical-align:middle; }
.checked-wrap2__item { display:table; width:100%; margin-top:10px; }
.checked-wrap2__item:first-child { margin-top:0; }
.checked-wrap2__item input + .checked-wrap2__input { display:none; }
.checked-wrap2__item input:checked ~.checked-wrap2__input { display:block;}
.checked-wrap2__text-field { margin-top:5px; }
.checked-wrap2__text-field--indent { margin-left:20px; }
.checked-wrap2__label { display:table-cell; padding-left:5px; width:100%; }

.checked-wrap3 {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.checked-wrap3--margin { margin:10px; }
.checked-wrap3__item { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-preferred-size:1%; flex-basis:1%; }
.checked-wrap3__item+.checked-wrap3__item { margin-left:-1px; }

.checked-wrap4 { text-align:center; font-size:0; }
.checked-wrap4--margin { margin-top:17px; margin-bottom:19px; }
.checked-wrap4__item { color:#777; font-size:14px; }
.checked-wrap4__item+.checked-wrap4__item { margin-left:23px; }

.checked-wrap5 { display:table; width:100%; }
.checked-wrap5__input { display:table-cell; vertical-align:top; }
.checked-wrap5__input--margin { padding-top:17px; }
.checked-wrap5__body { }

.checked-wrap6 {overflow:hidden; margin-left:-4px; margin-top:-4px; }
.checked-wrap6__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; padding-left:4px; margin-top:4px; }
.checked-wrap6--col-2 .checked-wrap6__item { width:50%; }

.form-note { margin-top:18px; margin-bottom:18px; text-align:center; color:#777; line-height:1.5; }

.form-wrap4 { display:table; width:100%; }
.form-wrap4--next { position:relative; margin-top:15px; }
.form-wrap4--next:before { position:absolute; top:-7px; left:0; right:0; border-top:1px solid #d3d3d3; content:'';}
.form-wrap4--dashed:before { left:-14px; right:-14px; border-top:1px dashed #d3d3d3; }
.form-wrap4--overflow:before { left:-14px; right:-14px; }
.form-wrap4__cell { display:table-cell; vertical-align:middle; }
.form-wrap4__cell+.form-wrap4__cell { padding-left:7px; }
.form-wrap4__cell--bar,
.form-wrap4__cell+.form-wrap4__cell--bar { padding-left:0; }
.form-wrap4__cell--bar:before { width:0; margin:8px 7px; border-left:1px solid #d3d3d3; content:''; vertical-align:middle;  }
.form-wrap4__cell--text { color:#999; font-size:12px; }

.form-wrap5 { display:table; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; width:100%; font-size:13px;}
.form-wrap5--next { position:relative; margin-top:19px; }
.form-wrap5--next:before { position:absolute; top:-9px; left:0; right:0; border-top:1px solid #e2e2e2; content:'';}
.form-wrap5__cell { display:table-cell; display:-webkit-inline-box; display:-ms-inline-flexbox; display:inline-flex; vertical-align:middle; }
.form-wrap5__cell--next { padding-left:4px;}
.form-wrap5__cell--overlap { padding-left:0; }

.form-group+.form-group { margin-top:10px; }

.datepicker-wrap { display:inline-block; position:relative; }
.datepicker-btn { position:absolute; top:0; right:0; left:0; width:100%; height:100%; -webkit-box-sizing:border-box; box-sizing:border-box; padding:0; margin:0; border:1px solid transparent; text-indent:100%; white-space:nowrap; overflow: hidden; }
.datepicker-btn:before { position:absolute; -webkit-box-sizing:border-box; box-sizing:border-box; content:''; background:url(../images/common/datepicker-btn.png) no-repeat 50% 50%; -webkit-background-size:18px 18px; background-size:18px 18px; }
.datepicker-btn--input1:before { right:-1px; top:-1px; width:39px; height:39px; }
.datepicker-btn--input3:before { right:-1px; top:-1px; width:30px; height:30px; }
.datepicker-btn--input3:after { position:absolute; right:0; top:5px; bottom:5px; width:30px; border-left:1px solid #d3d3d3;  content:''; }
.datepicker-btn--input5:before { right:-1px; top:-1px; width:30px; height:30px; border:1px solid #d3d3d3; background-color:#fff; }
