@charset "UTF-8";

.ico-d {display:inline-block; vertical-align:middle; margin-top:-2px; width:17px; height:17px; background:url(../images/common/ico-d1.png) 0 0 no-repeat; -webkit-background-size:17px 17px; background-size:17px 17px;}
.ico-d2 {display:inline-block; vertical-align:middle; margin-top:-2px; width:14px; height:14px; background:url(../images/common/ico-d1.png) 0 0 no-repeat; -webkit-background-size:14px 14px; background-size:14px 14px;}

.ico-set { display:inline-block; font-style:normal;}
.ico-set:before { background:url(../images/common/ico-set.png) no-repeat; -webkit-background-size:200px 200px; background-size:200px 200px; content:''; }
.ico-set--block { display:block; }
.ico-set--result { width:33px; height:39px; }
.ico-set--result:before { display:inline-block; width:33px; height:39px; }

.ico-set--reserve { width:22px; position:relative;}
.ico-set--reserve:before { position:absolute; width:22px; height:22px; top:50%; margin-top:-11px; background-position:-60px 0; }

/*화살표*/
.ico-set--triangle-right { background:none; margin-left:-.1em; margin-right:-.1em; }
.ico-set--triangle-right:before { display:inline-block; content:'\25b6'; -webkit-transform:scale(.5,.8); -ms-transform:scale(.5,.8); transform:scale(.5,.8); -webkit-transform-origin:50% 50%; -ms-transform-origin:50% 50%; transform-origin:50% 50%; }
.ico-set--triangle-left { background:none; margin-left:-.1em; margin-right:-.1em; }
.ico-set--triangle-left:before { display:inline-block; content:'\25C0'; -webkit-transform:scale(.5,.8); -ms-transform:scale(.5,.8); transform:scale(.5,.8); -webkit-transform-origin:50% 50%; -ms-transform-origin:50% 50%; transform-origin:50% 50%; }
.ico-set--triangle-up { background:none; margin-left:-.1em; margin-right:-.1em; }
.ico-set--triangle-up:before { display:inline-block; content:'\25b2'; -webkit-transform:scale(.8,.5); -ms-transform:scale(.8,.5); transform:scale(.8,.5); -webkit-transform-origin:50% 50%; -ms-transform-origin:50% 50%; transform-origin:50% 50%; }
.ico-set--triangle-down { background:none; margin-left:-.1em; margin-right:-.1em; }
.ico-set--triangle-down:before { display:inline-block; content:'\25bc'; -webkit-transform:scale(.8,.5); -ms-transform:scale(.8,.5); transform:scale(.8,.5); -webkit-transform-origin:50% 50%; -ms-transform-origin:50% 50%; transform-origin:50% 50%; }