@charset "UTF-8";

.wrap { padding:115px 0 100px; }

/* header */
.header-wrap {position:absolute;top:0;left:0;width:100%;}
.header {position:relative;height:65px;text-align:center;background:#02193c;}
.header:after {content:''; position:absolute; top:0px; left:0px; width:100%; height:inherit; background:url(../images/header/header-bg.jpg) 0 0 no-repeat;z-index:1}
.header__menu {position:absolute;top:0;left:0;z-index:3;}
.header__menu a {position:relative;display:block;width:56px;height:65px;overflow:hidden;text-indent:-100%;text-align:left;white-space:nowrap;}
.header__menu a:before {content:"";display:block;position:absolute;top:50%;left:0;right:0;width:20px;height:0;margin:-1px auto 0;border-top:2px solid #c0c7d1;}
.header__menu a:after {content:"";display:block;position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;width:20px;height:14px;border-top:2px solid #c0c7d1;border-bottom:2px solid #c0c7d1;}
.header__logo {position:absolute;top:0;bottom:0;left:95px;right:95px;margin:auto;z-index:2;}
.header__logo a {display:block; max-width:148px; height:100%;margin:0 auto;white-space:nowrap;font-size:0;}
.header__logo a:before,
.header__logo a:after { display:inline-block;height:100%;content:'';vertical-align:middle;}
.header__logo a img {max-width:100%;vertical-align:middle;font-size:12px;}
.header__right {position:absolute;top:0;right:0;text-align:right;z-index:3;}
.header__right .search {position:relative;float:left;width:44px;height:0;padding-top:65px;overflow:hidden;}
.header__right .search:before {content:"";display:block;position:absolute;top:23px;left:11px;width:16px;height:16px;-webkit-box-sizing:border-box;box-sizing:border-box;border:2px solid #a7afbb;border-radius:8px;}
.header__right .search:after {content:"";display:block;position:absolute;top:39px;left:50%;width:9px;height:2px;background:#a7afbb;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.header__right .qrscan {float:left;margin-left:0px;width:44px;height:0;padding-top:65px;overflow:hidden;background:url(../images/header/header-qrscan.png) 50% 50% no-repeat;-webkit-background-size:22px 22px;background-size:22px;}
.header__right__search_wrap {position:absolute;top:0;left:0;width:100%;height:65px;padding:11px 9px;-webkit-box-sizing:border-box;box-sizing:border-box;background:#03193c;z-index:5;table-layout:fixed;}
.header__right__search_wrap input {display:inline-block;width: calc(92% - 85px);padding:0 10px;height:42px;background:#fff;vertical-align:middle;border:0;font-size:13px;color:#333;}
.header__right__search_wrap button {position:relative;display:inline-block;margin-left:-4px;width:43px;height:0;padding:42px 0 0;overflow:hidden;background:#fff;border:0;border-left:1px solid #f2f2f2;vertical-align:middle;}
.header__right__search_wrap button:before {content:"";display:block;position:absolute;top:50%;left:50%;width:17px;margin:-9px 0 0 -9px;height:17px;border:2px solid #845de5;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box;}
.header__right__search_wrap button:after {content:"";display:block;width:2px;height:9px;background:#845de5;position:absolute;top:50%;left:50%;margin:4px 0 0 7px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.header__right__search_wrap .close {display:inline-block;vertical-align:middle;}
.header__right__search_wrap .close a {position:relative;display:block;width:42px;height:0;padding-top:42px;overflow:hidden;}
.header__right__search_wrap .close a:before {content:"";display:block;position: absolute;top:50%;left:0;width:42px;height:1px;background:#fff;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);opacity:0.8;}
.header__right__search_wrap .close a:after {content:"";display:block;position: absolute;top:50%;right:0;width:42px;height:1px;background:#fff;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0.8;}

/* 사이드 메뉴 */
.side-menu {position:fixed; top:0px; left:0px;  bottom:0px; max-width:300px;height:100%; background:#f3f3f3; z-index:510; visibility:visible; -webkit-transition: all 0.5s cubic-bezier(.43,.01,.22,.99); -o-transition: all 0.5s cubic-bezier(.43,.01,.22,.99); transition: all 0.5s cubic-bezier(.43,.01,.22,.99); -webkit-transform:translate3d(-100%, 0px, 0px); transform:translate3d(-100%, 0px, 0px);}
.side-menu.is-on { -webkit-transform:translate3d(0px, 0px, 0px); transform:translate3d(0px, 0px, 0px);}
/*.side-menu__close {position:absolute;top:29px;right:-44px;width:23px;height:0;padding-top:23px;overflow:hidden;display:block;}
.side-menu__close:before {content:"";position:absolute;top:0;left:50%;display:block;width:2px;height:23px;background:#fff;transform:rotate(-45deg);}
.side-menu__close:after {content:"";position:absolute;top:0;right:50%;display:block;width:2px;height:23px;background:#fff;transform:rotate(45deg);}
*/
.side-fixed { position:absolute; top:0; left:0; right:0; bottom:0; border-top:1px solid #d3d3d3; background-color:#fff;}
.side-fixed--category { top:132px; }
.side-fixed--brand { top:178px; }
.side-fixed__col { position:absolute; overflow:auto; -webkit-box-sizing:border-box; box-sizing:border-box; }
.side-fixed__col--category1 { top:0;left:0;width:80px;height:100%; border-right:1px solid #d3d3d3;}
.side-fixed__col--category2 { top:0;left:80px;right:0;height:100%;  }
.side-fixed__col--brand1 { top:0;left:0;width:50px;height:100%;border-right:1px solid #d3d3d3;}
.side-fixed__col--brand2 { top:0;left:50px;right:0;height:100%; }
.side-fixed__go-to-top { display:none; position:absolute; bottom:0; right:0; margin:10px; }

.side-list { overflow:auto; height:100%; font-size:12px; text-align:center; line-height:1.3;}
.side-list__item { border-bottom:1px solid #d3d3d3; }
.side-list__item.is-on { color:#fff; background-color:#855fe3; }
.side-list__link { display:table-cell; width:1%; height:inherit; vertical-align:middle; color:inherit; }
.side-list__item:last-child { border-bottom:none; }
.side-list--category .side-list__item {height:80px;}
.side-list--brand .side-list__item {height:40px;}

/*카테고리 아이콘*/
.ico-category { overflow:hidden; display:inline-block;position:relative;width:30px;height:30px;margin-left:auto; margin-right:auto; }
.ico-category:before { position:absolute;top:0; left:0;width:100%;height:200%;background:url(../images/common/ico-category.png) 0 -30px no-repeat; -webkit-background-size:auto 60px; background-size:auto 60px; content:''; }
.ico-category--margin-bottom { display:block; margin-bottom:6px; }
.ico-category[data-ico*="스킨"]:before,
.ico-category[data-ico*="护肤"]:before {background-position:0 0;}
.ico-category[data-ico="메이크업"]:before,
.ico-category[data-ico*="彩妆"]:before {background-position:-30px 0;}
.ico-category[data-ico*="향수"]:before,
.ico-category[data-ico*="香水"]:before {background-position:-60px 0;}
.ico-category[data-ico*="패션"]:before,
.ico-category[data-ico*="服装"]:before {background-position:-90px 0;}
.ico-category[data-ico*="가방"]:before,
.ico-category[data-ico*="包"]:before {background-position:-120px 0;}
.ico-category[data-ico*="시계"]:before,
.ico-category[data-ico*="手表"]:before {background-position:-150px 0;}
.ico-category[data-ico*="전자"]:before,
.ico-category[data-ico*="电子"]:before {background-position:-180px 0;}
.ico-category[data-ico="식품"]:before,
.ico-category[data-ico="食品"]:before {background-position:-210px 0;}
.ico-category[data-ico*="국내"]:before,
.ico-category[data-ico*="한국"]:before,
.ico-category[data-ico*="韩国"]:before {background-position:-240px 0;}
.ico-category[data-ico="남성관"]:before,
.ico-category[data-ico="男士馆"]:before {background-position:-270px 0;}
.ico-category[data-ico="유아동"]:before,
.ico-category[data-ico="婴幼儿"]:before {background-position:-300px 0;}
li.is-on .ico-category:before,
.ico-category.is-on:before { top:-100%; }

.side-list2 { font-size:14px; text-align:left; border-bottom:1px solid #d3d3d3; }
.side-list2.is-hide { display:none; }
.side-list2.is-show { display:block; }
.side-list2__item { overflow:hidden; position:relative; color:#333; border-bottom:1px solid #d3d3d3; }
.side-list2__item:last-child { border-bottom:none; }
.side-list2__button { -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; height:43px; padding-left:37px; vertical-align:middle; color:inherit; font-size:inherit; text-align:left; }
.side-list2__button:before {content:"";display:block;width:10px;height:2px;background:#999;position:absolute;top:22px;left:20px;}
.side-list2__button:after {content:"";display:block;width:2px;height:10px;background:#999;position:absolute;top:18px;left:24px; opacity:1; -webkit-transition:all .3s; -o-transition:all .3s; transition:all .3s;}
.side-list2__button.is-on:after { height:2px; top:22px; opacity:0; }
.side-list2__link { position:absolute;overflow:hidden; top:0; right:0;width:43px; height:43px; text-indent:-100%; text-align:left; white-space:nowrap; }
.side-list2__link:after {content:"";display:block;position:absolute;top:50%;right:21px;margin-top:-4px;width:8px;height:8px;border-top:2px solid #999;border-right:2px solid #999;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.side-list2__item.is-boutique .side-list2__link { display:block; position:static; width:auto; height:auto; text-indent:0; }
.side-list2__item.is-boutique .side-list2__link img { vertical-align:top; }
.side-list2__item.is-boutique .side-list2__link:after { display:none; }

.side-list3 { display:none; clear:both; background-color:#f3f3f3; border-top:1px solid #d3d3d3; }
.side-list3.is-on { display:block; }
.side-list3__item { position:relative; height:43px;	padding-left:45px; border-bottom:1px solid #d3d3d3; color:#666; }
.side-list3__item:last-child { border-bottom:none; }
.side-list3__check { position:absolute;top:50%;left:10px;z-index:5; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);}
.side-list3__link { display:table-cell; position:relative; width:1%; height:inherit; vertical-align:middle; font-size:11px; }
.side-list3__link:after {content:"";display:block;position:absolute;top:50%;right:21px;margin-top:-4px;width:8px;height:8px;border-top:2px solid #999;border-right:2px solid #999;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}



/*카테고리*/
.js-side-category2 { display:none; }
.js-side-category2.is-on { display:block; }
.side-category-sub { -webkit-box-sizing:border-box; box-sizing:border-box; height:100%; overflow:auto; padding-bottom:60px; }


/*브랜드*/
.side-brand-tab { display:table; table-layout:fixed; width:100%; -webkit-box-sizing:border-box; box-sizing:border-box; overflow:hidden; position:relative; padding-bottom:10px; margin:0 0 18px 0; height: 40px; font-size: 14px; color: #777; line-height:1; background-color:#fff; }
.side-brand-tab li { display: table-cell; position: relative; width: 1%; height: inherit;  border-left-width: 0; background-color: #fff; text-align: center; vertical-align:middle; }
.side-brand-tab li a { display: table-cell; position: relative; width: 1000px; height: inherit; color: inherit; text-decoration: none; vertical-align: middle; background-color:#fafafa;}
.side-brand-tab li a:after { z-index:1; -webkit-box-sizing:border-box; box-sizing:border-box; position: absolute; top: 0; left: -1px; right: 0; height:inherit; border-width:1px 1px 0; border-style:solid; border-color:#e5e5e5; content: ''; border-top:1px solid #d3d3d3;}
.side-brand-tab li a:before { z-index:10; -webkit-box-sizing:border-box; box-sizing:border-box; position: absolute; top:0; left:-1px; right:0; height:inherit; border-bottom:1px solid #e5e5e5; content: ''; }
.side-brand-tab li.is-on a { color: #333333; z-index: 5; background-color:#ffffff; font-weight:500; }
.side-brand-tab li.is-on a:after { border-color: #e5e5e5; z-index:10; border-top:1px solid #d3d3d3;}
.side-brand-tab li.is-on a:before { bottom:0; border-color:#fff;  }
.side-brand-tab li:last-child a:after {border-right:none;}

.side-brand-sub { -webkit-box-sizing:border-box; box-sizing:border-box; height:100%; overflow-y:scroll; padding-bottom:60px; -webkit-overflow-scrolling:touch; }
.side-brand-sub__head { height:40px; border-bottom:1px solid #d3d3d3; line-height:40px; padding:0 16px; color:#855fe3; font-size:16px; text-align:left; background-color:#fff; font-weight:600; }
.side-brand-sub__list { background-color:#f3f3f3; color:#666; text-align:left; font-size:11px; }
.side-brand-sub__item { height:40px; border-bottom:1px solid #d3d3d3;}
.side-brand-sub__link { display:table-cell; width:1%; height:inherit; padding-left:20px; vertical-align:middle; color:inherit; }

.category_title__content ul li {float:none;position:relative;width:100%;height:auto;font-size:12px;line-height:15px;letter-spacing:-1px;border:0;border-bottom:1px solid #d3d3d3;}
.category_title__content ul > li:before {content:"";display:block;width:10px;height:2px;background:#999;position:absolute;top:22px;left:20px;}
.category_title__content ul > li:after {content:"";display:block;width:2px;height:10px;background:#999;position:absolute;top:18px;left:24px;}
.category_title__content ul li.on:before {background:#855fe3;}
.category_title__content ul li.on:after {display:none;}
.category_title__content ul li a {position:relative;padding:15px 21px 15px 40px;font-size:14px;color:#333;text-align:left;}
.category_title__content ul li.on > a {font-weight:600;}
.category_title__content ul li a:after {content:"";display:block;position:absolute;top:50%;right:21px;margin-top:-4px;width:8px;height:8px;border-top:2px solid #999;border-right:2px solid #999;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.category_title__content ul li ul {background:#f3f3f3;display:none;}
.category_title__content ul li ul li {border:0;border-top:1px solid #d3d3d3;}
.category_title__content ul li ul li:before, .category_title__content ul li ul li:after {display:none;}

.side-login__header {overflow:hidden;}
.side-login__header-info {display:table-cell; width:1%; vertical-align:middle; height:75px; padding-left:18px; padding-right:18px; background-color:#03193c;}
.side-login__header-info:after {content:''; display:block; clear:both;}
.side-login__login-info {float:left;}
.side-login__login-area {}
.side-login__login-area:after {content:''; display:block; clear:both;}
.side-login__login-button {display:inline-block; color:#fff; text-transform:uppercase; text-align:center; height:30px; font-size:13px; border:1px solid #845de5; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:5px; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;line-height:28px; background-color:#845de5;}
.side-login__login-description {display:inline-block; vertical-align:middle; font-size:10px; color:#ffffff; font-weight:300; margin-left:10px;}
.side-login__member-info {}
.side-login__member-ico {display:inline-block; width:27px; height:31px;  background:url(../images/common/ico-member.png) center center no-repeat; -webkit-background-size:27px 27px; background-size:27px 27px; vertical-align:middle; margin-right:2px;}
.side-login__member-name {display:inline-block; font-size:15px; color:#ffffff; vertical-align:middle;}
.side-login__member-name span {display:block; font-size:10px; color:#ffcc33; font-weight:300;}
.side-login__config {float:right;}
.side-login__logout-button { display:inline-block; margin-right:10px; color:#fff; text-transform:uppercase; text-align:center; height:30px; font-size:13px; border:1px solid #845de5; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:5px; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;line-height:28px; }
.side-login__app-config {display:inline-block; text-indent:-9999px; width:23px; height:31px; background:url(../images/common/ico-app-config.png) 0 center no-repeat; -webkit-background-size:23px 16px; background-size:23px 16px; vertical-align:middle;}
.side-tab {display:table; table-layout:fixed; width:100%; margin-bottom:9px;border-bottom:1px solid #e5e5e5; -webkit-box-sizing:border-box; box-sizing:border-box; background:#fff;}
.side-tab li {position:relative; display:table-cell; width:1%; text-align:center; height:48px; font-size:0px;}
.side-tab li a {font-size:14px; display:table-cell; width:1000px; height:inherit; vertical-align:middle; }
.side-tab li.is-on a {color:#855fe3;}
.side-tab li.is-on a:after {content:''; position:absolute; left:0px; right:0; bottom:-1px; border-bottom:2px solid #855fe3;}
/*.side-category {padding-top:9px;}*/
.side-category .tab3 { margin:0 0 4px 0;}
.side-category__wrap {position:relative; margin-left:-1px; border-top:1px solid #d3d3d3;background:#fff;}
.side-category__wrap:before {content:''; position:absolute; left:0px; bottom:0px; border-bottom:1px solid #d3d3d3; width:100%;}
.side-category__wrap:after {content:''; display:block; clear:both;}
.side-category__wrap--col-2 { }
.side-category__wrap li {position:relative; float:left; width:33.33%; height:84px; border-left:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; -webkit-box-sizing:border-box; box-sizing:border-box;}
@media (max-width:320px) {
	.side-category__wrap li { height:64px; }
}
.side-category__wrap--col-2 li {width:50%; height:50px; }
.side-category__wrap li a {display:table-cell; -webkit-box-sizing:border-box; box-sizing:border-box; width:1%; height:inherit; vertical-align:middle; text-align:center; font-size:15px; color:#555555;}
.side-category__wrap--col-2 li a {  padding-left:20px; text-align:left; }
.side-category__wrap li.is-brand { clear:both; float:none; width:auto; height:50px; }
.side-category__wrap li.is-brand a { padding:0; text-align:center; }
.side-category__wrap li.is-brand img {vertical-align:middle;}
.side-category__wrap li.is-brand a:before {display:none;}
.side-category__wrap li a:before {content:''; display:inline-block; vertical-align:middle; height:inherit;}
.side-category__wrap li a span {display:inline-block; vertical-align:middle;}
.side-category__wrap li a span:before {content:''; display:inline-block; width:28px; height:28px; background:url(../images/common/ico-tab.png) 0 0 no-repeat; -webkit-background-size:324px 28px; background-size:324px 28px;vertical-align:middle; }
.side-category__wrap--col-2 li a span:before { margin-right:10px; }
.side-category__wrap li a span p {margin-top:4px;}
.side-category__wrap--col-2 li a span p { display:inline-block; margin-top:0; vertical-align:middle; }
.side-category__wrap li a span.side-category__best-shop:before {background-position:0 0;}
.side-category__wrap li a span.side-category__3hour-shop:before {background-position:-27px 0;}
.side-category__wrap li a span.side-category__wedding-shop:before {background-position:-54px 0;}
.side-category__wrap li a span.side-category__plan:before {background-position:-81px 0;}
.side-category__wrap li a span.side-category__event:before {background-position:-107px 0;}
.side-category__wrap li a span.side-category__coupon:before {background-position:-135px 0;}
.side-category__wrap li a span.side-category__special-order:before {background-position:-162px 0;}
.side-category__wrap li a span.side-category__sale:before {background-position:-189px 0;}
.side-category__wrap li a span.side-category__search:before {background-position:-216px 0;}
.side-category__wrap li a span.side-category__oneday:before {background-position:-243px 0;}
.side-category__wrap li a span.side-category__time:before {background-position:-270px 0;}
.side-category__wrap li a span.side-category__point:before {background-position:-297px 0;}
.side-category__wrap .top {position:absolute;bottom:10px;right:10px;width:40px;height:40px;background:#fff;border:1px solid #d6d6d6;border-radius:50%;text-align:center;font-size:12px;line-height:46px;color:#666;font-weight:700;}
.side-category__wrap .top:before {content:"▲";position:absolute;top:-12px;left:50%;margin-left:-5px;font-size:10px;}

.side-footer {position:fixed; bottom:0px; padding:0 9px; }
.side-footer__wrap {margin-top:25px; margin-bottom:25px;}
.side-footer__wrap li {display:table-cell; width:1%;}
.side-footer__wrap li a {text-align:center; display:block; position:relative; font-size:15px; color:#333333;}
.side-footer__wrap li + li a:before {content:'ㅣ'; position:absolute; left:-5px; color:#d3d3d3;  display:inline-block;}

.slide-category__type2 {position:relative;width:100%;}
.slide-category__type2 .category_title {float:left;width:25%;position:relative;}
.slide-category__type2 .category_title:after {content:"";display:block;position:absolute;top:0;right:0;width:1px;height:100%;background:#d3d3d3;}
.slide-category__type2 .category_title ul {width:100%;}
.slide-category__type2 .category_title ul li {float:none;width:100%;height:auto;font-size:12px;line-height:15px;letter-spacing:-1px;border-bottom:1px solid #d3d3d3;}
.slide-category__type2 .category_title ul li a {padding-bottom:19px;color:#333}
.slide-category__type2 .category_title ul li.on a {background:#855fe3;color:#fff;}
.slide-category__type2 .category_title ul li a:before {content:"";display:block;margin:14px auto 9px;width:24px;height:26px;background:url(../images/common/bg-slide-category__type2.png) 0 0 no-repeat;-webkit-background-size:192px 100px;background-size:192px 100px;}
.slide-category__type2 .category_title ul li.cate1 a:before {background-position:0 -24px;}
.slide-category__type2 .category_title ul li.cate1.on a:before {background-position:0 0;}
.slide-category__type2 .category_title ul li.cate2 a:before {background-position:-24px -24px;}
.slide-category__type2 .category_title ul li.cate2.on a:before {background-position:-24px 0;}
.slide-category__type2 .category_title ul li.cate3 a:before {background-position:-48px -24px;}
.slide-category__type2 .category_title ul li.cate3.on a:before {background-position:-48px 0;}
.slide-category__type2 .category_title ul li.cate4 a:before {background-position:-72px -24px;}
.slide-category__type2 .category_title ul li.cate4.on a:before {background-position:-72px 0;}
.slide-category__type2 .category_title ul li.cate5 a:before {background-position:-96px -24px;}
.slide-category__type2 .category_title ul li.cate5.on a:before {background-position:-96px 0;}
.slide-category__type2 .category_title ul li.cate6 a:before {background-position:-120px -24px;}
.slide-category__type2 .category_title ul li.cate6.on a:before {background-position:-120px 0;}
.slide-category__type2 .category_title ul li.cate7 a:before {background-position:-144px -24px;}
.slide-category__type2 .category_title ul li.cate7.on a:before {background-position:-144px 0;}
.slide-category__type2 .category_title ul li.cate8 a:before {background-position:-168px -24px;}
.slide-category__type2 .category_title ul li.cate8.on a:before {background-position:-168px 0;}
.slide-category__type2 .category_title__content {float:left;width:75%;}

.category_title__content ul li {float:none;position:relative;width:100%;height:auto;font-size:12px;line-height:15px;letter-spacing:-1px;border:0;border-bottom:1px solid #d3d3d3;}
.category_title__content ul > li:before {content:"";display:block;width:10px;height:2px;background:#999;position:absolute;top:22px;left:20px;}
.category_title__content ul > li:after {content:"";display:block;width:2px;height:10px;background:#999;position:absolute;top:18px;left:24px;}
.category_title__content ul li.on:before {background:#855fe3;}
.category_title__content ul li.on:after {display:none;}
.category_title__content ul li a {position:relative;padding:15px 21px 15px 40px;font-size:14px;color:#333;text-align:left;}
.category_title__content ul li.on > a {font-weight:600;}
.category_title__content ul li a:after {content:"";display:block;position:absolute;top:50%;right:21px;margin-top:-4px;width:8px;height:8px;border-top:2px solid #999;border-right:2px solid #999;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.category_title__content ul li ul {background:#f3f3f3;display:none;}
.category_title__content ul li ul li {border:0;border-top:1px solid #d3d3d3;}
.category_title__content ul li ul li:before, .category_title__content ul li ul li:after {display:none;}
.book-checkbox {position:absolute;top:24px;left:17px;z-index:5;}
.book-checkbox2 { display:inline-block;width:30px;height:30px;vertical-align:middle;}
.book-checkbox2:not(※) input { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
.book-checkbox2:not(※) i:before { position: absolute; top: -2px; bottom: 0; left: 0; right:0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 15px; height:15px; margin: auto;background:url(../images/common/bg-slide-category__type2.png) 0 -86px no-repeat;-webkit-background-size:192px 100px;background-size:192px 100px;content: ''; cursor: pointer; }
.book-checkbox2:not(※) input:checked + i:before { position: absolute; top: -2px; left: 0; bottom: 0; width:15px; height:15px; margin: auto; background:url(../images/common/bg-slide-category__type2.png) -15px -86px no-repeat;-webkit-background-size:192px 100px;background-size:192px 100px; cursor: pointer; content: ''; }


.korean_list_group {position:relative;margin-top:9px;height:100%;overflow:hidden;display:table;table-layout:fixed;}
.korean_list_group:after {content:"";display:block;position:absolute;top:0;left:50px;width:1px;height:100%;background:#d3d3d3;}
.korean_list_group:before {content:"";display:block;position:absolute;top:0;width:100%;height:1px;background:#d3d3d3;}
.korean_list_first {width:6%;display:table-cell;background:#fff;}
.korean_list_first li a {display:block;width:50px;height:40px;line-height:40px;border-bottom:1px solid #d3d3d3;font-size:12px;color:#333;font-weight:600;text-align:center;background:#fff;}
.korean_list_first li.active a {background:#855fe3;color:#fff;}
.korean_list {width:94%;display:table-cell;}
.korean_list .title, .korean_list li {display:block;padding-left:22px;width:100%;height:40px;line-height:40px;border-bottom:1px solid #d3d3d3;font-size:11px;color:#666;background:#f3f3f3;} 
.korean_list li a {display:block;}
.korean_list .title {padding-left:18px;background:#fff;font-size:16px;line-height:37px;font-weight:600;color:#855fe3;}
.korean_list .etc li {padding-left:0;}
.korean_list .etc li a {display:block;padding-left:22px;background:#fff;} 

/*.fix-footer {position:fixed; bottom:0px; left:0;width:100%;padding-top:15px;padding-bottom:15px;background:#03193c;z-index:99;}*/
.fix-footer {position:fixed; bottom:0px; left:0;right:0;background-color:#03193c;z-index:99;}
.fix-footer__menu {display:table;width:100%;table-layout:fixed;}
.fix-footer__menu li {display:table-cell;position:relative;text-align:center;font-size:10px;line-height:13px;}
.fix-footer__menu li .card-count {position:absolute;z-index:1;top:9px;left:50%;margin-left:6px;width:14px;height:14px;border-radius:7px;background:#845de5;color:#fff;font-size:10px;line-height:14px;}
/*.fix-footer__menu li a {position:relative;display:block;color:#c0c7d1;}*/
.fix-footer__menu li a {position:relative;display:table-cell;width:1000px;height:70px;color:#c0c7d1;vertical-align:middle;text-align:center;}
.fix-footer__menu li a:before {content:"";display:block;margin:0 auto 9px;width:24px;height:24px;background:url(../images/footer/footer-icon.png) 0 0 no-repeat;-webkit-background-size:245px 59px;background-size:245px 59px;}
.fix-footer__menu li:nth-child(2) a:before {background-position:-24px 0;}
.fix-footer__menu li:nth-child(3) a:before {background-position:-48px 0;}
.fix-footer__menu li:nth-child(4) a:before {background-position:-72px 0;}
.fix-footer__menu li:nth-child(5) a:before {background-position:-96px 0;}
.fix-footer__more {display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:2;}
.fix-footer__more.is-on { display:block; }
.fix-footer__more:before {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.8;}
.fix-footer__more__list {position:fixed;bottom:26px;left:50%;margin-left:-17px;} 
.fix-footer__more__list .close {position:relative;width:35px;height:0;padding-top:35px;display:block;background:#e25d84;border-radius:50%;overflow:hidden;}
.fix-footer__more__list .close:before {content:"";display:block;position:absolute;top:50%;left:50%;margin:-9px 0 0 -1.5px;width:3px;height:19px;border-radius:3px;background:#fff;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.fix-footer__more__list .close:after {content:"";display:block;position:absolute;top:50%;left:50%;margin:-1px 0 0 -10px;width:19px;height:3px;border-radius:3px;background:#fff;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.fix-footer__more__list ul {position:fixed;bottom:56px;}
.fix-footer__more__list ul li {padding:0 0 22px 0;}
.fix-footer__more__list ul li a {position:relative;display:block;font-size:13px;color:#fff;font-weight:600;}
.fix-footer__more__list ul li a:before {content:"";display:inline-block;margin-right:11px;vertical-align:middle;width:35px;height:35px;border-radius:50%;background:#fff url(../images/footer/footer-icon.png) 0 0 no-repeat;-webkit-background-size:245px 59px;background-size:245px 59px;}
.fix-footer__more__list ul li.item1 a:before {background-position:0 -24px;}
.fix-footer__more__list ul li.item2 a:before {background-position:-35px -24px;}
.fix-footer__more__list ul li.item3 a:before {background-position:-70px -24px;}
.fix-footer__more__list ul li.item4 a:before {background-position:-105px -24px;}
.fix-footer__more__list ul li.item5 a:before {background-position:-140px -24px;}
.fix-footer__more__list ul li.item6 a:before {background-position:-175px -24px;}
.fix-footer__more__list ul li.item7 a:before {background-position:-210px -24px;}

/* 모바일 상단 롤메뉴 */
.lenear {position:relative;background-color:#fff;-webkit-overflow-scrolling:initial;}
.lenear.main_bestitem .lenear__menu {margin-right:0;}
.lenear--not-full .lenear__menu {margin-right:0px;}
.lenear--not-full .lenear__bg-next {right:0px;}
.lenear__line {position:relative; height:41px;overflow:hidden;}
.lenear__bg-prev {position:absolute; top:0; left:0; width:18px; height:inherit; background-image:-webkit-gradient(linear, left top, right top, color-stop(40%, #fff), to(rgba(255,255,255,0))); background-image:-o-linear-gradient(left, #fff 40%, rgba(255,255,255,0)); background-image:linear-gradient(to right, #fff 40%, rgba(255,255,255,0)); z-index:1;}
.lenear__bg-next {position:absolute; top:0; right:42px; width:26px; height:inherit; background:-webkit-gradient(linear,left top, right top,from(rgba(255,255,255,0)),color-stop(60%, #fff)); background:-o-linear-gradient(left,rgba(255,255,255,0),#fff 60%); background:linear-gradient(to right,rgba(255,255,255,0),#fff 60%); z-index:1;}
.lenear__bg-next--single {right:0;}
.lenear__menu {height:inherit; overflow:auto; margin-right:41px;}
.lenear__menu::-webkit-scrollbar{width:0px; height:0px;}
.lenear__menu::-webkit-scrollbar-track-piece{background-color:transparent;}
.lenear__menu ul {display:block; height:inherit; white-space:nowrap;}
.lenear__menu ul:after {content:''; display:block; clear:both;}
.lenear__menu ul li {display:table-cell; height:inherit; padding-left:17px; padding-right:17px;}
.lenear__menu ul li a {position:relative; display:block; height:inherit; font-size:15px; color:#555555;}
.lenear__menu ul li a:before {content:''; display:inline-block; height:inherit; vertical-align:middle;}
.lenear__menu ul li a.is-on {color:#8f61ec;}
.lenear__menu ul li a.is-on:after {content:''; display:block; position:absolute; bottom:-1px; width:100%; border-bottom:3px solid #8f61ec;}
.lenear__more {position:absolute; top:0px; right:0px; display:block; width:41px; height:inherit; text-align:center; background:#fafafa; border-left:1px solid #e5e5e5;}
.lenear__more:before {content:''; display:inline-block; width:13px; height:7px; background:url(../images/common/arrow-role.png) 0 0 no-repeat; -webkit-background-size:26px 7px; background-size:26px 7px;}
.lenear__more:after {content:''; display:inline-block; height:inherit; vertical-align:middle;}
.lenear__more.is-on:before {background-position:-13px 0;}
.lenear__full {display:none; border-top:1px solid #e5e5e5;}
.lenear__full ul {}
.lenear__full ul:after {content:''; display:block; clear:both;}
.lenear__full ul li {width:33.33%; float:left; border-right:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; -webkit-box-sizing:border-box; box-sizing:border-box; text-align:center;}
.lenear__full ul li a {color:#999999; font-size:14px; height:40px;}
.lenear__full ul li a:before {content:''; display:inline-block; height:inherit; vertical-align:middle;}
.lenear__full ul li a.is-on {color:#8f61ec;}
.lenear__full-footer {position:relative; background:#f2f2f2; height:34px; border-top:1px solid #e5e5e5; text-align:right;}
.lenear__full-footer:before {content:''; display:inline-block; height:inherit; vertical-align:middle;}
.lenear__more-close {display:inline-block; font-size:15px; color:#555555; margin-right:9px;}
.lenear__more-close:before {content:''; display:inline-block; margin-right:4px; width:9px; height:9px; background:url(../images/common/dialog-close1.png) 0 0 no-repeat; -webkit-background-size:9px 9px; background-size:9px 9px; vertical-align:middle;}

.go-to-top { overflow:hidden; display:-webkit-inline-box; display:-ms-inline-flexbox; display:inline-flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; position:relative; -webkit-box-sizing:border-box; box-sizing:border-box; width:40px; height:40px; border:1px solid #d3d3d3; border-radius:50%; background-color:#fff; color:#666; white-space:nowrap; font-size:10px; font-family:arial,sans-serif; font-weight:700; text-transform:uppercase; text-align:center; text-indent:0; line-height:1; }
.go-to-top:before { display:block; margin-bottom:5px; border-width:0 4px 4px 4px; border-style:solid; border-color:transparent transparent #666 transparent; content:'';}


/* 헤더 검색영역 */
.search-popup { display:none; position:fixed; top:0px; left:0px; right:0px; max-height:100%; overflow:auto; z-index:510; background-color:#fff; }
.search-popup.is-on { display:block; }
.search-popup__search-area {padding:11px 9px; background-color:#03193c; height:42px;}
.search-popup__back, 
.search-popup__input {height:inherit;}
.search-popup__back {position:absolute; top:12px; left:9px; width:30px; background:url(../images/common/button-return.png) 0 center no-repeat; -webkit-background-size:20px 17px; background-size:20px 17px;}
.search-popup__back a {display:block; width:100%; height:inherit;}
.search-popup__input {margin-left:30px; background-color:#ffffff; overflow:hidden;}
.search-popup__input-box, 
.search-popup__input-btn {display:table-cell; height:inherit; font-size:0px;}
.search-popup__input-box {width:auto;}
.search-popup__input-box input[type="text"] {width:100%; border:none; -webkit-box-sizing:border-box; box-sizing:border-box; height:inherit; text-indent:10px; font-size:13px;}
.search-popup__input-btn {width:1%; border-left:1px solid #f2f2f2;}
.search-popup__input-btn a {display:block; width:43px; height:43px; text-indent:-9999px; background:url(../images/common/button-search.png) center center no-repeat; -webkit-background-size:20px 20px; background-size:20px 20px;}
.search-preview { }

.search-tab { display:table; table-layout:fixed; width:100%; -webkit-box-sizing:border-box; box-sizing:border-box; overflow:hidden; position:relative; padding:0; margin:0; height: 40px; font-size: 14px; color: #777; line-height:1; }
.search-tab li { display: table-cell; position: relative; width: 1%; height: inherit;  border-left-width: 0; background-color: #fff; text-align: center; vertical-align:middle; }
.search-tab li a { display: table-cell; position: relative; width: 1000px; height: inherit; color: inherit; text-decoration: none; vertical-align: middle; background-color:#fafafa;}
.search-tab li a:after { z-index:1; -webkit-box-sizing:border-box; box-sizing:border-box; position: absolute; top: 0; left: -1px; right: 0; height:inherit; border-width:1px 1px 0; border-style:solid; border-color:#e5e5e5; content: ''; border-top:1px solid #d3d3d3;}
.search-tab li a:before { z-index:10; -webkit-box-sizing:border-box; box-sizing:border-box; position: absolute; top:0; left:-1px; right:0; height:inherit; border-bottom:1px solid #e5e5e5; content: ''; }
.search-tab li.is-on a { color: #333333; z-index: 5; background-color:#ffffff; font-weight:500; }
.search-tab li.is-on a:after { border-color: #e5e5e5; z-index:10; border-top:1px solid #d3d3d3;}
.search-tab li.is-on a:before { bottom:0; border-color:#fff;  }
.search-tab li:last-child a:after {border-right:none;}
.search-content {background-color:#ffffff;}
.search-list {}
.search-list li {height:43px; padding-left:18px; padding-right:18px;font-size:14px;line-height:43px;color:#555;}
.search-list li + li {border-top:1px solid #e2e2e2;}
.search-list__link {color:inherit;}
.search-list--numb {counter-reset:rankup 0;}
.search-list--numb .search-list__link:before {display:inline-block; counter-increment:rankup 1; content:counter(rankup) '.'; margin-right:4px;}
.search-list__row {display:-webkit-box;display:-ms-flexbox;display:flex;}
/*.search-list__title {display:table-cell; height:inherit; width:1%; white-space:nowrap;}*/
.search-list__title { position:relative; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis;vertical-align:middle; }
.search-list__title--depts2 {padding-left:10px;}
.search-list__title--depts2:before {content:'└'; display:inline-block; margin-right:5px;}
.search-list__content {-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;}
.search-list__cnt {font-size:12px; color:#b1b1b1;}
.search-bar { height:9px; background-color:#f2f2f2; }
.search-list__keyword { color:#845de5; }
.search-list__btn { display:inline-block; position:relative; color:#845de5; text-transform:uppercase; text-align:center; height:27px; font-size:11px; border:1px solid #e2e2e2; -webkit-box-sizing:border-box; box-sizing:border-box; padding-left:5px; padding-right:18px; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;line-height:25px;}
.search-list__btn:after {content:''; position:absolute; top:50%; right:4px; display:inline-block; width:0; height:0; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); border-style:solid; border-width:4px; border-color:transparent transparent transparent #845de5;}
.option-area {padding:0 9px;border-top:1px solid #e5e5e5; border-bottom:1px solid #d3d3d3; background-color:#f2f2f2; height:44px;font-size:14px; }
.option-area__left, 
.option-area__right {display:table-cell; width:1%; vertical-align:middle; height:inherit;}
.option-area__left {text-align:left;}
.option-area__all-delete {color:#555555;}
.option-area__auto-delete {color:#999999;}
.option-area__auto-delete:before {content:'ㅣ'; display:inline-block; padding-right:3px; margin-left:3px;}
.option-area__right {text-align:right;}
.option-area__close {display:block; color:#555555;}
.option-area__close:before {content:''; display:inline-block; margin-right:4px; width:9px; height:9px; background:url(../images/common/dialog-close1.png) 0 0 no-repeat; -webkit-background-size:9px 9px; background-size:9px 9px; vertical-align:middle;}


/*footer*/
.main_bottom { position:relative;width:100%;}
.main_bottom__line {width:100%;height:50px;padding:11px 18px;border-bottom:1px solid #eee;font-size:13px;color:#777;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;line-height:26px;}
.main_bottom__line.version { height:auto;}
.main_bottom__line.link_area {height:auto;padding:0;background:#f2f2f2;border-bottom-color:#d3d3d3; text-align:center;}
.main_bottom__line dl {overflow:hidden;width:100%;}
.main_bottom__line dl dt {display:inline-block;width:42px;float:left;color:#845de5;border:1px solid #d7cbf9;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;}
.main_bottom__line dl dd {float:left;padding:0 10px;width:calc(100% - 100px); -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.main_bottom__line .update {float:right;padding:0 10px;height:27px;text-align:center;line-height:27px;display:inline-block;font-size:13px;color:#8f61ec;border:1px solid #8f61ec;font-size:11px;}
.link_area ul {display:inline-block; overflow:hidden; margin:11px 18px; line-height:2; text-align:left; font-size:0; vertical-align:middle;}
.link_area ul li { position:relative; display:inline-block; left:-13px; margin-left:13px; font-size:12px; }
.link_area ul li:before { position:absolute; left:-6px; top:0; bottom:0; height:11px; margin:auto; border-left:1px solid #d7d7d7; content:'';}
.link_area ul li a { 	display:block;}
.link_area ul li a.ex {color:#845de5;}
.main_bottom__info {padding:28px 18px;background:#f2f2f2;}
.main_bottom__info_company {font-size:13px;line-height:1.5;color:#aaa;}
.main_bottom__info .cs_time {margin:20px 0 12px;color:#aaa; font-size:13px;}
.main_bottom__info .cs_time span {color:#555;}
.main_bottom__info_link {width:100%;overflow:hidden; margin-bottom:-5px; font-size:0; }
.main_bottom__info_link a {display:inline-block;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:36px;line-height:33px;background:#fff;border:1px solid #e5e5e5;color:#888;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;font-size:13px; margin-right:4px; margin-bottom:5px; padding:0 10px;}
.main_bottom__info_link a:last-child { margin-right:0; }
.main_bottom__info_link a:before {content:"";display:inline-block;vertical-align:middle;margin-right:5px;width:14px;height:14px;background:url(../images/common/footer-ico.png) 0 0 no-repeat;-webkit-background-size:28px 14px;background-size:28px 14px;}
.main_bottom__info_link .tel {min-width:calc(34% - 2px);}
.main_bottom__info_link .email {min-width:calc(66% - 2px);}
.main_bottom__info_link .tel-cn {min-width:calc(50% - 2px);}
.main_bottom__info_link .tel:before { background-position:0 0;}
.main_bottom__info_link .email:before {background-position:-14px 0;} 
.main_bottom__info_link .tel-cn:before {background-position:0 0;} 
.main_bottom__info_terms {margin:0 auto;padding:25px 9px;background:#fff;font-size:11px;text-align:center;}
.main_bottom__info_terms ul { display:table; margin:0 auto; overflow:hidden; font-size:0; text-align:left; }
.main_bottom__info_terms ul li { position:relative; left:-1px; display:inline-block; margin-right:10px; padding-left:10px; font-size:11px; color:#333; line-height:1.5; }
.main_bottom__info_terms ul li:after { position:absolute; top:0; left:0; bottom:0; height:10px; margin:auto; content:''; border-left:1px solid #d3d3d3;}
.main_bottom__info_terms ul li:first-child:after { border-left:none;}
.main_bottom__info_terms ul li a { color:inherit; }
.main_bottom__info_terms p {display:table;margin:16px auto 0;padding:0 8px;text-align:left;color:#999;}

.dimmed, .dimmed-header-menu { z-index:500; position:fixed; top:0; left:0; bottom:0; right:0; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgaAAIMAAAhQCB69VMmQAAAABJRU5ErkJggg==); cursor:pointer;}
