@charset "UTF-8";

.hidden { overflow: hidden; position: absolute; width: 0; height: 0; }
.hidden.is-view { position: static; width: auto; height: auto; }

#main_container {margin-top:-50px;}

.product-list {position:relative; display: table; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; width:100%;padding-right: 1px; padding-bottom: 1px; background-color: #fff;}
.product-list:before {content:''; position:absolute; top:0px; left:0px; border-left:1px solid #ffffff; z-index:200;}
.product-list:after {content:''; display:block; clear:both;}
.product-list--column-2:after {content:''; display:block; clear:both;}
.product-list--column-2 li {width:50%; float:left;}
.product-list--column-3 li {width:50%; float:left; width:100%;}
.product-list>li {position:relative; margin-top:-1px; -webkit-box-sizing:border-box; box-sizing:border-box; top:1px;}
.product-list>li:before {content:''; position:absolute; top:0px; bottom:0px; right:-1px; left:0px; border:1px solid #f2f2f2;}

.product-list-best__item {counter-reset:num;}
.product-list-best__item li {border-bottom:1px solid #f7f7f7;}
.product-list-best__item li:before {content:"" counter(num);position:absolute;top:15px;left:18px;bottom:inherit;right:inherit;border:0;counter-increment:num 1;font-size:18px;color:#845de5;font-weight:600;z-index:2;}
.product-list-best__item li:nth-child(1n) {border-left:1px solid #f7f7f7;}
.product-list-best__item li:first-child {float:none;width:100%;}
.product-list-best__item li:first-child .product-item__label1 {position:absolute;top:60px;left:18px;}
.product-list-best__item li:first-child .product-item__label1 .label3 {display:block;}
.product-list-best__item li:first-child .product-item__label1 .u-tag {display:block;width:50px;}
.product-list-best__item li:first-child .product-item {height:277px;}
.product-list-best__item li:first-child:before {width:50px;height:50px;background:#845de5;border-radius:50%;color:#fff;text-align:center;line-height:35px;z-index:1;}
.product-list-best__item li:first-child:after {content:"BEST";display:block;position:absolute;top:42px;left:18px;width:49px;text-align:center;font-size:10px;color:#c3b1f6;z-index:2;}

.product-item { position: relative; height:277px; text-align: center; line-height: 1; font-size: 13px; }
.product-item:before, .product-item:after { clear: both; display: table; overflow: hidden; content: ""; }
.product-item__img { width: 126px; height: 126px; margin:14px auto 16px; }
.product-item__img img { max-width: 100%; }
.product-item__brand1 {font-size:14px;line-height:1;font-weight: 600;color: #010101;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 6px;}
.product-item__tit1 { margin: 6px 20px 0;color: #777; font-size:13px;line-height:1.3;height:2.6em;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;word-wrap:break-word; }
.product-item__price1 { margin-top:14px; }
.product-item__price1 .price-dollar { display: block; font-size: 15px; color: #845de5; font-weight:600;}
.product-item__price1 .price-dollar .before { margin-right: .3em; font-size: 13px; color: #333; font-weight:400;}
.product-item__price1 .price-won { display: block; margin-top: .5em; font-weight: 300; color: #999; font-size: 13px;line-height:16px; }
.product-item__label1 {display:none;}
.product-item__price1 .price-won:before { content: '('; }
.product-item__price1 .price-won:after { content: ')'; }
.product-item .detail_view {position:absolute;top:0;left:0;right:0;bottom:0;display:block;text-indent:-999em;z-index:5; }


/*띠배너*/
.ddibanner img {width:100%;vertical-align:top;}
.main-banner__content {position:relative;width:100%;padding-bottom:9px;background:#f2f2f2;}
.main-banner__content #slide-counter {position:absolute;bottom:25px;left:18px;width:50px;height:25px;text-align:center;color:#fff;font-size:12px;line-height:25px;font-weight:400;}
.main-banner__content #slide-counter:before {content:"";display:block;position:absolute;top:0;left:0;width:50px;height:25px;border-radius:10px;background:#fff;opacity:0.2}
.main-banner__content #slide-counter .current-index {display:inline;font-weight:700;}
.main-banner__content img {width:100%}
.go_event {position:absolute;bottom:23px;right:9px;}
.go_event a {width:63px;height:31px;display:block;border:1px solid #fff;border-radius:15px;text-align:center;color:#fff;font-size:12px;line-height:31px;}

.main-section {width:100%;border-bottom:9px solid #f2f2f2;}
.main-section .btn-more a {bottom:17px;}
.main-section .btn-more.onedaybanner a {bottom:34px;background:none;border-color:#d8829e;}
.main-section .btn-more.onedaybanner a:before, .main-section .btn-more.onedaybanner a:after {background:#d8829e;}
.main-section .btn-more.timebanner a {bottom:34px;background:none;border-color:#fff;}
.main-section .btn-more.timebanner a:before, .main-section .btn-more.timebanner a:after {background:#fff;}
.main-section .u-tit2.u-tit2--next.font-style2 {font-size:26px;}

.main_banner__content {position:relative;}
.main_banner__content .bx-pager {position:absolute;top:-24px;left:0;width:100%;text-align:center;}
.main_banner__content .bx-pager .bx-pager-item {display:inline-block;margin:0 5px;width:22px;height:2px;}
.main_banner__content .bx-pager a {width:22px;height:0;padding-top:2px;display:block;background:#d3d3d3;overflow:hidden;}
.main_banner__content .bx-pager a.active {background:#845de5;}

.promotion-wrap { position:relative;max-width:648px; margin:9px auto; padding:0 9px;}
.promotion-wrap:before,
.promotion-wrap:after { position:absolute; z-index:10; top:1px; bottom:1px; border-left:1px solid rgba(0,0,0,.05); content:'' ;}
.promotion-wrap:before { left:9px; }
.promotion-wrap:after { right:9px; }
.promotion-list { overflow:hidden; position:relative; margin:9px auto; padding:0 9px; font-size:0; text-align:center; }
.promotion-wrap .promotion-list { margin:0; padding:0; }
.promotion-list__item { display:inline-block; width:50%; max-width:324px; font-size:12px; }
.promotion-item { display:block; text-align:center; font-size:13px; }
.promotion-item__img-wrap { position:relative; width:100%; }
.promotion-item__img-wrap:before { display:block; padding-top:70.37%; content:''; } 
.promotion-item__img-wrap:after { position:absolute; top:0; left:0; right:0; bottom:0; -webkit-box-sizing: border-box; box-sizing: border-box; border:1px solid #f2f2f2; border:1px solid rgba(0,0,0,.1);content:''; pointer-events:none;}
.promotion-item__img { position:absolute; top:0; bottom:0; left:0; right:0; max-width:100%; margin:auto; }
.promotion-item__txt-wrap { height:96px; border-width:0 1px 1px ; border-style:solid; border-color:#f2f2f2; line-height:1.3;}
.promotion-item__txt { display:table-cell; width:1%; padding:0 5px; height:inherit; vertical-align:middle; }
.promotion-item__tit { font-size:15px; color:#333; line-height:1.3;}
.promotion-item__summary { font-size:14px; margin-top:3px; color:#999; height:2.6em; }

.oneday-title {position:relative;width:100%;height:99px;background:#fff4f9 url(../images/main/bg-oneday.jpg) top center no-repeat;-webkit-background-size:auto 99px;background-size:auto 99px;}
.oneday-title .timeset {position:absolute;top:50%;left:50%;margin-top:10px;font-size:17px;color:#e54d7b;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.oneday-title .timeset:before  {content:"";display:inline-block;margin-right:5px;vertical-align:0;width:14px;height:14px;background:url(../images/main/icon_time2.png) 0 0 no-repeat;-webkit-background-size:14px 14px;background-size:14px;}
.oneday-title.timesale {position:relative;width:100%;height:99px;background:#000 url(../images/main/bg-timesale.jpg) top center no-repeat;-webkit-background-size:auto 99px;background-size:auto 99px;}
.oneday-title.timesale .timeset {position:absolute;top:50%;left:50%;margin-top:10px;font-size:17px;color:#fff;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.oneday-title.timesale .timeset:before {content:"";display:inline-block;margin-right:5px;vertical-align:0;width:13.5px;height:14px;background:url(../images/main/icon_time.png) 0 0 no-repeat;-webkit-background-size:14px 14px;background-size:14px;}

.main_slide__box {display:table;table-layout:fixed;width:100%;overflow:hidden;}
.main_slide__box .box {display:table-cell;text-align:center;border-left:1px solid #fff;vertical-align:top;}
.main_slide__box .box:nth-child(2n) {border-left:1px solid #f7f7f7;}
.main_slide__box .box a img {width:100%;}
.main_slide__box__title {width:100%;padding:18px 10px 0;font-size:15px;color:#333;line-height:18px;font-weight:600;-webkit-box-sizing:border-box;box-sizing:border-box;}
.main_slide__box__content {padding:10px 10px 23px;height:32px;font-size:13px;color:#999;line-height:16px; overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;word-wrap:break-word;}
.main_banner__content.main_banner__content_foryou {border-top:2px solid #eee;}
.main_slide__box.promotion_slide .box img {display:block;width:100%;border-bottom:1px solid #f7f7f7;-webkit-box-sizing:border-box;box-sizing:border-box;}
.main_banner__content.oneday-banner__content .bx-pager a.active {background:#e54d7b;}
.main-bastitem__banner img {width:100%;}

.newbrand-banner__content {/*padding-top:20px;*/border-top:1px solid #eee;}
.newbrand-banner__content .main_slide__box .box, .newbrand-banner__content .main_slide__box .box:nth-child(2n) {border-left:0;}

.main_newbrand {width:100%;padding:0 9px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.main_newbrand .logo {height:39px;padding-bottom:13px;text-align:center;border-bottom:1px solid #f7f7f7;}
.main_newbrand .logo img {max-width:85px;max-height:39px;}
.main_newbrand .brand_thum {position:relative;display:block;margin:0 auto;width:115px;height:115px;border-radius:50%; overflow:hidden;}
.main_newbrand .brand_thum img {width:165px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.main_newbrand .main_slide__box__title {padding:15px 10px 21px;}
.main_newbrand .main_slide__box__content {padding:0;margin:21px 10px 23px}

.newbrand-wrap { margin:0 auto; }
.newbrand-list { overflow:hidden; position:relative; margin:0 auto; font-size:0; text-align:center; }
.newbrand-list__item { display:inline-block; width:50%; max-width:252px; font-size:12px; }
.newbrand-list__link { display:block; }
.newbrand-list__img { vertical-align:top; max-width:100%; max-height:100%; }

.main-banner__rolling {position:relative;}
.main-banner__rolling ul  li a img {width:100%;}
.main-banner__rolling .bx-pager {position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
.main-banner__rolling .bx-pager .bx-pager-item {display:inline-block;margin:0 5px;}
.main-banner__rolling .bx-pager .bx-pager-item a {width:22px;height:0;padding-top:2px;display:block;background:#d3d3d3;overflow:hidden;}
.main-banner__rolling .bx-pager .bx-pager-item a.active {background:#845de5;}

/* 이벤트 더보기 버튼 */
.event-more { position:fixed; top:0px; left:0px; right:0px; bottom:0px; overflow:auto; z-index:510; background-color:#ffffff;}
.event-more__header {position:relative; color:#ffffff; font-size:21px; background-color:#03193c; height:63px; line-height:63px;  text-align:center;}
.event-more__content {font-size:0px;}
.event-more__content a {display:block; margin-bottom:1px;}
.event-more__content a img {width:100%;}
.event-more__footer {margin-top:10px; margin-bottom:10px;}
.event-more__footer a {display:table-cell; width:1%; height:45px; line-height:45px; font-size:15px; color:#8f61ec; -webkit-box-sizing:border-box; box-sizing:border-box; text-align:center;}
.event-more__footer a + a {border-left:1px solid #d7d7d7;}
.layer-popup-close {position:absolute; right:19px; top:50%; margin-top:-11px; width:22px; height:22px; background:url(../images/common/layer-close.png) 0 0 no-repeat; -webkit-background-size:22px 22px; background-size:22px 22px; text-indent:-9999px;}
.layer-popup-content { display:none; }
.layer-popup-content.is-on { display:block; }

/* 메인팝업 */
.mainpop {position:fixed;top:80px;bottom:100px;left:50%;margin-left:-143px;width:286px;z-index:502;}
.mainpop:before {content:"";display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:#000;opacity:0.5;z-index:503;}
.mainpop .mainpop__content {position:absolute;top:0;left:0;width:100%;background:#1f1f21;border:1px solid #1f1f21;border-top:0;z-index:504;}
.mainpop .mainpop__content img {width:100%;vertical-align:top;border-top:1px solid #1f1f21;}
.mainpop__bottom {position:relative;display:table;width:100%;}
.mainpop__bottom:before {content:"";display:block;position:absolute;top:11px;left:50%;bottom:11px;width:1px;background:#333;}
.mainpop__bottom .close__item {position:relative;display:table-cell;width:50%;padding:16px 0;text-align:center;color:#fff;font-size:14px;line-height:17px;}
.mainpop__bottom .close__item:first-child {color:#999;}
.mainpop__bottom .close__item input {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;padding:0;margin:0;}
.mainpop__bottom .close__item a {position:absolute;top:0;left:0;right:0;bottom:0;padding:16px 0;}


/*중문*/
.main-banner__content.cn .go_event a {background:#03193c;opacity:0.8;border:0;}
.main-banner__content.cn #slide-counter {background:#b2b3bb;border-radius:10px}
.main-banner__content.cn #slide-counter:before {display:none;}
.oneday-title.cn {background:#fff4f9 url(../images/main/bg-oneday_cn.jpg) top center no-repeat;-webkit-background-size:auto 99px;background-size:auto 99px;} /* 메인 > 원데이특가 */ 
.recommend-brand {position:relative;display:inline-block;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.recommend-brand li {position:relative;float:left;width:33%;height:80px;vertical-align:middle;line-height:80px;text-align:center;border-left:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;-webkit-box-sizing:border-box;box-sizing:border-box;}
.recommend-brand li img {max-width:80%;max-height:80%;vertical-align:middle; -webkit-filter: grayscale(100%); -webkit-filter: grayscale(1); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter: gray; filter: grayscale(100%); }
.recommend-brand li a {display:block;position:absolute;top:0;left:0;right:0;bottom:0;}
.recommend-brand li:nth-child(3n), .recommend-brand li:nth-child(6n) {width:34%;}
.recommend-brand__nodata {position:relative;padding:0;background:url(../images/event/bg-couponevent-ready.jpg) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;}
.recommend-brand__nodata .text {display:block;position:absolute;top:50%;left:50%;width:70px;height:0;padding-top:35px;overflow:hidden;background:url(../images/event/bg-couponevent-ready_text_cn.jpg) 0 0 no-repeat;-webkit-background-size:70px 70px;background-size:70px;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}