@charset "UTF-8";

.page-title { position:absolute;top:65px;left:0;right:0;z-index:50;height:50px; margin-bottom:-1px; padding-left:50px; padding-right:50px; border-bottom:1px solid #e5e5e5; background-color:#fff; }
.page-title__name { display:table-cell; width:1%; height:inherit; font-size:18px; color:#333; font-weight:600; text-align:center; vertical-align:middle; }
.page-title__btn { position:absolute; top:0; left:0; height:50px; width:50px; }
.page-title__btn:before { display:none; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; background:url(../images/common/page-title-btn.png) no-repeat 0 -25px; ; -webkit-background-size:auto 25px; ; background-size:auto 25px; content:''; }
.page-title__btn--back { overflow:hidden; text-indent:100%; white-space:nowrap; }
.page-title__btn--back:before { display:block; width:20px; height:18px; background-position:0 0; }
.page-title.js-fixed {position:fixed;top:0;}
.sub-cate__group {position:absolute;top:65px;left:0;width:100%;z-index:100;}
.sub-cate__group.js-fixed {position:fixed;top:0;}
.sub-cate__group .page-title {top:0;}

/* 카테고리 서브 */
.sub-cate-title h1 {display:inline-block;}
.scate_more {position:relative;display:inline-block;margin-left:5px;padding-top:27px;width:27px;height:0;overflow:hidden;border:1px solid #e2e2e2;vertical-align:middle;-webkit-box-sizing:border-box;box-sizing:border-box;}
.scate_more:before {content:"";position:absolute;top:12px;left:9px;width: 0px;height: 0px;border-color: #845de5 #fff #fff #fff;border-style:solid;border-width:4px;}
.scate_more.on:before {top:7px;border-color: #fff #fff #845de5 #fff;}
.sub-cate__menu {position:absolute;top:50px;left:0;width:100%;display:none;background:#fff;}
.sub-cate__menu ul {display:block;width:100%;overflow:hidden;border-bottom:1px solid #f2f2f2;}
.sub-cate__menu ul li {float:left;width:50%;text-align:center;border-top:1px solid #f2f2f2;}
.sub-cate__menu ul li:nth-child(1n) {border-right:1px solid #f2f2f2;width:calc(50% - 1px);}
.sub-cate__menu ul li:nth-child(2n) {border-right:0;}
.sub-cate__menu ul li a {display:block;padding:13px 0;font-size:13px;color:#999;}
.sub-cate__menu ul li.on a {color:#845de5;}

/*본인인증*/
.cert-select { -webkit-box-sizing:border-box; box-sizing:border-box; position:relative; padding-right:1px; box-sizing:border-box; margin:0 auto; padding-right:1px; table-layout:fixed; color:#845de5; font-size:14px; line-height:1; text-align:center; }
.cert-select:after { display:block; padding-top:33.8%; height:0; content:''; }
.cert-select--next { margin-top:18px; }
.cert-select__btn { position:absolute; width:50%; height:100%; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; margin:0; padding:0; border-width:0; border-color:#c3b1f6; background-color:#fff; color:inherit; font-size:inherit; line-height:inherit; vertical-align:middle; }
.cert-select__btn:nth-child(1) { left:0; }
.cert-select__btn:nth-child(2) { right:1px; }
.cert-select__btn:active { z-index:1; border-color:#845de5 }
.cert-select__btn:before { display:block; width:20px; height:26px; margin:0 auto 10px; background:#845de5 url(../images/common/cert-select-ico.png) no-repeat; -webkit-background-size:auto 26px; background-size:auto 26px;  content:''; }
.cert-select__btn:after { pointer-events:none; -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; top:0; height:inherit; right:-1px; left:0; border-width:1px; border-style:solid; border-color:inherit; content:''; }
.cert-select__btn:active:after { z-index:2; }
.cert-select__btn--i-pin:before { background-position:-20px 0; }
.cert-select__btn--check-out:before { background-position:-40px 0; }
.cert-select__btn--order:before { background-position:-60px 0; }
/*sns*/
.sns-btn { overflow:hidden; display:inline-block; width:41px; height:41px; background:url(../images/common/sns-btn.png) no-repeat; -webkit-background-size:auto 41px; background-size:auto 41px; text-indent:100%; white-space:nowrap; vertical-align:middle; }
.sns-btn--facebook { }
.sns-btn--twitter { background-position:-41px 0; }
.sns-btn--kakao { background-position:-82px 0; }
.sns-btn--naver { background-position:-123px 0; }
.sns-list { text-align:center; font-size:0; padding:14px; background-color:#fafafa }
.sns-list--next { margin-top:18px; }
.sns-list__item { display:inline-block; vertical-align:middle; margin-left:18px; font-size:12px; }
.sns-list__item:first-child { margin-left:0; }


/*약관*/
.agree-label { display:table; height:30px; color:#333; font-size:15px; line-height:1.3; text-align:left; }
.agree-label--border { padding-top:22px; padding-bottom:22px; border-top:1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; }
.agree-label--next { margin-top:21px; }
.agree-label__cell { display:table-cell; padding-right:7px; vertical-align:middle; }
.agree-label__cell--bar { padding-left:13px; border-left:1px solid #d8d8d8; }
.agree-label__cell:last-child { padding-right:0; }
.agree-body { padding:8px; border:1px solid #e5e5e5; background-color:#fafafa; color:#888; text-align:left; line-height:1.333; font-size:12px; word-break:keep-all;word-wrap:break-word;-webkit-overflow-scrolling:none;}
.agree-body__wrap { height:7em; overflow: hidden; }
.agree-body__wrap.is-view { height:13.333em; -webkit-line-clamp:none; overflow:auto; }
.agree-body--next { margin-top:13px; }
.agree-body table { width:100%; border-collapse:collapse; }
.agree-body th,
.agree-body td { padding:0.5em; border:1px solid #d8d8d8; }
.agree-body th[align="center"],
.agree-body td[align="center"] { text-align:center; }
.agree-body th[align="left"],
.agree-body td[align="left"] { text-align:left; }
.agree-body th[align="right"],
.agree-body td[align="right"] { text-align:right; }
.agree-body th { background-color:#f2f2f2; }


.hide-content { position:relative; z-index:1; margin-top:-3em; height:3em; background-image:-o-linear-gradient(rgba(255,255,255,0) , #fafafa 50%); background-image:-webkit-gradient(linear , left top, left bottom , from(rgba(255,255,255,0)) , color-stop(50%, #fafafa)); background-image:linear-gradient(rgba(255,255,255,0) , #fafafa 50%); }
.hide-content__btn { position: absolute;left: 0;bottom: 0; margin:0;padding:5px 0; border-width:0 0 1px 0;border-style:solid;background-color:transparent;color:#555;font-size:12px;text-align:left;line-height:1;}
.hide-content.is-on { margin-top:0; height:2em; }

.required { position:absolute; display:inline-block; text-indent: -999em; width:1em; vertical-align:middle; }
.required:after { position:absolute; top:0; left:0; color:#e05f85; content:"*"; vertical-align:middle; text-indent:0; font-size:1.5em;}

.js-checked-add { display:none; }

.link-group { color:#777; line-height:1; text-align:center; font-size:14px; }
.link-group--margin { margin-top:23px; margin-bottom:23px; }
.link-group--border-top { margin-top:0; padding-top:23px; border-top:1px solid #eee;}
.link-group__item--bar { margin-left:1em; }
.link-group__item--bar:before { position:absolute; margin-left:-.8em; content:'| '; color:#d3d3d3;  }

.notification-area { position:relative; color:#333; font-size:20px; line-height:1.35; border:1px solid #d3d3d3; background-color:#fafafa; text-align:center; }
.notification-area:after { display:block; padding-top:72.5%; content:''; }
.notification-area--long { min-height:300px; }
.notification-area--long:after { padding-top:103.3%; }
.notification-area--next { margin-top:18px; }
.notification-area--variable { padding-top:20px; padding-bottom:20px; }
.notification-area--variable:after {display:none;}
.notification-area--font-min { font-size:13px; }
.notification-area__inner { position:absolute;top:0;bottom:0;left:0;right:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding-left:14px; padding-right:14px; vertical-align:middle; text-align:center; }
.notification-area--variable .notification-area__inner { position:static; }
.notification-area__para { line-height:1.5; font-size:12px; color:#555; }
.notification-area__para--bar { margin-top:18px; padding-top:18px; border-top:1px solid #e5e5e5; }
.notification-area__inner br { display:none; }

.notification-area2 { position:relative; padding-left:44px; font-size:13px; line-height:1.5; text-align:left; color:#777; }
.notification-area2:before { position:absolute; top:0; bottom:0; left:0; width:30px; height:30px; margin:auto; background:url(../images/common/notification-area2-ico.png) no-repeat; -webkit-background-size:auto 30px; background-size:auto 30px; content:''; vertical-align:middle; }
.notification-area2__inner { height:34px; padding-left:12px; display:table-cell; border-left:1px solid #d8d8d8; vertical-align:middle; }

/*바코드*/
.barcode-pulldown { display:none; background-color:#eee;border-top:1px solid #e5e5e5; text-align:center; padding:34px 0; }
.barcode-pulldown.is-on { display:block; }
.barcode-pulldown img { width:calc(100% - 120px); max-width:320px; }

.listview-body { padding:18px 18px 25px;background-color:#fafafa; color:#777; text-align:left; line-height:1.5;font-size:13px; }


/*장바구니 빠른결제*/
.cart-footer { position:fixed; z-index:100; bottom:0; left:0; right:0; -webkit-box-sizing: border-box; box-sizing: border-box; height:70px; padding:13px 9px; border-top:1px solid #ccc; background-color:#f2f2f2; }
.quick-payment { display: table; width:100%; border:1px solid #845de5; -webkit-box-sizing:border-box; box-sizing:border-box; background-color: #fff; font-size: 13px; color: #845de5; font-weight:600; line-height:1.3; }
.quick-payment__term { display: table-cell; width:1%; height:44px; padding: 0 14px; background-color:#efeafb; vertical-align: middle; }
html:lang(zh) .quick-payment__term { white-space:nowrap;}
.quick-payment__describe { display: table-cell; vertical-align: middle; text-align:right; padding:0 20px; }
.quick-payment__btn { display: table-cell; width:84px; vertical-align: middle; background-color:#845de5; color:#fff; text-align:center; }


.search-area { position:fixed; z-index:600; top:0; left:0; right:0; }

.search-header { height:65px; background-color:#03193c; }
.search-header__cancel { }
.search-header__input { }
.search-header__delete { }
.search-header__submit { }


.list-head { display:table; -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; padding:12px 18px; color:#333; font-size:14px; }
.list-head--border-top { border-top:1px solid #e5e5e5; }
.list-head--border-bottom { border-bottom:1px solid #e5e5e5; }
.list-head__cell { display:table-cell;}
.list-head__cell--min { width:1%; }

/*-----------중문-----------*/
/*sns_중문*/
.sns-btn.cn {background:url(../images/common/sns-btn_cn.png) no-repeat; -webkit-background-size:auto 41px; background-size:auto 41px;}
.sns-btn--ws.cn { background-position:-41px 0; }
.sns-btn--wv.cn { background-position:-82px 0; }
.sns-btn--al.cn { background-position:-123px 0; }
