@charset "UTF-8";

.radio1 { vertical-align:middle; }
.radio1 input {margin-top: -3px; vertical-align:middle; }
.radio1:not(※) {line-height: 16px;}
.radio1:not(※) input {overflow:hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0, 0, 0, 0);}
.radio1:not(※) span { position:relative; display:block; font-size:15px; line-height:28px; background-color:#fff; cursor:pointer; padding:0 9px; border:1px solid #e0e0e0; font-weight:400; color:#999; text-align:center; }
.radio1:not(※) input:focus+span {border-color:#aaa; z-index:1; }
.radio1:not(※) input:checked+span {border-color:#8561ec; color:#8561ec; z-index:1; }
.radio1:not(※) input[readonly]+span { background-color:#fff; }

.radio1-set {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.radio1-set--margin { margin:10px; }
.radio1-set__item { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.radio1-set__item+.radio1-set__item { margin-left:-1px; }

.member-info__couponlist {}
.member-info__couponlist--margin-bottom {margin-bottom:17px;}
.member-info__couponlist--border-top {border-top:1px solid #f2f2f2;}
.member-info__couponlist--border-bottom {border-bottom:1px solid #d3d3d3;}
.member-info__couponlist-row {}
.member-info__couponlist-row + .member-info__couponlist-row {border-top:1px solid #f2f2f2;}
.member-info__couponlist-row + .member-info__couponlist-row .member-info__couponlist-rowtitle, 
.member-info__couponlist-row + .member-info__couponlist-row .member-info__couponlist-rowcontent {height:34px;}
.member-info__couponlist-rowtitle, 
.member-info__couponlist-rowcontent {font-size:15px; line-height:1.4; height:35px; padding-top:5px; padding-bottom:5px; vertical-align:middle;}
.member-info__couponlist-rowtitle {display:table-cell; width:1%; text-align:left; white-space:nowrap;}
.member-info__couponlist-rowcontent {display:table-cell; /* width:1%; */ text-align:right;}
.member-info.default .color1 {font-weight:600;}

.info-checkbox ~ .info-product, 
.info-checkbox ~ .info-list2 {padding-left:24px;}

.info-list1 {padding:15px 0 23px 0;}
.info-list1__row {font-size:13px; line-height:1.3;}
.info-list1__rowtitle, 
.info-list1__rowcontent {height:17px; padding-top:3px; padding-bottom:3px; vertical-align:middle;}
.info-list1__rowtitle {color:#555555; display:table-cell; width:1%;}
.info-list1__areawidth {width:78px;}
.info-list1__rowcontent {color:#777777; display:table-cell; width:auto;}
.info-list1__rowtitle-nodata {text-align:center; color:#999999; font-size:15px; margin:31px 0 23px 0;}

.info-list2 {position:relative;}
.info-list2--border {border-bottom:1px dashed #d3d3d3;}
.info-list2__row {font-size:0px; line-height:1; border-top:1px dashed #d3d3d3; -webkit-box-sizing:border-box; box-sizing:border-box; text-align:center;}
.info-list2__row--border-none {border-top:none;}
.info-list2__row--bgcolor {background-color:#fafafa;}
.info-list2__rowtitle, 
.info-list2__rowcontent {color:#555555; display:table-cell; font-size:15px; padding-top:6px; padding-bottom:6px; vertical-align:middle; height:27px; text-align:right;}
.info-list2__rowtitle {text-align:left; width:1%; white-space:nowrap;}
.info-list2__rowtitle .label1 {width:52px; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden;}
.info-list2__rowtitle--width50 {width:1%;}
.info-list2__rowcontent--width50 {width:1%;}
.info-list2__row-sold-out {display:table-cell; width:1%; height:27px; font-size:15px; color:#010101; font-weight:500; padding-top:6px; padding-bottom:6px; vertical-align:middle; text-align:center;}
.info-list2__meritcont {color:#777777; font-size:13px;}
.info-list2__meritcont + .info-list2__meritcont:before {content:'ㅣ '; color:#d8d8d8;}

/* 스페셜 주문 내역*/
.special-order__list {border-bottom:1px solid #e5e5e5;}
.special-order_table th {background:#f2f2f2;font-size:14px;color:#555;border-bottom:1px solid #d3d3d3;text-align:left;}
.special-order_table td {border-bottom:1px solid #d3d3d3;text-align:left;}
.spinner-object--padding-fix.special {padding-right:0;}

/* 고객센터_홈 */
.cs-keyvisual {padding:15px 0 10px;width:100%;background:url(../images/customer/bg-main.jpg) 0 0 no-repeat;-webkit-background-size:cover;background-size:cover;}
.cs-keyvisual_link {padding:0 0 15px;font-size:12px;line-height:15px;color:#9a71ff;font-weight:600;text-align:center;}
.cs-keyvisual_link a:after {content:"";display:inline-block;margin-left:6px;width:4px;height:5px;background:url(../images/customer/common.png) 0 0 no-repeat;-webkit-background-size:300px 300px;background-size:300px 300px;vertical-align:middle;}
.cs-keyvisual_item {position:relative;padding:15px 10px 0;text-align:center;}
.cs-keyvisual_item:before {content:"";position:absolute;top:0;left:0;display:block;width:100%;height:1px;background:#fff;opacity:0.2;}
.cs-keyvisual_item-content {padding-bottom:15px;font-size:30px;font-weight:700;line-height:33px;color:#fff;}
.cs-keyvisual_item-content span {display:block;padding-top:4px;font-size:12px;line-height:15px;font-weight:400;}
.cs-keyvisual_item-content-link {position:relative;display:table;width:100%;height:65px;}
.cs-keyvisual_item-content-link:before {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#845de5;opacity:0.9;z-index:1}
.cs-keyvisual_item-content-link:after {content:"";display:block;position:absolute;top:0;bottom:0;left:50%;width:1px;height:100%;background:#fff;opacity:0.2;z-index:2;}
.cs-keyvisual_item-content-link li {position:relative;display:table-cell;height:inherit;width:50%;z-index:2;vertical-align:middle;}
.cs-keyvisual_item-content-link li a { display:table-cell; width:1000px;height:inherit;color:#fff;font-size:14px;line-height:17px; vertical-align:middle; }
.cs-quick {background:#f2f2f2;padding:9px;}
.cs-quick-list {display:table;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;height:115px;background:#fff;border:1px solid #e2e2e2;table-layout:fixed;}
.cs-quick-list__item {display:table-cell;position:relative;height:inherit;border-left:1px solid #e2e2e2;text-align:center;vertical-align:top;}
.cs-quick-list__item:first-child {border-left:0;}
.cs-quick-list__item:before {content:"";display:block;position:absolute;top:24px;left:50%;margin-left:-15px;width:31px;height:37px;background:url(../images/customer/common.png) 0 0 no-repeat;-webkit-background-size:300px 300px;background-size:300px 300px;}
.cs-quick-list__item--nth-1:before {background-position:0 -10px;}
.cs-quick-list__item--nth-2:before {background-position:-31px -10px;}
.cs-quick-list__item--nth-3:before {background-position:-62px -10px;}
.cs-quick-list__item a {display:table-cell; width:1000px; -webkit-box-sizing:border-box; box-sizing:border-box; height:inherit; padding:60px 0 5px; font-size:13px;line-height:16px;color:#845de5; vertical-align:middle; }
.cs-guide {position:relative;display:inline-block;width:100%;}
.cs-guide:after {content:"";display:block;position:absolute;top:0;left:50%;width:1px;height:100%;background:#f1f0f0;z-index:1}
.cs-guide li {position:relative;float:left;width:50%;border-bottom:1px solid #f1f0f0;}
.cs-guide li a {display:block;padding:18px;font-size:13px;line-height:16px;color:#333;}
.cs-guide li:nth-child(5) {float:none;width:100%;overflow:hidden;text-align:center;}
.cs-guide li:nth-child(5):before {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:2;}
.cs-guide li:nth-child(5) a {position:relative;display:inline-block;z-index:3;}
.cs-guide li:after {content:"";display:block;position:absolute;top:18px;right:18px;width:21px;height:21px;background:url(../images/customer/common.png) 0 0 no-repeat;-webkit-background-size:300px 300px;background-size:300px 300px;}
.cs-guide li:nth-child(1):after {background-position:0 -46.5px;}
.cs-guide li:nth-child(2):after {background-position:-20px -46.5px;}
.cs-guide li:nth-child(3):after {background-position:-41px -46.5px;}
.cs-guide li:nth-child(4):after {background-position:-62px -46.5px;}
.cs-guide li:nth-child(5):after {position:relative;display:inline-block;top:inherit;right:inherit;width:28px;height:16px;background-position:0 -67.5px;vertical-align:middle;z-index:3;}
.cs-more {position:relative; }
.cs-more a {display:block;position:absolute;right:9px;bottom:8px; width:30px;height:30px;text-indent:-999em;background:#fff;border:1px solid #b1b1b1;border-radius:50%;}
.cs-more a:before {content:"";display:block;position:absolute;top:50%;width:13px;height:1px;left:50%;margin-left:-6px;background:#a5a5a5;}
.cs-more a:after {content:"";display:block;position:absolute;top:50%;left:50%;margin-top:-6px;width:1px;height:13px;background:#a5a5a5;}
.cs-list { border-top:1px solid #d3d3d3; }
.cs-list li {padding:15px 18px;border-bottom:1px solid #f1f0f0;}
.cs-list li a {font-size:16px;line-height:19px;color:#777;}

/* 고객센터_FAQ */
.cs-search { border-bottom:1px solid #e5e5e5; padding:14px 18px; }

.cs-search_form-area {position:relative;padding:14px 18px;}
.cs-search_form-area input {padding:0 8px;width:calc(100% - 48px);height:32px;border:1px solid #b6a0f4;border-right:none; -webkit-box-sizing:border-box; box-sizing:border-box;vertical-align:top;}
.cs-search_form-area button {width:48px;height:32px;margin-left:-4px;background:#845de5;color:#fff;text-align:center;border:0;font-size:13px;line-height:32px;vertical-align:top;}
.cs-text-form { padding:17px 18px; border-top:9px solid #f2f2f2; background-color:#fafafa;text-align:center;}
.cs-text-form p {padding-bottom:14px;color:#999;font-size:12px;line-height:15px;}
.cs-text-form a {display:inline-block;padding:9px 19px;font-size:13px;color:#845de5;line-height:16px;background:#fff;border:1px solid #845de5;}
 
 /* 고객센터_문의하기 */
.cs-button-group a {display:block;margin:0 auto;}
.cs-qna {padding:18px 9px 22px;}

 /* 고객센터_면세점 가이드 */
.cs-tab {margin-bottom:17px;}
.pay-info .tit1 {margin-bottom:18px;border-bottom:2px solid #d3d3d3}
.bd-left {border-left:1px solid #f2f2f2}

/* 고객센터 공통_아코디언 */
.list-acco {width:100%;background:#f2f2f2;}
.list-acco ol {counter-reset:num;border-top:1px solid #e5e5e5; }
.list-acco ol li a {display:block;position:relative;padding:17px 45px 17px 39px;border-bottom:1px solid #e5e5e5;font-size:13px;color:#333;line-height:16px;}
.list-acco ol li a:before {content:"" counter(num);position:absolute;top:50%;left:17px;counter-increment:num 1;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.list-acco ol li a:after {content:"";display:block;position:absolute;top:50%;right:18px;width:13px;height:8px;background:url(../images/customer/common.png) 0 -86px no-repeat;-webkit-background-size:300px 300px;background-size:300px 300px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.list-acco ol li.show a:after {background-position:-13px -86px;}
.list-acco_content {padding:13px 17px;background:#fff;font-size:12px;line-height:18px;color:#666;}
.list-acco ol.step {counter-reset:inherit;}
.list-acco ol.step li a{padding:17px 45px 17px 18px;}
.list-acco ol.step li a:before {content:"";}
.list-acco ol.step li a span {color:#865ee5;}
.list-acco_content.type2 {padding:0;}
.list-acco_content.type2 img {width:100%;border:2px solid #ffa6a6;-webkit-box-sizing:border-box;box-sizing:border-box;}
.list-acco_content.type2 ul {padding:12px 18px 15px}
.list-acco_content.type2 .call {display:inline;border-bottom:0;padding:0;font-size:12px;color:#666;}
.list-acco_content.type2 .call:before, .list-acco_content.type2 .call:after {display:none;}
.list-acco_content .button-group4__item a {padding:17px 0 !important;width:100%;color:#fff;}
.list-acco_content .button-group4__item a:before, .list-acco_content .button-group4__item a:after {display:none;}

/* 고객센터 공통_목록 */
.list-num {margin-top:20px;font-size:13px;line-height:16px;color:#333;font-weight:600;}

.cs-step { display:table;margin-top:12px;width:100%; height:52px; counter-reset:num; border:1px solid #e5e5e5;}
.cs-step li { display:table-cell;position:relative;width:1%;height:inherit;text-align: center; font-size:10px;line-height:1.1; color:#555;vertical-align:middle; font-weight:400;}
.cs-step li:before {content:"" counter(num);display:block; font-size:7px;color:#845de5;counter-increment:num 1;}
.cs-step li:after { content:""; display:block;position:absolute; top:0; left:-10px; width:20px; height:52px; background:url(../images/customer/common.png) -100px 0 no-repeat; -webkit-background-size:300px 300px; background-size:300px 300px; }
.cs-step li:first-child:after {display:none;}


/* 고객센터_공지사항 */
.cs-board_list {background:#f2f2f2;}
.cs-board_list li {padding:17px 18px;border-bottom:1px solid #e5e5e5;background:#fff;}
.cs-board_list li:first-child {border-top:1px solid #d3d3d3;}
.cs-board_list li a {display:block;overflow:hidden;width:100%;}
.cs-board_list li a .title {float:left;display:inline-block;width:75%;font-size:12px;color:#333;line-height:15px;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.cs-board_list li a .date {float:right;display:inline-block;width:20%;text-align:right;font-size:10px;color:#999;line-height:13px;}
.cs-board_view {padding-bottom:9px;background:#f2f2f2;}
.cs-board_view .cs-board_view_head {width:100%;overflow:hidden;padding:17px 18px;border-bottom:1px solid #e5e5e5;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;}
.cs-board_view .cs-board_view_head .title {float:left;display:inline-block;width:75%;font-size:12px;color:#333;line-height:15px;}
.cs-board_view .cs-board_view_head .date {float:right;display:inline-block;width:20%;text-align:right;font-size:10px;color:#999;line-height:13px;}
.cs-board_view .cs-board_view_content {padding:20px 18px;background:#fff;font-size:12px;color:#666;border-bottom:1px solid #e5e5e5}
.cs-board_list__link {border-top:1px solid #e5e5e5;}
.cs-board_list__link li a {position:relative;display:block;width:100%;padding:16px 16px 16px 44px;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #e5e5e5;font-size:12px;color:#333;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.cs-board_list__link li a:before {content:"";display:block;position:absolute;top:48%;left:15px;width:7px;height:7px;border-top:2px solid #666;border-right:2px solid #666;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.cs-board_list__link li.prev a:before {top:38%;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg);} 
.board-button-group {padding:20px 0;background:#fff;}
.board-button-group a {display:block;margin:0 auto;}

/* 웨딩샵*/
.wedding_benefit__title {font-size:12px;color:#777;line-height:15px;padding:14px 0;background:#f2f2f2;text-align:center;border-top:2px solid #d3d3d3;}
.wedding_benefit__info {padding-bottom:6px;}
.wedding_benefit__info img { max-width:100%}
.wedding_benefit__info ul {border-bottom:2px solid #e5e5e5;}
.wedding_benefit__info ul li {position:relative;padding:17px 0 17px 70px;border-top:1px solid #f2f2f2}
.wedding_benefit__info ul li:first-child {border-top:0;}
.wedding_benefit__info ul li:before {content:"";display:block;position:absolute;top:17px;left:0;width:51px;height:48px;background:url(../images/wedding/common.png) 0 0 no-repeat;-webkit-background-size:153px 48px;background-size:153px 48px;} 
.wedding_benefit__info ul li:nth-child(2):before {background-position:-51px 0;}
.wedding_benefit__info ul li:nth-child(3):before {background-position:-102px 0;}
.wedding_benefit__info dt {padding-bottom:8px;font-size:14px;color:#010101;line-height:17px;font-weight:600;}
.wedding_benefit__info dd {font-size:13px;color:#333;line-height:16px;}
.wedding_benefit__event {width:100%;margin-bottom:6px;padding-top:25px;background:url(../images/wedding/bg-wedding.jpg) 0 0 repeat-y;-webkit-background-size:100% 100%;background-size:100%;}
.wedding_benefit__event .title {padding-bottom:10px;font-size:15px;color:#333;line-height:18px;font-weight:600;text-align:center;}
.wedding_benefit__event .title span {color:#ce602f;}
.wedding_benefit__event .title_s {font-size:12px;color:#777;line-height:15px;text-align:center;}
.wedding_benefit__event .img {padding:20px 18px 28px;}
.wedding_benefit__event .img img {width:100%;}
.wedding_benefit_btn {padding:23px 0;text-align:center;}
.wedding_benefit_btn a {display:block;margin:0 auto;width:169px;height:50px;line-height:50px;font-size:14px;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;border:1px solid #845de5;color:#845de5;}
.wedding_benefit_btn2 {padding:23px 0 30px;}
.wedding_benefit_list {border-bottom:2px solid #d2c8bf;}
.wedding_benefit_list li {display:table;width:100%;table-layout:fixed;border-top:2px solid #d2c8bf;}
.wedding_benefit_list li span {display:table-cell;position:relative;width:60px;text-align:center;vertical-align:middle;color:#010101;font-size:23px;}
.wedding_benefit_list li span:before {content:"";display:block;position:absolute;top:0;left:0;right:0;bottom:0;background:#fefbf7;opacity:0.3;}
.wedding_benefit_list li .wedding_benefit_list__item {display:table-cell;padding:17px 14px;font-size:12px;color:#777;}
.wedding_benefit_list li .wedding_benefit_list__item strong {display:block;padding-bottom:10px;font-size:14px;color:#010101;}
.wedding_benefit_promotion {position:relative;border-top:2px solid #d3d3d3;padding-top:155px;text-align:center;}
.wedding_benefit_promotion p {font-size:15px;color:#333;line-height:18px;font-weight:600;}
.wedding_benefit_promotion p span {color:#e25d84;}
.wedding_benefit_promotion:before {content:"";display:block;position:absolute;top:0;left:50%;margin-left:-162px;width:324px;height:155px;background:url(../images/wedding/bg-wedding2.jpg) 0 0 no-repeat;-webkit-background-size:324px 155px;background-size:324px 155px;}
.wedding_img_add ul {padding-bottom:8px;}
.wedding_img_add .input-form__img-item {padding:0;margin-top:0;}
.wedding_terms_agree {padding:12px 0;border-bottom:1px solid #e5e5e5;}
.wedding_benefit_request {padding-top:18px;border-top:2px solid #d3d3d3;}
.wedding_benefit_request__list {background:#f2f2f2;padding-bottom:9px;}
.wedding_benefit_request__list ul {padding-top:35px;background:#fff;width:100%;}
.wedding_benefit_request__list ul li {display:table;width:100%;padding:17px 18px;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #e5e5e5;table-layout:fixed;}
.wedding_benefit_request__list ul li:first-child {border-top:2px solid #e5e5e5;}
.wedding_benefit_request__list ul li .name {display:table-cell;font-size:15px;font-weight:600;color:010101;}
.wedding_benefit_request__list ul li .ing {display:table-cell;text-align:right;font-size:13px;color:#845de5;}
.wedding_event {width:100%;padding-top:225px;position:relative;}
.wedding_event:before {content:"";display:block;width:360px;height:225px;position:absolute;top:0;left:50%;margin-left:-180px;background:url(../images/wedding/bg-wedding3.jpg) 0 0 no-repeat;-webkit-background-size:360px 225px;background-size:360px 225px;}
.wedding_event ul {position:absolute;top:50%;left:0;width:100%;text-align:center;-webkit-transform:translate(0,32px);-ms-transform:translate(0,32px);transform:translate(0,32px);}
.wedding_event ul li {font-size:11px;color:#777;line-height:14px;}
.wedding_event_present {width:100%;margin:18px 0 0;padding:0 0 9px;background:#f2f2f2;}
.wedding_event_present:before {content:"";display:block;width:100%;height:182px;}
.wedding_event_present.bg1:before {background:url(../images/temp/@wedding2.jpg) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100%;}
.wedding_event_present.bg2:before {background:url(../images/temp/@wedding3.jpg) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100%;}
@media all and (max-width:320px) {
	.wedding_event_present.bg1:before {-webkit-background-size:360px 182px;background-size:360px 182px;}
	.wedding_event_present.bg2:before {-webkit-background-size:360px 182px;background-size:360px 182px;}
}
.wedding_event_present p {padding:17px 18px;font-size:13px;color:#777;background:#fff;}
.wedding_event_present p strong {padding-bottom:10px;font-size:15px;color:#d6567d;font-weight:600;display:block;}
.wedding_event_present + .tit1__txt {padding-top:33px;}
.wedding_event_list_title {padding:35px 0 18px;border-bottom:2px solid #d3d3d3;}

/*기획전,이벤트 상단 sorting */
.info-area.event__sorting .info-area__option {float:none;}
.info-area.event__sorting .info-area__select {width:calc(100% - 82px);}
.info-area.event__sorting .info-area__search {float:right;}
.info-area.event__sorting .info-area__search-content {padding-bottom:25px;border-bottom:1px solid #d3d3d3;}
.info-area.event__sorting .info-area__search-content .select1 {font-size:13px;}
.info-area.event__sorting .info-area__search-content table {width:100%;}
.info-area.event__sorting .info-area__search-content table th, .info-area.event__sorting .info-area__search-content table td {border-bottom:1px solid #d3d3d3;}
.info-area.event__sorting .info-area__search-content table th {padding-left:18px;font-size:14px;color:#555;}
.info-area.event__sorting .info-area__search-content table td {padding:9px 18px 9px 7px;}
.info-area.event__sorting .form-wrap4__cell label {display:inline-block;padding-bottom:4px;font-size:14px;width:50%;float:left;}


/*기획전,이벤트 상품 상세*/
.event_title {position:relative;padding:18px 50px 18px 18px; font-size:10px;color:#999;}
.event_title strong {display:block;padding-bottom:7px;font-size:15px;color:#010101;font-weight:700;}
.sns-circle.event {top:15px;right:10px;}
.sns-circle.event .sns-circle__sns-group {border:1px solid #c9c9c9;}
.product-list {position:relative; display: table; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; width:100%;padding-right: 1px; padding-bottom: 1px; background-color: #fff;}
.product-list:before {content:''; position:absolute; top:0px; left:0px; border-left:1px solid #ffffff; z-index:200;}
.product-list:after {content:''; display:block; clear:both;}
.product-list--column-2:after {content:''; display:block; clear:both;}
.product-list--column-2 li {width:50%; float:left;}
.product-list--column-3 li {width:50%; float:left; width:100%;}
.product-list>li {position:relative; margin-top:-1px; -webkit-box-sizing:border-box; box-sizing:border-box; top:1px;}
.product-list>li:before {content:''; position:absolute; top:0px; bottom:0px; right:-1px; left:0px; border:1px solid #f2f2f2;}
.product-item { position: relative; height: 309px; text-align: center; line-height: 1; font-size: 13px; }
.product-item:before, .product-item:after { clear: both; display: table; overflow: hidden; content: ""; }
.product-item__img { width: 126px; height: 126px; margin:14px auto 16px; }
.product-item__img img { max-width: 100%; }
.product-item__brand1 {font-size:14px;line-height:1;font-weight: 600;color: #010101;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 6px;}
.product-item__tit1 { margin: 6px 20px 0;color: #777; font-size:13px;line-height:1.3;height:2.6em;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;word-wrap:break-word; }
.product-item__price1 { margin-top:14px; }
.product-item__price1 .price-dollar { display: block; font-size: 15px; color: #845de5; font-weight:600;}
.product-item__price1 .price-dollar .before { margin-right: .3em; font-size: 13px; color: #333; font-weight:400;}
.product-item__price1 .price-won { display: block; margin-top: .5em; font-weight: 300; color: #999; font-size: 13px;line-height:16px; }
.product-item__label1 {position:relative;top:inherit;left:inherit;margin-top:6px;}
.product-item__price1 .price-won:before { content: '('; }
.product-item__price1 .price-won:after { content: ')'; }

.event__sorting__result {padding:9px 0 18px;text-align:center;font-size:13px;color:#666;line-height:16px;background:#f2f2f2;}
.product-item .detail_view {position:absolute;top:0;left:0;right:0;bottom:0;display:block;text-indent:-999em;z-index:5; }
.product-list.type2 {width:100%;}
.product-list.type2 > li {float:none;width:100%;padding:16px 9px;border-bottom:1px solid #f7f7f7;}
.product-list.type2 > li:before {}
.product-list.type2 .product-item {height:auto;text-align:left;}
.product-list.type2 .product-item__wrap {display:table;width:100%;}
.product-list.type2 .product-item__wrap .product-item__img {display:table-cell;vertical-align:top;}
.product-list.type2 .product-item__wrap .product-item__info {display:table-cell;vertical-align:top;padding-left:14px;}
.product-list.type2 .product-item__tit1 {margin:6px 0 0;}
.u-wrapper3.event {background:#031a3c;}

/* 베스트 */
.product-list-best__tab {padding:9px;background:#f2f2f2;overflow:hidden;border-top:1px solid #e5e5e5;}
.product-list-best__tab .info-area__cnt {width:calc(100% - 45px); height:auto; line-height:auto; }
.product-list-best__tab .info-area__option { height:auto; line-height:1; }
.product-list-best__tab .info-area__list-type {background:#f2f2f2;border-left:0;}
.product-list-best__tab .info-area__list-type a {height:30px;}
.product-list-best__tab ul {display:inline-block;}
.product-list-best__item {counter-reset:num;}
.product-list-best__item li {border-bottom:1px solid #f7f7f7;}
.product-list-best__item li:before {content:"" counter(num);position:absolute;top:15px;left:18px;bottom:inherit;right:inherit;border:0;counter-increment:num 1;font-size:18px;color:#845de5;font-weight:600;z-index:2;}
.product-list-best__item li:nth-child(1n) {border-left:1px solid #f7f7f7;}
.product-list-best__item li:first-child {float:none;width:100%;}
.product-list-best__item li:first-child .product-item__label1 {position:absolute;top:60px;left:18px;}
.product-list-best__item li:first-child .product-item__label1 .label3 {display:block;}
.product-list-best__item li:first-child .product-item__label1 .u-tag {display:block;width:50px;}
.product-list-best__item li:first-child .product-item {height:277px;}
.product-list-best__item li:first-child:before {width:50px;height:50px;background:#845de5;border-radius:50%;color:#fff;text-align:center;line-height:35px;z-index:1;}
.product-list-best__item li:first-child:after {content:"BEST";display:block;position:absolute;top:42px;left:18px;width:49px;text-align:center;font-size:10px;color:#c3b1f6;z-index:2;}
.product-list-best__item.type2 li:first-child {padding:0;}
.product-list-best__item.type2 li:first-child .product-item {text-align:center;}
.product-list-best__item.type2 li:first-child .product-item__tit1 {margin:6px 20px 0;}
.product-list-best__item.type2 li:first-child .product-item__wrap {display:block;}
.product-list-best__item.type2 li:first-child .product-item__wrap .product-item__img {display:block;}
.product-list-best__item.type2 li:first-child .product-item__wrap .product-item__info {display:block;padding:0;text-align:center;}
.product-list-best__item.type2 li:before {content:"" counter(num) !important;position:absolute;top:15px;left:18px;bottom:inherit;right:inherit;border:0;counter-increment:num 1;font-size:18px;color:#845de5;font-weight:600;z-index:22;}
.product-list-best__item.type2 li:first-child:before {content:"";position:absolute;top:15px;left:18px;bottom:inherit;right:inherit;display:block;width:49px;height:49px;background:#845de5;border-radius:50%;color:#fff;text-align:center;line-height:35px;z-index:1;}
.product-list-best__item.type2 li:first-child:after {content:"BEST";display:block;position:absolute;top:42px;left:18px;width:49px;text-align:center;font-size:10px;color:#c3b1f6;z-index:2;}

/*세일*/
.product-slide__sale {position:relative;}
.product-slide__sale .product-slide__option {position:absolute;bottom:23px;left:0;width:100%;text-align:center;z-index:10;}
.product-slide__sale .product-slide__option .product-slide__pager {margin-bottom:0;}
.product-list-sale__item img {max-width:100% !important}
.product-slide__sale .bx-controls {position:absolute;bottom:9px;right:9px;z-index:10;}
.product-slide__sale a[class*="start"] { display: block; float: left; position: relative; overflow: hidden; text-indent: 100%; white-space: nowrap; width: 30px; height: 30px;border:1px solid #fff;border-radius:50%; }
.product-slide__sale a[class*="start"]:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 0; height: 0; border-width: 5px 0 5px 10px; border-style: solid; border-color: transparent transparent transparent #fff; content: ''; }
.product-slide__sale a[class*="stop"] { display: block; float: left; position: relative; overflow: hidden; text-indent: 100%; white-space: nowrap; width: 30px; height: 30px;border:1px solid #fff;border-radius:50%;}
.product-slide__sale a[class*="stop"]:before { position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 3px; height: 10px; border-left: 3px solid #fff; border-right: 3px solid #fff; content: ''; }
.product-slide__sale .bx-controls-auto a.active { display: none; }
.info-area.sorting .info-area__search-content table {width:100%;}
.info-area.sorting .info-area__search-content table th, .info-area.sorting .info-area__search-content table td {border-bottom:1px solid #d3d3d3;}
.info-area.sorting .info-area__search-content table th {padding-left:18px;font-size:14px;color:#555;}
.info-area.sorting .info-area__search-content table td {padding:9px 18px 9px 7px;}
.info-area.sorting .form-wrap4__cell label {display:inline-block;padding-bottom:4px;float:left;width:50%;font-size:14px;}
.info-area.sorting .sorting_text {padding:0 0 0 22px;width:calc(41% - 15px);height:30px;border:1px solid #d3d3d3;background:#fff url(../images/common/dollar.png) 13px center no-repeat;-webkit-background-size:6px 13px;background-size:6px 13px;}
.info-area.sorting .sorting_text2 {padding:0 0 0 10px;width:calc(41% - 15px);height:30px;border:1px solid #d3d3d3;}

.sale-product-rolling {position:relative;padding-bottom:20px;}
.sale-product-rolling .product-list-best__item li:before, .sale-product-rolling .product-list-best__item li:after {display:none;}
.sale-product-rolling .product-list-best__item li .product-item__label1 {top:0;}
.sale-product-rolling .product-list-best__item li {border-bottom:0;}
.sale-product-rolling .bx-pager {font-size:0px; text-align:center; }
.sale-product-rolling .bx-pager .bx-pager-item {display:inline-block;margin:0 1.5px;}
.sale-product-rolling .bx-pager .bx-pager-item a {display:block; min-width:22px; height:2px; background-color:#d3d3d3; text-indent:-9999px;}
.sale-product-rolling .bx-pager .bx-pager-item a + .bx-pager-item a {margin-left:5px;}
.sale-product-rolling .bx-pager .bx-pager-item a.active {background-color:#845de5;}


/* 원데이특가 */
.oneday {position:relative;width:100%;height:104px;background:url(../images/oneday/bg-time.jpg) top center repeat-x;-webkit-background-size:auto 104px;background-size:auto 104px;}
.oneday__item {position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align:center;}
.oneday__item .title {font-size:10px;font-weight:600;color:#e74a7a;}
.oneday__item .title:before {content:"";display:inline-block;margin-right:3px;width:13px;height:13px;background:url(../images/oneday/icon_time.png) 0 0 no-repeat;-webkit-background-size:13px 13px;background-size:13px;vertical-align:middle;}
.timer1 { overflow:hidden; display:table; width:197px;height:50px; table-layout:fixed; line-height:1; font-family:Arya, sans-serif; color:#fff; font-weight:700; text-align:center;}
.timer1__piece { position:relative; display:table-cell; width:50px; height:inherit; font-size:24px; text-align:center; vertical-align:middle; }
.timer1__bar { -webkit-box-sizing:border-box; box-sizing:border-box; display:table-cell; height:inherit; font-size:24px; color:#fff; vertical-align:middle; padding-bottom:0.3em;}
.timer1__num { display:block; position:relative; z-index:11;}
.timer1__unit { display:block; font-size:11px; text-transform:uppercase; font-weight:400;}
.timer1__effect { position:absolute; top:0; left:0;}
.timer1_min { color:#fff; display:inline-block; width:auto; height:auto; font-weight:400; }
.timer1_min .timer1__piece { display:inline-block; width:auto; height:auto; color:inherit; vertical-align:top;}
.timer1_min .timer1__bar { position:relative; bottom:0.05em; display:inline-block; width:auto; height:auto; padding:0; vertical-align:top; }
.oneday-days { visibility:hidden;}
.oneday-hours { color:#e54c7a; }
.oneday-minutes { color:#de4fa9; }
.oneday-seconds { color:#b659e1; }

/*타임세일*/
.timesale_swiper.lenear {padding:20px 0;border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;}
.timesale_swiper .lenear__line {height:auto;}
.timesale_swiper .lenear__menu {margin:0 0 0 -24px;}
.timesale_swiper .lenear__menu ul li {width:97px;padding:0 10px;text-align:center;}
.timesale_swiper .lenear__menu ul li a {font-size:11px;color:#010101;}
.timesale_swiper .lenear__menu ul li img {display:block;padding-bottom:10px;width:97px;}
.timesale_swiper .lenear__bg-prev, .timesale_swiper .lenear__bg-next, .timesale_swiper .lenear__menu ul li a:before {display:none;}

/* dcoupon */
.dcoupon-head {padding:0 18px;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;background:#f2f2f2;}
.dcoupon-head__box {padding:20px 0 15px;font-size:14px;line-height:17px;color:#999;text-align:center;} 
.dcoupon-head__box:nth-child(2) {border-top:1px solid #d3d3d3;}
.dcoupon-head__box strong {font-weight:600;color:#845de5;}
.dcoupon-head__box strong.bl {color:#010101;}
.dcoupon-head__box a {display:block;margin:13px auto 0;width:160px;height:36px;background:#fff;border:1px solid #d3d3d3;font-size:13px;color:#888;text-align:center;line-height:33px;}
.dcoupon-head__box a.link {display:inline;padding:0;width:auto;height:auto;background:none;border:none;color:#845de5;text-decoration:underline;font-size:14px;font-weight:600;}
.dcoupon-head__box.login a {width:100%;}
.coupon-item {position:relative;background:#f9f9f9;border:1px solid #f2f2f2;-webkit-box-sizing:border-box;box-sizing:border-box;}
.coupon-item_wrap {width:calc(100% - 40px); }
.coupon-item_title-img {width:200px; height:19px; background:url(../images/coupon/dongwha-coupon.jpg) 0 0 no-repeat; margin:20px auto 0 auto;-webkit-background-size:200px 200px;background-size:200px;}
.coupon-item.type-two .coupon-item_title-img {background:url(../images/coupon/dongwha-coupon_color2.jpg) 0 0 no-repeat;-webkit-background-size:200px 200px;background-size:200px;}
.coupon-item_saleinfo {font-size:38px; color:#333; letter-spacing:-.02em; text-align:center; margin-top:20px; font-family:Arya, sans-serif; font-weight:600; text-transform:uppercase; line-height:36px;}
.coupon-item_saleinfo2 {padding-bottom:14px;font-size:14px;line-height:17px; color:#999; text-align:center;}
.coupon-item_download {position:absolute; top:1px; right:1px; bottom:1px; width:40px; text-align:center; background:#a073fb;}
.coupon-item.type-two .coupon-item_download {background:#c56fe7;}
.coupon-item_download label {position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.coupon-brand__search {position:relative;}
.coupon-brand__search:before {content:"";display:block;width:100%;height:37px;background:#fff;}
.coupon-brand__search:after {content:"";display:block;position:absolute;top:28px;left:0;width:100%;height:9px;background:#f2f2f2;}
.coupon_search_body {padding-bottom:9px;background:#f2f2f2;border-bottom:25px solid #fff;}

.coupon-item.coupon-end:before {content:"";display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:url(../images/event/bg-couponevent-end.png) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;z-index:2;}
.coupon-item.coupon-end:after {content:"";display:block;position:absolute;top:50%;left:50%;width:67.5px;height:58px;background:url(../images/coupon/bg-coupon-end_text.png) 0 0 no-repeat;-webkit-background-size:67.5px 67.5px;background-size:67.5px;z-index:3;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}

#search-type1 iframe {width:100%;height:1120px;position:relative;overflow:hidden;}
#search-type2 iframe {width:100%;height:620px;position:relative;overflow:hidden;}

.scroll_position.default {position:relative;}
.scroll_position.fixed {position:fixed;top:0;left:0;width:100%;z-index:10;background:#fff}

.lenear__menu ul li.is-on a {color:#8f61ec;}
.lenear__menu ul li.is-on a:after {content:''; display:block; position:absolute; bottom:-1px; width:100%; border-bottom:3px solid #8f61ec;}

 
/* 라인 */
.bb-gray {border-bottom:9px solid #f2f2f2}

/* dpoint*/
.coupon-item.point {}
.coupon-item.point .coupon-item_wrap {width:100%; }
.coupon-item.point .coupon-item_download {display:table;position:relative;width:100%;height:48px;top:inherit;right:inherit;bottom:inherit;text-align:left;background:#6c6bfa;}
.coupon-item.point .coupon-item_download .txt {display:table-cell;padding-left:12px;font-size:12px;color:#fff;vertical-align:middle;}
.coupon-item.point .coupon-item_download .link {display:table-cell;padding-right:10px;text-align:right;vertical-align:middle;}
.coupon-item.point .coupon-item_download .link a {display:block;min-width:88px;height:30px;line-height:27px;border:1px solid #e2e2e2;text-align:center;font-size:12px;color:#6c6bfa;background:#fff;}
.coupon-item.point .coupon-item_title-img {background:url(../images/dpoint/dongwha-point.jpg) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100%;}
.coupon-item.point .coupon-item_saleinfo {padding-bottom:9px;font-size:32px;line-height:35px;}
.dpoint_txt {margin-top:23px; padding-bottom:27px;font-size:14px;color:#222;text-align:center;border-bottom:1px solid #e5e5e5;}
.dpoint_txt img {margin-top:20px; max-width:100%; vertical-align:top;}
.dpoint_btn {padding:23px 0;border-bottom:9px solid #f2f2f2;}
.dpoint_btn a {display:block;margin:0 auto;width:179px;height:50px;text-align:center;line-height:50px;border:1px solid #845de5;color:#845de5;}
.dpoint_btn a span:before {content:"";display:inline-block;margin-right:6px;vertical-align:middle;width:21px;height:21px;background:url(../images/dpoint/dongwha-point_icon1.png) 0 0 no-repeat;-webkit-background-size:21px 21px;background-size:21px;} 
.coupon-list { overflow: hidden;margin:-15px 18px 15px 3px;}
.coupon-list:before { display:block; margin-top:8px; content:''; height:0; background:red;}
.coupon-list__item {-webkit-box-sizing:border-box;box-sizing:border-box;float:left;width:100%;margin-top:15px;padding-left:15px;}
@media (min-width:768px) {
	.coupon-list__item {width:50%}
}
@media (min-width:1024px) {
	.coupon-list__item {width:33.333%}
}

/*3시간샵*/
.re-search {height: 151px;-webkit-box-sizing:border-box;box-sizing:border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}

/* brand */
.brandview_title {padding:10px 18px;border-bottom:2px solid #e5e5e5;text-align:center;}
.brandview_title img {height:40px;}
.brandview_title.small {padding:18px;border-bottom:none;}
.brandview_title.small img {height:35px;}
.brandview_content {padding:18px 18px 27px;font-size:13px;color:#777;line-height:16px;border-bottom:9px solid #f2f2f2;}

/* 상품상세*/
.detail-label { position:absolute;top:28px;left:18px;z-index:1;}
.detail-label span {display:block;margin-bottom:2px;}
.default .bx-controls {display:none;}
.product_footer {position:fixed;bottom:0;left:0;width:100%;padding:10px 9px;border-top:1px solid #ccc;background:#f2f2f2;z-index:100;-webkit-box-sizing:border-box;box-sizing:border-box;}

/*이벤트*/
.tab5.default li a:after {height:auto}
.event_brand {width:100%;margin:0 auto;border:1px solid #e5e5e5;border-bottom:0;border-left:0;table-layout:fixed;}
@media (min-width: 600px) { .event_brand { width:360px;} }
.event_brand td {padding:0;border:1px solid #e5e5e5;text-align:center;}
.event_brand td a {position:relative;display:block; height:0; padding-top:100%;}
.event_brand td img {position:absolute;top: 0;left:0;right:0;bottom:0;max-width:100%;max-height:100%;margin:auto;}
.event_brand_down {border-bottom:1px solid #f2f2f2;}
.event_brand_down table {width:100%;table-layout:fixed;}
.event_brand_down table td {padding-bottom:15px;text-align:center;}
.event_brand_down table td:nth-child(2n) {padding-left:10px;}
.event_brand_box {padding:13px 0 18px;height:165px;border:1px solid #ebebeb;-webkit-box-sizing:border-box;box-sizing:border-box;}
.event_brand_box a {display:block;margin:9px auto 0;text-align:center;width:100px;height:30px;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #845de5;color:#845de5;line-height:30px;}
.event_brand_down__item {margin:0 auto;width:95px;height:95px;background:url(../images/event/bg-brandevent.jpg) 0 0 no-repeat;-webkit-background-size:95px 95px;background-size:95px;}
.event_brand_down__item .won {display:block;margin:0;font-size:20px;line-height:23px;font-weight:700;letter-spacing:-1px;color:#4b361c;padding-top:30px;text-align:center;}
.event_brand_box.coupon {padding-top:20px;}
.event_coupon {padding-top:12px;}
.event_coupon_down__item {background:url(../images/coupon/dongwha-coupon_color2.jpg) top center no-repeat;-webkit-background-size:132px 132px;background-size:132px;}
.event_coupon_down__item .coupon_text {display:block;margin:0;padding-top:24px;font-size:39px;line-height:42px;color:#333;font-weight:700;}
.event_coupon_down__item .coupon_text2 {font-size:12px;color:#999;line-height:15px;}
.event_brand_box.coupon a {margin:15px auto 0;border-color:#c56fe7;color:#c56fe7;}
.event_brand_box.ready {position:relative;padding:0;background:url(../images/event/bg-couponevent-ready.jpg) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;}
.event_brand_box.ready .text {display:block;position:absolute;top:50%;left:50%;width:70px;height:0;padding-top:35px;overflow:hidden;background:url(../images/event/bg-couponevent-ready_text.jpg) 0 0 no-repeat;-webkit-background-size:70px 70px;background-size:70px;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.event_brand_box.coupon.end {position:relative;}
.event_brand_box.coupon.end:before {content:"";display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:url(../images/event/bg-couponevent-end.png) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;z-index:2;}
.event_brand_box.coupon.end:after {content:"";display:block;position:absolute;top:50%;left:50%;width:67.5px;height:57px;background:url(../images/event/bg-couponevent-end_text.png) 0 0 no-repeat;-webkit-background-size:67.5px 67.5px;background-size:67.5px;z-index:3;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.free-gift {padding:20px 18px;border-bottom:2px solid #e5e5e5;}
.free-gift .product {position:relative;padding-bottom:16px;text-align:center;}
.free-gift .product .ico {position:absolute;top:0;left:0;width:50px;height:50px;border:1px solid #e8defc;text-align:center;font-size:10px;color:#855bef;font-weight:600;-webkit-box-sizing:border-box;box-sizing:border-box;}
.free-gift .product .ico:before {content:"";display:block;margin:9px auto 4px;width:17px;height:17px;background:url(../images/event/ico-freegift.png) 0 0 no-repeat;-webkit-background-size:17px 17px;background-size:17px;}
.free-gift .product img {width:112px;}
.free-gift .product_info .title {font-size:14px;color:#855bef;line-height:17px;font-weight:600;}
.free-gift .product_info .title_s {padding-top:12px;font-size:13px;color:#777;}
.event_result {padding:23px 0 12px;font-size:45px;line-height:48px;color:#7547e8;font-weight:700;text-align:center;}
.event_result_content img {width:100%;}


/*메인*/








/* 통역관광안내사 */
.salesinquiry {}
.salesinquiry-title {padding:0 0 25px;text-align:center;font-size:13px;color:#777;line-height:16px;}
.salesinquiry-top {text-align:center;}
.salesinquiry-top .p01 {padding-bottom:9px;font-size:14px;color:#333;line-height:17px;}
.salesinquiry-top .p01 strong {color:#e25d84;}
.salesinquiry-top .p02 {font-size:12px;color:#999;line-height:15px;}
.salesinquiry-top .btn_refresh {position:relative;display:block;margin:14px auto 0;width:44px;height:0;padding-top:44px;border:1px solid #e5e5e5;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;}
.salesinquiry-top .btn_refresh:before {content:"";display:block;position:absolute;top:11px;left:50%;margin-left:-12px;width:24px;height:22px;background:url(../images/common/ico-refresh.png) 0 0 no-repeat;-webkit-background-size:24px 24px;background-size:24px;}
.salesinquiry-content {margin-top:23px;}
.salesinquiry-content .title {padding:18px;background:#f2f2f2;border-top:1px solid #d3d3d3;font-size:14px;color:#333;}
.salesinquiry-content table {width:100%;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
.salesinquiry-content table th {background:#fafafa;padding:13px 10px;text-align:left;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;font-size:13px;color:#555;}
.salesinquiry-content table td {padding:13px 15px;border-bottom:1px solid #f2f2f2;font-size:13px;color:#777;}
.interpretation_info {}
.salesinquiry-content table.type2 {border-top:0;border-bottom:1px solid #e5e5e5;}
.salesinquiry-content table.type2 th {background:#fff;color:#777;border-right:none;border-bottom:1px dashed #f2f2f2;}
.salesinquiry-content table.type2 th.name {border-top:1px solid #e5e5e5;color:#d3d3d3;}
.salesinquiry-content table.type2 th div {display:inline;font-size:15px;}
.salesinquiry-content table.type2 th .korea {color:#010101;}
.salesinquiry-content table.type2 th .eng {color:#999;}
.salesinquiry-content table.type2 td {text-align:right;border-bottom:1px dashed #f2f2f2;color:#555;}

/* 앱 설정 */
.app-setting {padding:0 0 20px;background:#f5f5f5;}
.app-setting h2 {padding:34px 0 7px;font-size:12px;color:#777;line-height:15px;}
.app-setting__link {position:relative;display:block;padding:13px 38px 13px 18px;font-size:15px;color:#000;line-height:18px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:#fff;font-weight:500;}
.app-setting__link.noti {font-size:13px;color:#e15d84;}
.app-setting__link:after {content:"";display:block;width:9px;height:9px;border-top:2px solid #ccc;border-right:2px solid #ccc;position:absolute;top:18px;right:19px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.app-setting__link + .app-setting__link {border-top:0;}
.app-setting__link.time {padding:13px 18px}
.app-setting__link.switch:after, .app-setting__link.time:after {display:none;}
.switch_btn {display:block;position:absolute;top:6px;right:18px;width:51px;height:31px;float:right;}
.switch_btn input {display:none;}
.switch_btn__round { position: absolute;top: 0; left: 0; right: 0;bottom: 0;background:#fff;border:1px solid #e6e6e6;-webkit-box-shadow: 0 0 1px #e6e6e6;box-shadow: 0 0 1px #e6e6e6;cursor: pointer; -webkit-transition: .4s; -o-transition: .4s; transition: .4s;border-radius: 34px;}
.switch_btn__round:before {content: ""; position: absolute; top:0;left:0;height: 28px;width: 28px;background:#fff;-webkit-transition: .4s;-o-transition: .4s;transition: .4s;border-radius: 50%;-webkit-box-shadow:1px 1px 1px #ababab;box-shadow:1px 1px 1px #ababab;}
.switch_btn input:checked + .switch_btn__round {background:#855ce6;border-color:#855ce6;}
.switch_btn input:focus + .switch_btn__round {-webkit-box-shadow: 0 0 1px #855ce6;box-shadow: 0 0 1px #855ce6;border-color:#855ce6;}
.switch_btn input:checked + .switch_btn__round:before {-webkit-transform: translateX(21px); -ms-transform: translateX(21px); transform: translateX(21px);-webkit-box-shadow:none;box-shadow:none}
.app-setting__link .info {float:right;display:inline-block;}
.app-setting__link .info input {position:relative; float:right; width:auto; margin-right:-18px;font-size:15px;line-height:18px;text-align:right;color:#6e6e6e;border:none; padding:0;  }
.app-setting__link .info input:focus, .app-setting__link .info input:active {outline:none;}
/*
input[type=time]::-webkit-clear-button, 
input[type=time]::-webkit-outer-spin-button, 
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-clear { display:none; appearance: none;}
*/
input[type="time" i]:after {content:"";display:block;width:15px;height:100%;background:#fff;position:absolute;top:0;right:0;}

/*@media all and (max-width:320px) {
	.app-setting__link .info {display:block;float:none;padding-top:6px;}
}*/
.app-setting__link.call:after {top:13px;right:15px;width:16px;height:16px;border:0;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);background:url(../images/common/ico-call2.png) 0 0 no-repeat;-webkit-background-size:16px 16px;background-size:16px}
.app-setting__link.call .info {padding-right:6px;}
.app-setting__link p {padding-top:12px;}
.app-setting__msg {border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:#fff;}
.app-setting__msg ul {padding:0 18px;}
.app-setting__msg ul li {position:relative;padding:15px 43px 15px 0;border-bottom:1px solid #e6e6e6;font-size:12px;color:#333;}
.app-setting__msg ul li:last-child {border-bottom:0;}
.app-setting__msg ul li.new {font-weight:600;}
.app-setting__msg ul li.new:after {content:"N";display:block;position:absolute;right:0;top:50%;width:17px;height:17px;border:1px solid #855bef;color:#855bef;border-radius:50%;font-size:9px;line-height:17px;text-align:center;font-weight:600;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);}
.app-setting__msg ul li .date {display:block;padding-top:5px;font-size:10px;color:#999;}
.checkbox-app { display:inline-block; position:relative; cursor: pointer; vertical-align:middle;}
.checkbox-app input { opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; margin:0;}
.checkbox-app input+i { float:left; -webkit-box-sizing:border-box; box-sizing:border-box; width:64px; height:42px;background:url(../images/common/ico-app-setting.png) 0 0 no-repeat;-webkit-background-size:127.5px 42px;background-size:127.5px 42px; }
.checkbox-app input:checked+i { background-position:-64px 0;}





.article1 { word-break:break-all;}
.article1 img { max-width:100%; vertical-align:middle;}

/*----------------------------------------중문------------------------------------------*/
/*메인*/
.main-banner__content.cn .go_event a {background:#03193c;opacity:0.8;border:0;}
.main-banner__content.cn #slide-counter {background:#b2b3bb;border-radius:10px}
.main-banner__content.cn #slide-counter:before {display:none;}
.oneday-title.cn {background:#fff4f9 url(../images/main/bg-oneday_cn.jpg) top center no-repeat;-webkit-background-size:auto 99px;background-size:auto 99px;} /* 메인 > 원데이특가 */ 
.recommend-brand {position:relative;display:inline-block;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.recommend-brand li {position:relative;float:left;width:33%;height:80px;vertical-align:middle;line-height:80px;text-align:center;border-left:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;-webkit-box-sizing:border-box;box-sizing:border-box;}
.recommend-brand li img {max-width:80%;max-height:80%;vertical-align:middle; -webkit-filter: grayscale(100%); -webkit-filter: grayscale(1); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter: gray; filter: grayscale(100%); }
.recommend-brand li a {display:block;position:absolute;top:0;left:0;right:0;bottom:0;}
.recommend-brand li:nth-child(3n), .recommend-brand li:nth-child(6n) {width:34%;}
.recommend-brand__nodata {position:relative;padding:0;background:url(../images/event/bg-couponevent-ready.jpg) 0 0 no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;}
.recommend-brand__nodata .text {display:block;position:absolute;top:50%;left:50%;width:70px;height:0;padding-top:35px;overflow:hidden;background:url(../images/event/bg-couponevent-ready_text_cn.jpg) 0 0 no-repeat;-webkit-background-size:70px 70px;background-size:70px;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
/*//메인*/
.member-info__ico.cn:before {content:''; display:inline-block; background:url(../images/common/ico-member-level_cn.png) no-repeat; -webkit-background-size:321px 53px; background-size:321px 53px; background-position:-268px 0;width:53px; height:inherit;} /* 마이페이지 > 회원*/
.cs-guide.cn li:nth-child(3) {float:none;width:100%;overflow:hidden;text-align:center;}
.cs-guide.cn li:nth-child(3):before {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:2;}
.cs-guide.cn li:nth-child(3) a {position:relative;display:inline-block;z-index:3;}
.cs-guide.cn li:nth-child(2):after {background-position:-62px -46.5px;} /* 고객센터 > 메인 */
.cs-guide.cn li:nth-child(3):after {position:relative;display:inline-block;top:inherit;right:inherit;width:28px;height:16px;background-position:0 -67.5px;vertical-align:middle;z-index:3;} /* 고객센터 > 메인 */
.product-view__detail_img img {width:100%;} /*상품상세 > 아코디언내 이미지*/