@charset "UTF-8";

/*table*/
.table8 { width:100%; font-size:14px; text-align:left; }
.table8--next { margin-top:18px; }
.table8--fixed { table-layout:fixed;}
.table8__th { padding-left:10px; padding-right:10px; border-width:1px 0; border-style:solid; border-color:#d3d3d3; background-color:#f2f2f2; color:#555;}
.table8__td { height:30px; padding:9px 14px; border-width:1px 0; border-style:solid; border-color:#d3d3d3; color:#010101; }
.table8__th:first-child,
.table8__td:first-child { border-left-width:1px; }
.table8__th:last-child,
.table8__td:last-child { border-right-width:1px; }
.table8__td--note { color:#999; font-size:12px; }
.table8 tr.is-focus>.table8__th,
.table8 tr.is-focus>.table8__td { border-color:#aaa; position:relative;}
.table8 tr.is-focus>.table8__th:before,
.table8 tr.is-focus>.table8__td:before { position:absolute; top:-1px; left:-1px; right:0; border-top:1px solid #aaa; content:''; }
.table8 tr.is-focus>.table8__th:after,
.table8 tr.is-focus>.table8__td:after { position:absolute; bottom:-1px; left:-1px; right:0; border-top:1px solid #aaa; content:''; }
.table8--min { font-size:12px; }
.table8--min .table8__th { background-color:#fafafa; color:#555; }
.table8--min .table8__td { padding-top:4px; padding-bottom:4px; }
.table8--min input:not([type='checkbox']),
.table8--min input:not([type='radio']),
.table8--min input,
.table8--min input[type='checkbox']+i,
.table8--min input[type='radio']+i,
.table8--min textarea,
.table8--min select { font-size:12px; }
.table8--min .form-wrap4--next { margin-top:9px; }
.table8--min .form-wrap4--next:before { top:-5px; }
