@charset "UTF-8";

/* font family */
.font1 { letter-spacing: -.02em; }
.font2 { letter-spacing: .2em; text-transform: uppercase; font-weight: 400; text-indent: .2em; }

/* text transform */
.text-uppercase { text-transform:uppercase; }

.white-space-nowrap { white-space:nowrap; word-break:keep-all;}
.white-space-normal { white-space:normal;}

/* font size */
.size-10 { font-size:10px; }
.size-11 { font-size:11px; }
.size-12 { font-size:12px; }
.size-13 { font-size:13px; }
.size-14 { font-size:15px; }
.size-15 { font-size:15px; }
.size-16 { font-size:16px; }

/*line-height*/
.line-height-1\.5 { line-height:1.5; }

/* font color */
.gray-101010 { color:#101010; }
.gray-333333 { color:#333; }
.gray-555555 { color:#555; }
.gray-666666 { color:#666; }
.gray-999999 { color:#999; }
.gray-aaaaaa { color:#aaa; }
.gray-dddddd { color:#ddd; }

/*글자색*/
.gray-88 { color:#888; }
.gray-77 { color:#777; }
.gray-a5 { color:#a5a5a5; }
.gray-d8 { color:#d8d8d8; }

.color0 { color: #fff; }
.color1 { color: #845de5; }
.color2 { color: #fa6f9d; }
.color3 { color: #07b6b6; }
.color4 { color: #049ed1; }
.color5 { color: #fd8c59; }
.color6 { color: #ffd02d; }
.color7 { color: #5cf1f6; }
.color9 { color: #e05f85; }
.color11 {color: #ab95ec;}
.color12 {color: #d80930;}

/* font weight */
.weight-regular { font-weight:400; }
.weight-medium { font-weight:600; }
.weight-bold { font-weight:700; }

/* text-align */
.align-center { text-align:center; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.align-last-right { text-align-last:right; }
.align-last-end { text-align-last:end; }

.u-rtl { direction:rtl; } 